.hxtool_datatables_buttons {
	position: absolute;
	right: 0;
	margin-top: -45px;
	margin-right: 12px;
}

.hxtool_datatables_popup_buttons {
}


.dt-button {
  font-size: 12px;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.9) !important;
  border-color: #0000 !important;
  border-radius: 0 !important;
  padding: 5px !important;
}

.dt-button:hover, .dt-button:focus, .dt-button.focus {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: rgba(255, 255, 255, 1.0) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.dt-button-info {
  background: rgb(31, 31, 31) !important;
  color: rgba(255, 255, 255, 0.9) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dt-button-info h2 {
  background: #000000 !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.dataTables_filter {
  position: absolute;
  right: 0;
  margin-top: -47px;
  margin-right: 218px;
  font-family: 'Open Sans'
  font-size: 12px;
  font-weight: bold;
}

.dataTables_filter input {
  padding: 4px;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  margin-left: 6px;
}

.dataTables_filter label {
  font-size: 12px;
}

.dataTables_paginate {
  text-align: right;
  font-family: 'Open Sans';
  margin-top: 12px;
  margin-bottom: 12px;
}

.paginate_button {
  line-height: 100%;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2) !important;
  border-color: #0000 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  margin-right: 6px;
}

.disabled {
  color: rgba(255, 255, 255, 0.3) !important;
}

.paginate_button:hover {
  cursor: pointer;
} 
