@import url("/static/hxtool-css/hxtool-grid.css");
@import url("/static/hxtool-css/hxtool-top-nav.css");
@import url("/static/hxtool-css/hxtool-table.css");
@import url("/static/hxtool-css/hxtool-panel.css");
@import url("/static/hxtool-css/hxtool-datatables.css");
@import url("/static/hxtool-css/hxtool-typography.css");
@import url("/static/hxtool-css/hxtool-chartjs.css");
@import url("/static/hxtool-css/hxtool-scriptbuilder.css");
@import url("/static/hxtool-css/hxtool-login.css");
@import url("/static/hxtool-css/hxtool-host.css");
@import url("/static/hxtool-css/hxtool-rtioc.css");

body {
	background: radial-gradient(62vw at 50% 0%, #355881 0%, #222222 100%);
}

select {
	color: black;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	line-height: 24px;
	padding: 0 8px;
	font-size: 12px;
	height: 24px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 0;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.2);
	font-weight: bold;
	letter-spacing: 0px;
	cursor: pointer;
	outline: 0;
	text-decoration: 0;
}

.hxtool_select_tail {
	position: relative;
	top: 1px;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 0;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.2);
	padding-right: 4px;
	font-weight: bold;
	cursor: pointer;
}


::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: inherit;
}

::-webkit-scrollbar-thumb
{
  background: #006b8c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mainPlaceHolder {
	margin: 12px 12px;
	min-height: calc(100vh - 84px);
}

.hxtool_shader {
	background: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.hxtool_input_small {
	padding: 4px;
	font-weight: bold;
}

.hxtool_input_select {
	padding: 4px;
	font-weight: bold;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.hxtool_progress {
	background: #11a962;
	color: rgba(255, 255, 255, 1.0);
	font-weight: bold;
	border-radius: 1px;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 2px;
}

.fe-btn--hxtool-main {
  background-color: #006b8c;
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-disabled {
  background-color: #555555;
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
  opacity: 0.2;
}

.fe-btn--hxtool-main-remove {
  background-color: #ea475b;
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-link {
  background-color: #0a6d3f;
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-top {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-dropdown {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-master {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main:hover, .fe-btn--hxtool-main:focus, .fe-btn--hxtool-main.focus {
  background-color: #0fb8dc;
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-remove:hover, .fe-btn--hxtool-main-remove:focus, .fe-btn--hxtool-main-remove.focus {
  background-color: #ff7b88;
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-link:hover, .fe-btn--hxtool-main-link:focus, .fe-btn--hxtool-main-link.focus {
  background-color: #11a962;
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-top:hover, .fe-btn--hxtool-main-top:focus, .fe-btn--hxtool-main-top.focus {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-dropdown:hover, .fe-btn--hxtool-main-dropdown:focus, .fe-btn--hxtool-main-top.dropdown {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main-master:hover, .fe-btn--hxtool-main-master:focus, .fe-btn--hxtool-main-top.master {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-info--hxtool-icon-ok {
	background-color: rgba(34, 153, 84, 0.1);
	border: 1px solid rgba(34, 153, 84, 0.3);
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.fe-info--hxtool-icon-warn {
	background-color: rgba(252, 223, 0, 0.1);
	border: 1px solid rgba(252, 223, 0, 0.3);
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.fe-info--hxtool-icon-deny {
	background-color: rgba(255, 123, 136, 0.1);
	border: 1px solid rgba(255, 123, 136, 0.3);
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.taskProfileRemove {
	float: right;
	margin-top: -8px;
}

.taskProfileModule {
	font-size: 14px; 
	font-weight: bold;
	border-bottom: 1px solid #10455B;
}

.taskProfileItem {
	margin-top: 24px;
}

.clt, .clt ul, .clt li {
     position: relative;
}

.clt ul {
    list-style: none;
    padding-left: 22px;
}

.clt li::before, .clt li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.clt li::before {
    border-top: 1px solid rgba(15, 184, 220, 0.4);
    top: 9px;
    width: 8px;
    height: 0;
}

.clt li::after {
    border-left: 1px solid rgba(15, 184, 220, 0.4);
    height: 100%;
    width: 0px;
    top: 2px;
}

.clt ul > li:last-child::after {
    height: 8px;
}

.hxtool_customconfig_selection_header {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(190, 190, 190, 0.5);
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.ms-selectable {
	background: rgba(255, 255, 255, 0.2) !important;
}

.ms-selection {
	background: rgba(255, 255, 255, 0.2) !important;
}

.ms-list li {
	border: 0 !important;
	border-bottom: 1px solid rgba(190, 190, 190, 0.3) !important;
	color: rgba(255, 255, 255, 0.8) !important;
	font-size: 12px;
}

.ms-list {
	border: 1px solid rgba(190, 190, 190, 0.5) !important;
}

.hxtool5_container {
	max-width: 1600px;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	width: 1600px;
	padding-left: 0;
	padding-right: 0;
	background: #49515d;
}

.hxtool5_content {
	max-width: 1616px;
	margin: 0;
	padding-left: 32px;
	padding-right: 8px;
	padding-top: 16px;
	min-height: calc(100vh - 60px);
	max-height: calc(100vh - 60px);
	height: 100vh;
	overflow-y: scroll;
}
