@import url("/static/hxtool-css/hxtool-grid.css");
@import url("/static/hxtool-css/hxtool-top-nav.css");
@import url("/static/hxtool-css/hxtool-table.css");
@import url("/static/hxtool-css/hxtool-panel.css");
@import url("/static/hxtool-css/hxtool-datatables.css");
@import url("/static/hxtool-css/hxtool-typography.css");
@import url("/static/hxtool-css/hxtool-chartjs.css");
@import url("/static/hxtool-css/hxtool-scriptbuilder.css");
@import url("/static/hxtool-css/hxtool-login.css");
@import url("/static/hxtool-css/hxtool-host.css");

body {
	background: radial-gradient(62vw at 50% 0%, #355881 0%, #222 100%);
}

select {
	color: black;
}


::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #0d1a2b;
}

::-webkit-scrollbar-thumb
{
  background: rgba(15, 184, 220, 0.4);
}

.mainPlaceHolder {
	margin: 12px 12px;
	min-height: calc(100vh - 84px);
}

.hxtool_shader {
	background: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.hxtool_input_small {
	padding: 4px;
	font-weight: bold;
}

.hxtool_input_select {
	padding: 4px;
	font-weight: bold;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.hxtool_progress {
	background: rgba(17, 169, 98, 0.2);
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 2px;
}

.fe-btn--hxtool-main {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.1);
}

.fe-btn--hxtool-main:hover, .fe-btn--hxtool-main:focus, .fe-btn--hxtool-main.focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.1);
}

.taskProfileRemove {
	float: right;
	margin-top: -8px;
}

.taskProfileModule {
	font-size: 14px; 
	font-weight: bold;
	border-bottom: 1px solid #10455B;
}

.taskProfileItem {
	margin-top: 24px;
}

