/* HXTool Top Navigation bar */

.hxtool_topnav_dropdown {
	background: rgba(0, 0, 0, 0.6) !important;
	position: absolute;
	box-shadow: 0 0.5px 5px 0 rgba(0, 0, 0, 0.25);
	display: none;
	z-index: 50 !important;
}

.hxtool_topnav_dropdown_child {
	width: 100%;
	color: #0fb8dc;
	text-align: left;
	background: transparent;
	border: 0;
}

.hxtool_topnav_dropdown_child:hover {
	background: rgba(0, 0, 0, 0.6);
	color: #66ebff !important;
}

.hxtool_topnav_left_container-left {
	position: absolute;
	display: none;
	margin-left: 24px;
}

.hxtool_topnav_right_container-right {
	float: right;
	text-align: right;
}

.hxtool_topnav_dropdown_divider {
	width: 100%;
	margin-right: 0px;
	border-top: 1px solid;
	height: 16px;
	padding-bottom: 0px;
	padding-left: 8px;
	font-size: 10px;
	color: #b3cacf;
	text-transform: none;
}

.hxtool_topnav_mainbutton {
	background: transparent;
	color: #0fb8dc;
	border: 0;
}

.hxtool_topnav_mainbutton:hover {
	background: rgba(0, 0, 0, 0.6);
	color: #66ebff !important;
}	