.host-grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.4fr;
  grid-template-rows: 160px;
  grid-template-areas: "top top top" "alerts content acquisitions";
  height: calc(100vh - 160px);
}

.host-top { 
	grid-area: top;
}

.host-alerts { 
	grid-area: alerts;
}

.host-content { 
	grid-area: content;
	padding-left: 12px;
	padding-right: 12px;
}

.host-acquisitions { 
	grid-area: acquisitions;
}

.hxtool_host_panel_read_more {
	background: #0d1a2b;
	padding: 3px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 10px;
	font-weight: bold;
	border-top: 1px solid rgba(15, 184, 220, 0.4);
}

.hxtool_host_panel_read_more:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.panelHostClass {
}

.panelAlertsClass {
	overflow: auto;
	height: calc(100vh - 290px);
}

.panelContentClass {
	overflow: auto;
	height: calc(100vh - 290px);
}

.panelAcqClass {
	overflow: auto;
	height: calc(100vh - 290px);
}

.hxtool_host_alert_table tbody tr:hover {
	background: rgba(255,255,255,0.2);
	cursor: pointer;
}

.hxtool_host_acq_table tbody tr:hover {
	background: rgba(255,255,255,0.2);
	cursor: pointer;
}

.hxtool_host_ul {
	list-style-type: none;
	background: url(/static/vlines/vline.png) repeat-y;
	margin-left: 40px;
	padding: 0;
}

.hxtool_host_ul li {
	margin: 0;
	padding: 0px 12px;
	line-height: 34px;
	background: url(/static/vlines/node.png) no-repeat;
}

.hxtool_host_ul li:last-child {
     background: url(/static/vlines/lastnode.png) no-repeat;
}

.hxtool_host_table {
	width: 100%;
}

.hxtool_host_table tbody td:nth-child(1) {
	width: 150px;
}

.hxtool_host_table tbody tr:nth-child(odd) {
	background: transparent;
}

.hxtool_host_table tbody td {
	border-right: 0;
}

.hxtool_host_table tbody tr {
	border-bottom: 0;
}

.product {
	text-align: center;
}

.hxtool_host_info_cell {
	background: rgba(0,0,0,0.2);
	width: 120px;
	font-weight: bold;
}

.hxtool_table_host_alert {
	width: 100%;
	margin-bottom: 24px;
}

.hxtool_table_host_alert tbody tr:nth-child(odd) {
	background: transparent;
}


.hxtool_alert_header {
	margin-block-start: 6px;
	margin-block-end: 0;
	border-bottom: 1px solid rgba(15, 184, 220, 0.4);
	font-size: 14px;
	padding-bottom: 3px;
	padding-left: 2px;
}

.hxtool_alert_json_item {
	font-weight: bold;
	border: 1px solid #10455B;
	padding: 3px;
	border-radius: 2px;
	background: #0A0F18;

}

.hxtool_host_alert_goLink {
	margin-right: 6px;
}

.acqDownload {
	display: block;
	margin-bottom: 12px;
}