.hxtool_typography_h3 {
	margin-bottom: 8px;
	margin-top: 8px;
}

.hxtool_typography_h4 {
	margin-bottom: 8px;
	margin-top: 8px;
}

.hxtool_typography_h5 {
	margin-bottom: 8px;
	margin-top: 8px;
}

.hxtool_typography_underline {
	border-bottom: 1px solid rgba(15, 184, 220, 0.1);
	padding-bottom: 2px;
}