.auditParameterPlaceholder {
	margin-top: 12px;
}

.auditParameterTitleOptional {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 4px;
}

.auditParameterTitle {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 4px;
}

.auditDescription {
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.auditName {
	font-family: "Open Sans";
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 12px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.auditNameUUID {
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 12px;
	display: none;
}

.tabMenu li {
	border: 0.5px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.2);
	padding: 3px;
	margin-bottom: 4px;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}

.tabMenu li:hover {
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.auditContent {
	padding-left: 8px;
}

.auditRemove {
	float: right;
	margin-top: -40px;
	border: 0.5px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.2);
	padding: 3px;
	margin-bottom: 4px;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}

.auditRemove:hover {
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.auditParameterRemove {
	color: #fb715e;
	margin-left: 6px;
	padding-top: 4px;
	padding-bottom: 1px;
}

.auditParameterRemove:hover {
	color: #b20032;
	cursor: pointer;
}

.auditParameterPlaceholder {
	margin-top: 12px;
}


