The HXTool configuration lives in conf.json, and is/should be well formatted JSON.
What follows is a description of the available configuration elements.

1. "log_handlers" # You can have as many handlers in this section as you'd like.
	- "handler type" : { .. configuration options .. }
	- Valid handler types are: "rotating_file_handler" and "syslog_handler"
	- Valid options for both handlers:
		- "level" : "string; optional; The name of the logging level to use. Valid values are debug, info, warning, error and critical. Defaults to warning"
		- "format" : "string; optiona; The logging entry format to use when writing to this log. See https://docs.python.org/2/howto/logging.html#formatters for valid options.
	- Valid options for "rotating_file_handler": # See https://docs.python.org/2/library/logging.handlers.html#logging.handlers.RotatingFileHandler
		- "file" : "string; required; The path and file name that the log will be written to, relative paths are allowed."
		- "max_bytes" : long integer; optional; The file size threshold of which the file will be rolled over and a new log file created.
		- "backup_count" : integer; optional; The number of previous (rolled over) log files to retain.
	- Valid options for "syslog_handler": # See https://docs.python.org/2/library/logging.handlers.html#sysloghandler
		- "address" : "string; optional; The fully qualified domain name(FQDN) or IP address of the logging target. Defaults to 127.0.0.1"
		- "port" : integer; optional; The port with which to connect to the logging target on. Defaults to 514
		- "facility" : "string; optional; The name of the logging facility to use. Defaults to LOG_USER, see the above link for valid names."
		- "protocol" : "string; optional; The protocol with which to communicate with the logging target. Valid values are tcp or udp. Defaults to udp"

2. "network"
	- "ssl" : "string; required; Enable or disable SSL/TLS for the HXTool web interface. Valid values are enabled or disabled. Defaults to enabled."
	- "listen_address" : "string; required; The IP address with which the HXTool web interface listens on. Defaults to 0.0.0.0 (any)."
	- "port" : integer; required; The port with which the HXTool web interface listens on. Defaults to 8080
	- "session_timeout" : integer; optional; Unused (at the moment)
	- "proxies" : { .. "http" or "https" .. } # Note: only HTTPS will be used, and only the first entry
		- "https" : "string; optional; The fully qualified URN of the proxy to use when communicating with the HX controller. Valid values are https://user:password@host:port or socks5://user:password@host:port"

3. "ssl"
	- "cert" : "string; required if ssl is enabled in network; The path to the SSL certificate file."
	- "key" : "string; required if ssl is enabled in network; The path to the SSL certificate key file."

4. "headers" : { "name" : "value" .. }
	- "name" : "value" - string; optional; The name and value of any headers to add to any API request made to the HX controller. You can add as many as you'd like.

5. "cookies" : { "name" : "value" .. }
	- "name" : "value" - string; optional; The name and value of any cookies to add to any API request made to the HX controller. You can add as many as you'd like.

6 "scheduler" - Used by the scheduler.
	- "thread_count" : value - integer; required; The number of threads to be used by the scheduler. Defaults to null, which means the scheduler will use the number of CPUs in the system plus 1.
	- "defer_interval" : value - integer; required; The number of seconds the scheduler will use as a base to defer a task, i.e. bulk acquisition that hasn't completed yet.

7. "apicache" (requires background credentials set)
	- "enabled" : "boolean; required; Enables and disables the API cache in TinyDB"
	- "fetcher_interval" : "integer; number of seconds between each attempt to get new data from HX"
	- "updater_interval" : "integer; number of seconds between each attempt to update dirty cache records"
	- "objects_per_poll" : "integer; number of new objects that will be transferred for each attempt"
	- "max_refresh_per_run" : "integer; number of dirty objects that will be updated each attempt to update"
	- "refresh_interval" : "integer; age (seconds) when an object is considered to be dirty"

8. "db" (right now only for MongoDB usage)
	- "type" : "string; required; only acceptable value is mongodb"
	- "host" : "string; required; IP or FQDN of the database server"
	- "port" : "integer; optional; the port with which to contact the database server on, defaults vary by database type"
	- "user" : "string; required; username with which to authenticate with"
	- "password" : "string; required; password with which to authenticate with"
	- "auth_source" : "string; required; MongoDB only, authentication source database"
	- "auth_mechanism" : "string; optional; MongoDB only, the authentication mechanism to use, defaults to SCRAM-SHA-256"