$fe-color__transparent: unquote('#0000');
//Actions Primary  {main, bright, dark}
$fe-color__action-primary--alpha: #00729f;
$fe-color__action-primary--beta: #50a0d0;
$fe-color__action-primary--gamma: #004770;

//Actions Secondary  {main, bright, dark}
$fe-color__action-secondary--alpha: #868686;
$fe-color__action-secondary--beta: #b6b6b6;
$fe-color__action-secondary--gamma: #595959;

//Backgrounds  {main, bright, dark}
$fe-color__background1--alpha: #dcdcdc;
$fe-color__background1--beta: #fbfbfb;
$fe-color__background1--gamma: #aaaaaa;

$fe-color__background2--alpha: rgba(0, 0, 0, 0.2); //#000000 at 20%
$fe-color__background2--beta: #444444;
$fe-color__background2--gamma: rgba(0, 0, 0, 0.05); //#000000 at 5%

//Background Active
$fe-color__active--alpha: #515761;
$fe-color__active--beta: #f5f5f5;
$fe-color__active--gamma: #000000;

//Background gradient -- Below colors are not there in color pallet and just used by assumptions
$fe-color__background-gradient--alpha: linear-gradient(180deg, #444444 0%, #777777 100%);
$fe-color__background-gradient--beta: linear-gradient(0deg, #e1e1e1 0%, $fe-color__active--beta 100%);
$fe-color__background-gradient--gamma: linear-gradient(180deg, #f5f5f5 0%, #ffffff 100%);

//Box box-shadow
$fe-color__box-shadow: rgba(0, 0, 0, 0.25);

//Borders/Lines  {main, bright, dark}
$fe-color__border--alpha: #d7d7d7;
$fe-color__border--beta: #f4f4f4;
$fe-color__border--gamma: #a6a6a6;

//Themes {main, bright, dark}
$fe-color__theme-success--alpha: #5fc7a2;
$fe-color__theme-success--beta: #92fad3;
$fe-color__theme-success--gamma: #279673;

$fe-color__theme-information--alpha: #99ddff;
$fe-color__theme-information--beta: #cdffff;
$fe-color__theme-information--gamma: #66abcc;

$fe-color__theme-caution--alpha: #fee400;
$fe-color__theme-caution--beta: #ffff55;
$fe-color__theme-caution--gamma: #c6b200;

$fe-color__theme-warn--alpha: #f8b024;
$fe-color__theme-warn--beta: #ffe25b;
$fe-color__theme-warn--gamma: #c08100;

$fe-color__theme-danger--alpha: #bd4040;
$fe-color__theme-danger--beta: #f4716b;
$fe-color__theme-danger--gamma: #870219;

$fe-color__theme-intermediate--alpha: #00fff0;
$fe-color__theme-intermediate--beta: #70ffff;
$fe-color__theme-intermediate--gamma: #00cbbe;

$fe-color__theme-benign--alpha: #e1e1e1;
$fe-color__theme-benign--beta: #f2f2f2;
$fe-color__theme-benign--gamma: #afafaf;

//Texts {main 70%, bright 90%, dark 40%}
$fe-color__text-primary--alpha: rgba(0, 0, 0, 0.7);
$fe-color__text-primary--beta: rgba(0, 0, 0, 0.9);
$fe-color__text-primary--gamma: rgba(0, 0, 0, 0.4);

//Texts {main 80%, bright 100%, dark 40%}
$fe-color__text-secondary--alpha: rgba(255, 255, 255, 0.8);
$fe-color__text-secondary--beta: #ffffff;
$fe-color__text-secondary--gamma: rgba(255, 255, 255, 0.4);


//button color
$fe-btn--primary--main: $fe-color__action-primary--alpha;
$fe-btn--primary-border--main: $fe-color__action-primary--alpha;
$fe-btn--primary-text--main: $fe-color__text-secondary--beta;
$fe-btn--primary--hover: $fe-color__action-primary--beta;
$fe-btn--primary-border--hover: $fe-color__action-primary--beta;
$fe-btn--primary-text--hover: $fe-color__text-secondary--beta;

$fe-btn--primary-link--main: $fe-color__transparent;
$fe-btn--primary-link-border--main: $fe-color__transparent;
$fe-btn--primary-link-text--main: $fe-color__action-primary--alpha;
$fe-btn--primary-link--hover: $fe-color__active--beta;
$fe-btn--primary-link-border--hover: $fe-color__active--beta;
$fe-btn--primary-link-text--hover: $fe-color__action-primary--alpha;

$fe-btn--secondary--main: $fe-color__background1--beta;
$fe-btn--secondary-border--main: $fe-color__action-secondary--alpha;
$fe-btn--secondary-text--main: $fe-color__text-primary--alpha;
$fe-btn--secondary--hover: $fe-color__background1--alpha;
$fe-btn--secondary-border--hover: $fe-color__border--alpha;
$fe-btn--secondary-text--hover: $fe-color__text-primary--beta;

$fe-btn--secondary-link--main: $fe-color__transparent;
$fe-btn--secondary-link-border--main: $fe-color__transparent;
$fe-btn--secondary-link-text--main: $fe-color__text-primary--alpha;
$fe-btn--secondary-link--hover: $fe-color__active--beta;
$fe-btn--secondary-link-border--hover: $fe-color__active--beta;
$fe-btn--secondary-link-text--hover: $fe-color__text-primary--alpha;

$fe-btn--danger--main: $fe-color__theme-danger--alpha;
$fe-btn--danger-border--main: $fe-color__theme-danger--alpha;
$fe-btn--danger-text--main: $fe-color__text-secondary--beta;
$fe-btn--danger--hover: $fe-color__theme-danger--beta;
$fe-btn--danger-border--hover: $fe-color__theme-danger--beta;
$fe-btn--danger-text--hover: $fe-color__text-primary--beta;

$fe-btn--danger-link--main: $fe-color__transparent;
$fe-btn--danger-link-border--main: $fe-color__transparent;
$fe-btn--danger-link-text--main: $fe-color__theme-danger--alpha;
$fe-btn--danger-link--hover: $fe-color__active--beta;
$fe-btn--danger-link-border--hover: $fe-color__active--beta;
$fe-btn--danger-link-text--hover: $fe-color__theme-danger--alpha;

$fe-btn--active--main: $fe-color__active--beta;
$fe-btn--active-border--main: $fe-color__border--beta;
$fe-btn--active-text--main: $fe-color__active--alpha;

$fe-btn--link-active--main: $fe-color__transparent;
$fe-btn--link-active-border--main: $fe-color__transparent;
$fe-btn--link-active-text--main: $fe-color__active--alpha;

$fe-btn--disabled--main: $fe-color__background1--alpha;
$fe-btn--disabled-border--main: $fe-color__border--alpha;
$fe-btn--disabled-text--main: $fe-color__action-secondary--beta;

$fe-btn--link-disabled--main: $fe-color__transparent;
$fe-btn--link-disabled-border--main: $fe-color__transparent;
$fe-btn--link-disabled-text--main: $fe-color__action-secondary--beta;

//badge
$fe-badge--default: $fe-color__action-secondary--beta;
$fe-badge--default-text: $fe-color__text-primary--alpha;
$fe-badge--alert: $fe-color__theme-danger--alpha;
$fe-badge--alert-text: $fe-color__text-secondary--beta;
$fe-badge--count-only: $fe-color__transparent;
$fe-badge--count-only-text: $fe-color__text-primary--gamma;

//pill-box
$fe-pill-box__action-close--background: $fe-color__background1--beta;
$fe-pill-box__action-close--border: $fe-color__action-primary--alpha;
$fe-pill-box__action-close--text: $fe-color__text-primary--alpha;
$fe-pill-box__action-close--icon: $fe-color__action-secondary--alpha;

$fe-pill-box__action-close--background-hover: $fe-color__text-secondary--beta;
$fe-pill-box__action-close--border-hover: $fe-color__action-primary--beta;
$fe-pill-box__action-close--text-hover: $fe-color__text-primary--beta;
$fe-pill-box__action-close--icon-hover: $fe-color__theme-danger--alpha;

$fe-pill-box__action-close--background-active: $fe-color__background1--beta;
$fe-pill-box__action-close--border-active: $fe-color__active--alpha;
$fe-pill-box__action-close--text-active: $fe-color__text-primary--beta;
$fe-pill-box__action-close--icon-active: $fe-color__active--alpha;

$fe-pill-box__action-add--background: $fe-color__background1--beta;
$fe-pill-box__action-add--border: $fe-color__action-secondary--alpha;
$fe-pill-box__action-add--text: $fe-color__text-primary--alpha;
$fe-pill-box__action-add--icon: $fe-color__action-primary--alpha;

$fe-pill-box__action-add--background-hover: $fe-color__background1--beta;
$fe-pill-box__action-add--border-hover: $fe-color__action-secondary--alpha;
$fe-pill-box__action-add--text-hover: $fe-color__text-primary--beta;
$fe-pill-box__action-add--icon-hover: $fe-color__action-primary--beta;

$fe-pill-box--disabled: $fe-color__background1--alpha;
$fe-pill-box--text--disabled: $fe-color__text-primary--gamma;
$fe-pill-box--icon--disabled: $fe-color__action-secondary--beta;

//List Items
$fe-list__item-border: $fe-color__border--beta;

$fe-list__item-border-left: $fe-color__border--alpha;
$fe-list__item-background: $fe-color__background1--beta;
$fe-list__item-text: $fe-color__text-primary--alpha;
$fe-list__item-icon-color: $fe-color__action-secondary--alpha;

$fe-list__item-border-left--hover: $fe-color__active--alpha;
$fe-list__item-background--hover: $fe-color__background1--beta;
$fe-list__item-text--hover: $fe-color__text-primary--beta;
$fe-list__item-icon-color--hover: $fe-color__action-secondary--gamma;

$fe-list__item-background--active: $fe-color__background1--beta;
$fe-list__item-border-left--active: $fe-color__active--alpha;
$fe-list__item-text--active: $fe-color__active--alpha;

$fe-list__item-background--disabled: $fe-color__background1--beta;
$fe-list__item-border-left--disabled: $fe-color__action-secondary--beta;
$fe-list__item-text--disabled: $fe-color__action-secondary--beta;
$fe-list__item-icon-color--right-disabled: $fe-color__action-secondary--beta;

$fe-sub-list__item-background: $fe-color__background1--alpha;
$fe-sub-list__item-background--active: $fe-color__background1--alpha;
$fe-sub-list__item-background--disabled: $fe-color__background1--alpha;
$fe-sub-list__item-border-left: $fe-color__active--alpha;

//Form Group
$fe-form__fieldset-text--main: $fe-color__text-primary--alpha;
$fe-form__fieldset-text--disabled: $fe-color__text-primary--gamma;

//Radio Button
$fe-radio-button__border--main: $fe-color__border--gamma;
$fe-radio-button__background--main: $fe-color__background1--beta;

$fe-radio-button__border--hover: $fe-color__border--gamma;
$fe-radio-button__background--hover: $fe-color__transparent;
$fe-radio-button__label--hover: $fe-color__active--gamma;

$fe-radio-button__fill: $fe-color__action-primary--alpha;

$fe-radio-button__border--selected: $fe-color__active--alpha;
$fe-radio-button__background--selected: $fe-color__background1--beta;

$fe-radio-button__background--disabled: $fe-color__background1--alpha;
$fe-radio-button__border--disabled: $fe-color__action-secondary--beta;

//Side Nav
$fe-side-nav-border: $fe-color__border--beta;
$fe-side-nav-background: $fe-color__background-gradient--beta;

//Top Nav
$fe-top-nav-border: $fe-color__border--beta;

//Avatars
$fe-avatar__no-image-background: $fe-color__background1--alpha;
$fe-avatar__no-image-text: $fe-color__text-primary--alpha;

$fe-avatar__label-name-text: $fe-color__text-primary--alpha;
$fe-avatar__label-description-text: $fe-color__text-primary--gamma;

$fe-avatar__status-border: $fe-color__border--beta;
$fe-avatar__status-online: $fe-color__theme-success--alpha;
$fe-avatar__status-offline: $fe-color__action-secondary--beta;
$fe-avatar__status-away: $fe-color__theme-warn--alpha;
$fe-avatar__status-dnd: $fe-color__theme-danger--alpha;


//Dropdown
$fe-dropdown-background: $fe-color__background1--beta;
$fe-dropdown-border: $fe-color__border--beta;
$fe-dropdown-divider: $fe-color__border--gamma;
$fe-dropdown-btn: $fe-color__active--beta;
$fe-dropdown-background--active: $fe-color__active--beta;

$fe-dropdown-link-color: $fe-color__text-primary--alpha;
$fe-dropdown-link-color--hover: $fe-color__text-primary--beta;
$fe-dropdown-link-right-section-color--hover: $fe-color__background1--beta;
$fe-dropdown-link-color-background--hover: $fe-color__active--beta;
$fe-dropdown-link-color--active: $fe-color__text-primary--alpha;;
$fe-dropdown-link-color--disabled: $fe-color__text-primary--gamma;
$fe-dropdown-link--icon-color--disabled: $fe-color__action-secondary--beta;

//search Field
$fe-search__background: $fe-color__text-secondary--beta;
$fe-search__border: $fe-color__border--alpha;

$fe-search__background--filled: $fe-color__text-secondary--beta;
$fe-search__border--filled: $fe-color__border--gamma;
$fe-search__icon--filled: $fe-color__action-secondary--gamma;
$fe-search__close--filled: $fe-color__action-secondary--alpha;

$fe-search__background--focus: $fe-color__text-secondary--beta;
$fe-search__border--focus: $fe-color__active--alpha;
$fe-search__icon--focus: $fe-color__active--alpha;
$fe-search__close--focus: $fe-color__theme-danger--alpha;

$fe-search__background--disabled: $fe-color__background1--alpha;
$fe-search__border--disabled: $fe-color__border--alpha;
$fe-search__icon--disabled: $fe-color__action-secondary--beta;
$fe-search__color--disabled: $fe-color__action-secondary--beta;

$fe-search__background--dark: $fe-color__active--alpha;
$fe-search__background--light: $fe-color__active--beta;

$fe-search__input-background--light: $fe-color__text-secondary--beta;
$fe-search__input-border--light: $fe-color__border--alpha;
$fe-search__input-color--light: $fe-color__text-primary--beta;
$fe-search__input-placeholder-color--light: $fe-color__text-primary--gamma;

//Top Navigation
$fe-top-nav-bar-color: $fe-color__background1--beta;
$fe-top-nav-active-color: $fe-color__active--alpha;
$fe-top-nav-link-color: $fe-color__action-primary--alpha;

//modal
$fe-modal__overlay-background: $fe-color__text-secondary--gamma;
$fe-modal__header-background: $fe-color__background1--alpha;
$fe-modal-close-color: $fe-color__active--alpha;
$fe-modal-body--overflow-background: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff);

//filters
$fe-filters-background: $fe-color__background1--beta;
$fe-filters-border: $fe-color__border--alpha;

//Cog Buttons
$fe-cog-button__background: $fe-color__background1--beta;
$fe-cog-button__border: $fe-color__border--alpha;

$fe-cog-button__border--hover: $fe-color__border--gamma;

$fe-cog-button__border--active: $fe-color__border--alpha;
$fe-cog-button__background--active: $fe-color__background1--beta;

$fe-cog-button__border--disabled: $fe-color__border--beta;
$fe-cog-button__color--disabled: $fe-color__action-secondary--beta;

//Input Fields
$fe-input-background: $fe-color__background1--beta;
$fe-input-border: $fe-color__border--alpha;

$fe-input-border--focus: $fe-color__active--alpha;

$fe-input-background--disabled: $fe-color__background1--alpha;
$fe-input-color--disabled: $fe-color__action-secondary--beta;
$fe-input-label-color--disabled: $fe-color__action-secondary--beta;
$fe-input-icon-color--disabled: $fe-color__action-secondary--beta;

//Label
$fe-label--background: $fe-color__border--beta;

//Panel
$fe-panel--background: $fe-color__background1--beta;
$fe-panel--collapsible--border-color: $fe-color__border--beta;
