@import "../utils/variables/components/button";

.fe-btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  outline: 0;

  &--sm {
    line-height: $fe-btn--sm-height;
    @include box-modal($fe-btn--sm-margin, $fe-btn--sm-padding, $fe-btn--sm-font-size, $fe-btn--sm-height, $fe-btn--sm-width);
  }
  &--md {
    line-height: $fe-btn--md-height;
    @include box-modal($fe-btn--md-margin, $fe-btn--md-padding, $fe-btn--md-font-size, $fe-btn--md-height, $fe-btn--md-width);
  }
  &--lg {
    line-height: $fe-btn--lg-height;
    @include box-modal($fe-btn--lg-margin, $fe-btn--lg-padding, $fe-btn--lg-font-size, $fe-btn--lg-height, $fe-btn--lg-width);
  }

  &--primary {
    @include background-varient($fe-btn--primary--main, $fe-btn--primary-border--main, $fe-btn--primary-text--main, $fe-btn--primary--hover, $fe-btn--primary-border--hover, $fe-btn--primary-text--hover);
  }
  &--primary-link {
    @include background-varient($fe-btn--primary-link--main, $fe-btn--primary-link-border--main, $fe-btn--primary-link-text--main, $fe-btn--primary-link--hover, $fe-btn--primary-link-border--hover, $fe-btn--primary-link-text--hover);
  }
  &--secondary {
    @include background-varient($fe-btn--secondary--main, $fe-btn--secondary-border--main, $fe-btn--secondary-text--main, $fe-btn--secondary--hover, $fe-btn--secondary-border--hover, $fe-btn--secondary-text--hover);
  }
  &--secondary-link {
    @include background-varient($fe-btn--secondary-link--main, $fe-btn--secondary-link-border--main, $fe-btn--secondary-link-text--main, $fe-btn--secondary-link--hover, $fe-btn--secondary-link-border--hover, $fe-btn--secondary-link-text--hover);
  }
  &--danger {
    @include background-varient($fe-btn--danger--main, $fe-btn--danger-border--main, $fe-btn--danger-text--main, $fe-btn--danger--hover, $fe-btn--danger-border--hover, $fe-btn--danger-text--hover);
  }
  &--danger-link {
    @include background-varient($fe-btn--danger-link--main, $fe-btn--danger-link-border--main, $fe-btn--danger-link-text--main, $fe-btn--danger-link--hover, $fe-btn--danger-link-border--hover, $fe-btn--danger-link-text--hover);
  }

  &--primary,
  &--secondary,
  &--danger {
    &.active,
    &:active {
      @include background-state($fe-btn--active--main, $fe-btn--active-border--main, $fe-btn--active-text--main);
      [class^="fe-icon"] {
        font-weight: 600;
      }
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      @include background-state($fe-btn--disabled--main, $fe-btn--disabled-border--main, $fe-btn--disabled-text--main);
    }
  }

  &--primary-link,
  &--secondary-link,
  &--danger-link {
    border: none;
    &.active,
    &:active {
      @include background-state($fe-btn--active--main, $fe-btn--active-border--main, $fe-btn--active-text--main);
      [class^="fe-icon"] {
        font-weight: 600;
      }
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      @include background-state($fe-btn--link-disabled--main, $fe-btn--link-disabled-border--main, $fe-btn--link-disabled-text--main);
    }
  }
  &--nav-link {
    &.active,
    &:active {
      @include background-state($fe-btn--link-active--main, $fe-btn--link-active-border--main, $fe-btn--link-active-text--main);
      &:before {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $fe-btn--link-active-text--main;
      }
      [class^="fe-icon"] {
        font-weight: 600;
      }
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      @include background-state($fe-btn--link-disabled--main, $fe-btn--link-disabled-border--main, $fe-btn--link-disabled-text--main);
    }
  }
}
