/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Bold");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/Bold/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* END Bold */
