/* Common */

.morris-hover {
	position: absolute;
	padding: 20px;
	background: #ffffff;
	border: 2px solid rgb(215, 215, 215);
	border-radius: 10px;
}

.tableTitle {
        font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 700;
        color: #444;
        font-size: 14px;
	padding-bottom: 5px;
}

.graphLabel {
        font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 400;
	font-style: italic;
        color: #444;
        font-size: 12px;
	text-align: center;
}

.inputArea {
	color: #444;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 400;
	font-size: 12px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 2px;
	padding: 20px;
	padding-left: 20px;
	background: #f2f2f2;
}

.menuText {
        color: #444;
        font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 400;
        font-size: 12px;
	margin-bottom: 5px;
}

.genericTable {
        font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 700;
        color: #444;
        font-size: 12px;
        border-top: 2px solid rgb(215, 215, 215);
        border-bottom: 2px solid rgb(215, 215, 215);
        border-spacing: 0;
        border-collapse: collapse;
}

.genericTable thead td {
        border-bottom: 2px solid rgb(215, 215, 215);
        font-size: 13px;
        background: none;
        padding: 10px;
        border-right: 1px solid rgb(215, 215, 215);
}

.genericTable thead td:last-child {
        border-right: none;
}


.genericTable tbody tr {
        border-bottom: 1px solid rgb(215, 215, 215);
}

.genericTable tbody tr:last-child {
        border-bottom: none;
}

.genericTable tbody td {
        padding: 10px;
        font-weight: 400;
        border-right: 1px solid rgb(215, 215, 215);
}

.genericTable tbody td:last-child {
        border-right: none;
}


.dataTables_filter {
        margin-bottom: 10px;
	position: absolute;
	right: 0;
	margin-top: -30px;
	margin-right: 25px;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 400;
	color: #444;
	font-size: 12px;
}

.paginate_button {
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 400;
	color: #444;
	font-size: 12px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 3px;
	background: rgb(215, 215, 215);
	margin-right: 5px;
	padding: 5px;
	cursor: pointer;
	margin-bottom: 40px;
	position: relative;
	top: 12px;
}

.disabled {
	color: #bfbfbf;
	background: #f2f2f2;
}


/* Navigation table */

.ht_auth_submit {
	width: 260px;
	height: 30px;
}

.ht_input_title {
	font-size: 14px;
}

.ht_auth_placeholder {
	margin: 10px;
	padding: 30px;
	padding-top: 100px;
}

.ht_auth_title {
	border: 2px solid rgb(215, 215, 215);
	border-radius: 10px;
	padding: 10px;
	width: 200px;
	position: absolute;
	margin-top: -20px;
	margin-left: 90px;
	background: #ffffff;
}

.ht_auth_center {
	position: absolute;
	left: 50%;
	top: 40%;
	width: 520px; 
	height: 600px;
	margin-left: -260px;
	margin-top: -300px;
	background: #79a1be;
	border: 1px solid #cccccc;
	border-radius: 10px;
}

.ht_auth_wrap {
	margin: 60px;
	background: #ffffff;
	border 1px solid rgb(215, 215, 215);
	border-radius: 10px;
}


.profilePopup {
	border: 2px solid rgb(215, 215, 215);
	background: #ffffff;
	border-radius: 5px;
	padding: 30px;
	position: absolute;
	left: 50%;
	top: 20%;
	z-index: 10;
	margin-left: -300px;
	width: 500px;
	height: 180px;
	box-shadow: 5px 5px 5px rgb(215, 215, 215);
}

.annotatePopup {
    border: 2px solid rgb(215, 215, 215);
    background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 10;
    margin-left: -250px;
	margin-top: -110px;
    width: 500px;
    height: 220px;
	box-shadow: 5px 5px 5px rgb(215, 215, 215);
}

.importPopup {
    border: 2px solid rgb(215, 215, 215);
    background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 10;
    margin-left: -300px;
    width: 500px;
    height: 170px;
	box-shadow: 5px 5px 5px rgb(215, 215, 215);
}

.createCategoryPopup {
    border: 2px solid rgb(215, 215, 215);
    background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 10;
    margin-left: -200px;
    width: 400px;
    height: 170px;
	box-shadow: 5px 5px 5px rgb(215, 215, 215);
}

.annotateDisplayPopup {
    border: 2px solid rgb(215, 215, 215);
    background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    margin-left: -600px;
	margin-top: -250px;
    width: 1200px;
    height: 500px;
	box-shadow: 5px 5px 5px rgb(215, 215, 215);
}

.shader {
	z-index: 5;
	background: #ffffff;
	opacity: 0.7;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0; 
	right: 0;
	height: 100%;
	width: 100%;
}

/* Main layout table */

.ht_main_table {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: #ffffff;
}

.ht_main_table_top_td {
	text-align: center;
	height: 58px;
	background: #ffffff;
	vertical-align: top;
	border-bottom: 1px solid #cccccc;
}

.ht_main_table_main_td {
	vertical-align: top;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	background: #ffffff;
}

/* Left Nav table */

.ht_nav_table {
	color: rgb(81, 87, 97);
	margin-top: 15px;
	margin-bottom: 20px;
}

.ht_nav_table_cell {
	padding: 1px;
	margin-top: 15px;
	margin-right: 25px;
	border-top: 3px solid #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.ht_nav_table_cell:hover {
	color: rgb(139, 148, 162);
	cursor: pointer;
}

.ht_nav_table_cell_sub {
	padding: 1px;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ht_nav_table_cell_sub:hover {
	color: rgb(139, 148, 162);
}

.ht_nav_ico {
	margin-right: 7px;
}

/* left logo */

.ht_logo_text {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: rgb(81, 87, 97);
}

/* Generic boxes */

.ht_content_box {
	margin-bottom: 10px;
	margin-right: 15px;
}

.ht_content_boxtitle {
	background: rgb(47, 54, 63);
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid rgb(47, 54, 63);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	font-weight: bold;
	padding: 5px;
}

.ht_content_boxcontent {
	padding: 10px;
	border: 1px solid rgb(47, 54, 63);
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* Build IOC page */

.ht_buildioc_eventSelector {
	height: 200px;
	border: 1px solid rgb(215,215,215);
	border-collapse: 0;
	border-radius: 3px;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 12px;
	
}

.ht_buildioc_iocframe {
	display: none;
	position: absolute;
	width: 700px;
	right: 0;
	top: 80px;
	padding: 5px;
	background: #f2f2f2;
	border: 1px solid rgb(215,215,215);
	border-right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ht_buildioc_ioctable {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

.cond_title {
	margin-top: 10px;
	padding: 10px;
	font-weight: 700;
	font-size: 14px;
	border-top: 2px solid rgb(215,215,215);
	border-bottom: 2px solid rgb(215,215,215);
}

.iocLabel {
	float: left;
	border-bottom: 1px solid rgb(215,215,215);
	border-right: 1px solid rgb(215,215,215);
	padding: 3px;
	padding-right: 5px;
	margin-top: 14px;
	font-weight: 700;
}

.iocLabelNot {
	color: red;
	padding-right: 3px;
}

.iocBox {
	margin-left: 37px;
	margin-top: 10px;
	border-bottom: 1px solid rgb(215,215,215);
	padding: 5px;
}

/* Search results */

.clickable-row:hover {
	background: #eeeeee;
	cursor: pointer;
}

.tableData {
	border: 1px solid rgb(47, 54, 63);
	border-radius: 4px;
}

.tableHeaderRow {
	background: rgb(47, 54, 63);
	color: white;
	font: 12px Arial;
	font-weight: bold;
}


/* dashBoard */

.dashAlerts {
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 700;
	color: #444;
	font-size: 12px;
	border-top: 2px solid rgb(215, 215, 215);
	border-bottom: 2px solid rgb(215, 215, 215);
	border-spacing: 0;
	border-collapse: collapse;
}

.dashAlerts thead td {
	border-bottom: 2px solid rgb(215, 215, 215);
	font-size: 13px;
	background: none;
	padding: 10px;
	border-right: 1px solid rgb(215, 215, 215);
}

.dashAlerts thead td:last-child {
	border-right: none;
}


.dashAlerts tbody tr {
	border-bottom: 1px solid rgb(215, 215, 215);
}

.dashAlerts tbody tr:last-child {
        border-bottom: none;
}

.dashAlerts tbody td {
	padding: 10px;
	font-weight: 400;
	border-right: 1px solid rgb(215, 215, 215);
}

.dashAlerts tbody td:last-child {
        border-right: none;
}

.dashInfoTable {
	border-collapse: 0;
	border-spacing: 0;
	width: 100%;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 400;
	color: #444;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.dashInfoTable tbody td {
	border-right: 1px solid rgb(215, 215, 215);
	padding: 10px;
	width: 14%;
	text-align: center;
}

.dashInfoTable tbody td:last-child {
	border-right: 0;
}

.dashInfoTableSpan {
        font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 700;
        color: #444;
        font-size: 24px;

}

.alertStatus {
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 700;
	font-size: 14px;
	padding: 4px;
	width: 120px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 5px;
	background: rgb(230, 230, 230);
	border: 1px solid rgb(215, 215, 215);
}

.alertStatus:hover {
	cursor: pointer;
}

.alertStatusInv {
	color: #666666;
}

.alertStatusCom {
	color: #666666;
}

.alertStatusNew {
	color: #666666;
}

.dropdown-content {
	position: absolute;
	border: 1px solid rgb(215,215,215);
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgb(215,215,215);
	text-align: center;
	background: white;
	padding: 5px;
	display: none;
	color: rgb(81, 87, 97);
}

.dropdown-content:hover {
	color: rgb(81, 87, 97);
	
}

.clt, .clt ul, .clt li {
     position: relative;
}

.clt ul {
    list-style: none;
    padding-left: 32px;
}

.clt li::before, .clt li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.clt li::before {
    border-top: 1px solid rgb(215,215,215);
    top: 9px;
    width: 8px;
    height: 0;
}

.clt li::after {
    border-left: 1px solid rgb(215,215,215);
    height: 100%;
    width: 0px;
    top: 2px;
}

.clt ul > li:last-child::after {
    height: 8px;
}

.logoutIcon {
	width: 32px; 
	height: 32px; 
	border: 1px solid #515761;
	border-radius: 50%; 
	margin-top: 15px; 
	margin-right: 10px; 
	margin-left: 15px;
	box-sizing: border-box;
}

.logoutIcon:hover {
	cursor: pointer;
	border: 2px solid rgb(215,215,215);
}

.descr {
	font-style: italic;
}


/* Category table */

.categoryTable {
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 700;
	color: #444;
	font-size: 12px;
	border-top: 2px solid rgb(215, 215, 215);
	border-bottom: 2px solid rgb(215, 215, 215);
	border-spacing: 0;
	border-collapse: collapse;
}

.categoryTable thead td {
	border-bottom: 2px solid rgb(215, 215, 215);
	font-size: 13px;
	background: none;
	padding: 10px;
	border-right: 1px solid rgb(215, 215, 215);
}

.categoryTable thead td:last-child {
	border-right: none;
}


.categoryTable tbody tr {
	border-bottom: 1px solid rgb(215, 215, 215);
}

.categoryTable tbody tr:last-child {
        border-bottom: none;
}

.categoryTable tbody td {
	padding: 10px;
	font-weight: 400;
	border-right: 1px solid rgb(215, 215, 215);
}

.categoryTable tbody td:last-child {
        border-right: none;
}
