/* 
	ht_layout CSS
	Controls CSS for HXTool layout	
*/

:root {
/*    --bg-color-topbar: rgb(225, 225, 225); */
	--bg-color-topbar: rgb(210,210,210);
/*    --bg-color-topmenubar: rgb(73, 110, 150); */
    --bg-color-topmenubar: #eee;
    --text-color-topbar: #151515;
    --bg-color-top-element: linear-gradient(180deg, #4A71A0 0%, #262636 100%);
    font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.htLayoutTopBarBox {
	width: 150px;
	height: 60px;
	background: var(--bg-color-top-element);
	z-index: 50;
	position: absolute;

	border: 0.5px solid #151515;
}

.htLayoutTopBarTopBox {
	height: 8px;
	width: 100%;
	background: var(--bg-color-topbar);
	z-index: 20;
	position: absolute;
	left: 0;
	top: 0;
}

.htLayoutTopBarLogo {
	height: 30px; 
	position: absolute; 
	top: 0px; 
	left: 36px; 
	clip: rect(0px,70px,30px,19px);
}

.htLayoutTopBarLogoText {
	position: absolute; 
	left: 58px; 
	top: 26px; 
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	font-size: 20px; 
	font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 400;
	letter-spacing: 3px;
	z-index: 50;
}

.htLayoutTopBarLogoIcon {
	left: 10px; 
	top: 15px; 
	position: absolute; 
	color: rgba(255, 255, 255, 0.8);
	margin-right: 2px;
}

.htLayoutTopBarMenuBox {
	background: var(--bg-color-topmenubar);
	border-bottom: 0.5px solid #ddd;
	height: 50px;
	width: 100%;
	color: white;
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 0px 2px 12px 0px #ddd;
}

.htLayoutTriangle-topleft {
	transform: skewX(-45deg);
	background: var(--bg-color-top-element);
	z-index: 30;
	content: "";
	height: 60px;
	width: 78px;
	left: 120px;
	position: absolute;
	box-shadow: 3px 0.5px 3px -2px rgba(0, 0, 0, 0.25);
	border-top: 0.5px solid #151515;
	border-bottom: 0.5px solid #151515;
	border-right: 0.5px solid #151515;
}

.htLayoutTriangle-topright {
	transform: skewX(45deg);
	background: var(--bg-color-top-element);
	z-index: -30;
	content: "";
	height: 60px;
	width: 78px;
	right: 120px;
	position: absolute;
	border-top: 0.5px solid #151515;
	border-bottom: 0.5px solid #151515;
	border-left: 0.5px solid #151515;
	box-shadow: -3px 0.5px 3px -2px rgba(0, 0, 0, 0.25);
}

/* Navigation menu */

.htLayoutTopBarMenuTextSpan {
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	color: var(--text-color-topbar);
}

.htLayoutTopBarMenuFindAHost {
	position: absolute; 
	right: 260px; 
	top: 15px; 
	z-index: 50;
}

.htLayoutPadIcon {
	margin-right: 20px;
}

.htLayoutTopBarMenuContainer {
	z-index:50; 
	position: absolute; 
	top: -4px; 
	left: 260px; 
	color: var(--text-color-topbar);
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.htLayoutMenuItem {
	padding-top: 4px;
	padding-bottom: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: 17px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: bold;
}

.htLayoutMenuItem:hover {
	color: #0fb8dc;
	cursor: pointer;
}

.htLayoutPopup {
	display: none;
	position: absolute;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	right: 150px;
	padding: 10px;
	width: 400px;
	margin-top: 5px;
	background: white;
	border: 1px solid rgb(215,215,215);
	box-shadow: 2px 2px 5px rgb(115, 115, 115);
	border-radius: 3px;
}

.htLayoutLinkIcon {
	color: rgba(255, 255, 255, 0.8);
}

.htLayoutDropdown-content {
	position: absolute;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	margin-left: 0;
	margin-top: 3px;
	width: 220px;
	white-space:nowrap;
	border: 0.5px solid #151515;
	margin-left: -11px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 3px 0.5px 3px -2px rgba(0, 0, 0, 0.25);
	text-align: left;
	background: var(--bg-color-topmenubar);
	padding: 0;
	display: none;
	color: var(--text-color-topbar);
	z-index: -1;
}


.htLayoutDropdown-item {
	padding: 1px;
	margin-top: 13px;
	margin-bottom: 13px;
	margin-left: 5px;
	margin-right: 0;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
}

.htLayoutDropdown-item:hover {
	color: #0fb8dc;
}

.htLayoutIconWrapper {
	background: #eeeeee; 
	border: 1px solid #cccccc; 
	padding: 5px; 
	border-radius: 5px;
	font-size: 11px;
}


.auditTabMenuLink {
	padding: 10px;
	padding-right: 5px;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}

.auditTabMenuLink:hover {
	background: #cccccc;
}

.auditTabMenuLinkSelected {
	background: #dddddd;
}

.auditContent {
	padding: 10px;
	padding-left: 25px;
	padding-top: 0;
	border-left: 1px solid #cccccc;
}

.auditName {
	font-size: 18px;
	font-weight: 700;
	float: left;
}

.auditRemove {
	float: right;
	color: rgb(145, 59, 33);
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
}

.auditRemove:hover {
	background: #cccccc;
	cursor: pointer;
}

.auditRepeat {
	margin-left: 5px;
	font-size: 11px;
	color: green;
	display: inline-block;
	padding: 2px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	font-weight: bold;
}

.auditRepeat:hover {
	background: #cccccc;
	cursor: pointer;
}

.auditClear {
	clear: both;
}

.auditNameUUID {
	color: #aaaaaa;
	font-size: 10px;
	margin-bottom: 10px;
}

.auditDescription {
	font-size: 12px;
}

.auditParameterTitle {
	font-weight: 700;
	margin-bottom: 2px;
}

.auditParameterUsage {
	font-style: italic;
	font-size: 11px;
	margin-bottom: 5px;
}

.auditParameterTitleOptional {
	font-weight: 700;
	margin-bottom: 5px;
	color: rgb(31, 69, 130);
}

.auditTextInput {
	width: 400px;
}

.auditTextAreaInput {
	width: 400px;
	height: 100px;
	resize: none;
}

.auditParameterPlaceholder {
	margin-bottom: 15px;
}

.auditParameterRemove {
	color: rgb(31, 69, 130);
	padding: 2px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin-bottom: -2px;
	margin-left: 10px;
}

.auditParameterRemove:hover {
	background: #cccccc;
	cursor: pointer;
}

.taskProfileItem {
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 10px;
	background: #ffffff;
}

.taskProfileBar {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    padding: 0; 
}

.taskProfileRemovePH {
	float: right;
}
