/* 
	ht_layout CSS
	Controls CSS for HXTool layout	
*/

:root {
/*    --bg-color-topbar: rgb(225, 225, 225); */
	--bg-color-topbar: rgb(210,210,210);
    --bg-color-topmenubar: rgb(73, 110, 150);
/*    --bg-color-topmenubar: rgb(121, 161, 190); */
    --text-color-topbar: rgb(255, 255, 255);
    font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.htLayoutTopBarBox {
	width: 200px;
	height: 60px;
	background: var(--bg-color-topbar);
	z-index: 50;
}

.htLayoutTopBarTopBox {
	height: 8px;
	width: 100%;
	background: var(--bg-color-topbar);
	z-index: 20;
	position: absolute;
	left: 0;
	top: 0;
}

.htLayoutTopBarMenuBox {
	background: var(--bg-color-topmenubar);
	height: 50px;
	width: 100%;
	color: white;
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
}

.htLayoutTriangle-topleft {
	width: 0;
	height: 0;
	border-top: 60px solid var(--bg-color-topbar);
	border-right: 40px solid transparent;
	z-index: 30;
/*	position: absolute;
	left: 160px;
	top: 0;
	z-index: 0;
	color: var(--bg-color-topbar);
	font-size: 82px;
	margin-top: -20px;
	text-shadow: 2px 2px 5px rgb(115, 115, 115);
*/
}

.htLayoutTriangle-topright {
	width: 0;
	height: 0;
	border-top: 60px solid var(--bg-color-topbar);
	border-left: 40px solid transparent;
	z-index: 30;
}

/* Navigation menu */

.htLayoutTopBarMenuTextSpan {
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: var(--text-color-topbar);
}

.htLayoutPadIcon {
	margin-right: 25px;
}

.htLayoutMenuItem {
	padding-top: 4px;
	padding-bottom: 6px;
	margin-top: 17px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.htLayoutMenuItem:hover {
	color: rgb(190, 190, 190);
	cursor: pointer;
}

.htLayoutPopup {
	display: none;
	position: absolute;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	right: 150px;
	padding: 10px;
	margin-top: 5px;
	background: white;
	border: 1px solid rgb(215,215,215);
	box-shadow: 2px 2px 5px rgb(115, 115, 115);
	border-radius: 3px;
}

.htLayoutLinkIcon {
	color: rgb(81, 87, 97);
}

.htLayoutDropdown-content {
	position: absolute;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	margin-left: 0;
	margin-top: 5px;
	width: 220px;
	border: 1px solid rgb(215,215,215);
	border-radius: 3px;
	box-shadow: 2px 2px 5px rgb(115, 115, 115);
	text-align: left;
	background: white;
	padding: 5px;
	display: none;
	color: rgb(81, 87, 97);
	z-index: 999;
}

.htLayoutDropdown-content:hover {
	color: rgb(81, 87, 97);
	
}

.htLayoutDropdown-item {
	padding: 1px;
	margin: 10px;
	font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 14px;
	font-weight: 600;
	padding-top: 5px;
	padding-bottom: 5px;
}

.htLayoutDropdown-item:hover {
	color: rgb(139, 148, 162);
}

.htLayoutIconWrapper {
	background: #eeeeee; 
	border: 1px solid #cccccc; 
	padding: 5px; 
	border-radius: 5px;
	font-size: 11px;
}


.auditTabMenuLink {
	padding: 10px;
	padding-right: 5px;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}

.auditTabMenuLink:hover {
	background: #cccccc;
}

.auditTabMenuLinkSelected {
	background: #dddddd;
}

.auditContent {
	padding: 10px;
	padding-top: 0;
	border-left: 1px solid #cccccc;
}

.auditName {
	font-size: 18px;
	font-weight: 700;
}

.auditNameUUID {
	color: #aaaaaa;
	font-size: 10px;
	margin-bottom: 10px;
}

.auditDescription {
	font-size: 12px;
}

.auditParameterTitle {
	font-weight: 700;
	margin-bottom: 5px;
}