{% extends "layout.html" %}
{% block title %}HXTool - Alerts{% endblock %}
{% block content %}

<script>

	function getHistoricDate(days) {
		var historicDate = new Date();
		historicDate.setDate(historicDate.getDate() - days);
		return(historicDate.toISOString().substr(0, 10))
	}

	function parseFilters() {
		myurl = "";
		if ($('#filtertable_hostname').val() != "") {
			myurl += "&hostname=" + $('#filtertable_hostname').val();
		}
		if ($('#filtertable_alertname').val() != "") {
			myurl += "&alertname=" + $('#filtertable_alertname').val();
		}
		if ($('#filtertable_hash').val() != "") {
			myurl += "&md5hash=" + $('#filtertable_hash').val();
		}
		if ($('#filtertable_source').find(":selected").val() != "all") {
			myurl += "&source=" + $('#filtertable_source').find(":selected").val();	
		}
		if ($('#filtertable_resolution').find(":selected").val() != "all") {
			myurl += "&resolution=" + $('#filtertable_resolution').find(":selected").val();	
		}
		return(myurl)
	}

	$(document).ready(function() {

		var fullDate = new Date()
		var currentDate = fullDate.toISOString().substr(0, 10);

		var pastDate = getHistoricDate(1);

		$("#from").val(pastDate);
		$("#to").val(currentDate);


		$(document).on("keypress", "#filtertable_hostname", function(e) {
			if (e.which == 13) {
				$('#shader').show();
				urltail = parseFilters()
				alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
					$('#shader').hide();
				});
			}
		});

		$(document).on("keypress", "#filtertable_hash", function(e) {
			if (e.which == 13) {
				$('#shader').show();
				urltail = parseFilters()
				alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
					$('#shader').hide();
				});
			}
		});	

		$(document).on("keypress", "#filtertable_alertname", function(e) {
			if (e.which == 13) {
				$('#shader').show();
				urltail = parseFilters()
				alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
					$('#shader').hide();
				});
			}
		});	

		$("#refresh").click(function() {
			$('#shader').show();
			urltail = parseFilters()
			alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
				$('#shader').hide();
			});
		});

		$("input[id^='nav_']").click(function() {
			var dArr = $(this).attr('id').split("_");
			var navDate = getHistoricDate(dArr[1]);
			$("#from").val(navDate);
			$("#to").val(currentDate);
			$("#refresh").click();
		});		

		$(document).on('click', '.showannotation', function() {
			aArr = $(this).attr("id").split("_");
			showPopup(600, 1200, "/annotatedisplay?alertid=" + aArr[1], "annotateDisplayTable");
		});

		$(document).on('mouseenter', '.alerttimestamp', function() {
			$(this).next().show();
		}).on('mouseleave','.alerttimestamp',  function(){
			$(this).next().hide();
		});

		$("#alertAutoRefresh").click(function() {
			if ($(this).is(":checked")) {
				alertAuto = setInterval(function () {
					$('#shader').show();
					alert_datatable.ajax.reload(function ( json ) {
						$('#shader').hide();	
					});
				}, $("#alertAutoRefreshInterval").val() * 1000);
			}
			else {
				clearInterval(alertAuto);
			}			
		});

		$(document).on('click', '.addannotation', function() {
			aArr = $(this).attr("id").split("_");
			$("#annotationBoxID").val(aArr[1]);

			$('#annotationBox').realcenter();

			$('#shader').popupshow();
			$("#annotationBox").show();
		});

		$(document).on('click', '.postannotation', function() {
			alertid = $("#annotationBoxID").val();
			$.post( "/annotateadd", $( "#annotationForm" ).serialize(), function( data ) {
				$("#annotateText").val("");
 				alert_datatable.ajax.reload();
				$("#annotationBox").hide();
				$('#shader').hide();
			});
		});

		$(document).on('click', '.cancelannotation', function() {
			$("#annotateText").val("");
			$("#annotationBox").hide();
			$('#shader').hide();
		});



		var alert_datatable = $('#alertTable').DataTable( {
			"ajax": "/api/v1/datatable_alerts_full?startDate=" + pastDate + "&endDate=" + currentDate,
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"processing": false,
			"dom": '<"htDTButtons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "myDTButton" },
				{ extend: "csv", className: "myDTButton" },
				{ extend: "excel", className: "myDTButton" }
			],
			"columns": [
				{ "title": "", "data": "platform" },
				{ "title": "Hostname", "data": "hostname" },
				{ "title": "Domain", "data": "domain" },
				{ "title": "Containment", "data": "containment_state" },
				{ "title": "Event at", "data": "event_at" },
				{ "title": "Age", "data": "age" },
				{ "title": "Source", "data": "source" },
				{ "title": "Resolution", "data": "resolution" },
				{ "title": "Threat", "data": "threat" },
				{ "title": "State", "data": "annotation_max_state" },
				{ "title": "Annotations", "data": "annotation_count" },
				{ "title": "Action", "data": "action" }
			],
			"createdRow": function( row, data, index ) {
				if (data.annotation_max_state == 1) {
					$('td', row).eq(9).css( 'background-color', '#fffce0' );
				}
				else if (data.annotation_max_state == 2) {
					$('td', row).eq(9).css( 'background-color', '#e0ffe3' );
				}
			},
			"columnDefs": [	
				{
				 "targets": 0,
				 "width": "20px",
				 render: function ( data, type, row, meta ) {
				 	return (datatables_parsePlatform(data));
				 }
				},
				{
				 "targets": 1,
				 render: function ( data, type, row, meta ) {
					return(datatables_parseHostlink(data));
				 }
				},
				{
				 "targets": 3,
				 "width": "100px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_parseContainmentState(data));
				  }
				},
				{
				 "targets": 4,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_alertTimestamps(data, row.matched_at, row.reported_at));
				  }
				},
				{
				 "targets": 5,
				 "width": "100px"
				},
				{
				 "targets": 6,
				 "width": "60px",
				 render: function ( data, type, row, meta ) {
					return(datatables_parseSource(data));
				 }
				},
				{
				 "targets": 7,
				 "width": "110px",
				 render: function ( data, type, row, meta ) {
					return(datatables_parseResolution(data));
				 }				 
				},
				{
				 "targets": 9,
				 "width": "70px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		if (data == 1) {
				 			data = "Investigating";
				 		}
				 		else if (data == 2) {
				 			data = "Completed";
				 		}
				 		else {
				 			data = "New"
				 		}
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 10,
				 "width": "80px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		data = "<button class='tableActionButton showannotation' id='showannotation_" + row.DT_RowId + "'>show (" + data + ")</button>";
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 11,
				 "width": "80px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		data = "<button class='tableActionButton addannotation' id='annotate_" + row.DT_RowId + "'>annotate</button>";
				 	}
				 	return data;
				 }
				},
				{"className": "dt-center", "targets": [0, 1, 2, 3, 4, 5, 6, 7, 9, 10]}
			]
		});		

	});

</script>

<div class='tableTitle'>
	<i class="fas fa-clock fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
	Show alerts for time period
</div>
<div style='float: left; margin-left: 10px; margin-top: 10px; margin-bottom: 25px; font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 12px;'>
	<input class='tableActionButton' type='button' id='nav_1' value='today'>
	<input class='tableActionButton' type='button' id='nav_7' value='week'>
	<input class='tableActionButton' type='button' id='nav_30' value='month'>
	<input class='tableActionButton' type='button' id='nav_90' value='quarter'>
	<input class='tableActionButton' type='button' id='nav_180' value='half-year'>
	<input class='tableActionButton' type='button' id='nav_365' value='year'>
	&nbsp;
	from:
	<input type='text' id='from' style='width: 80px;'>
	to:
	<input type='text' id='to' style='width: 80px;'>
	<input class='tableActionButton' type='button' id='refresh' value='refresh'>
</div>
<div style='float: right; margin-bottom: 15px; font-family: open_sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 12px;'>
	<input type='checkbox' id='alertAutoRefresh'>
	auto-refresh every 
	<input type='text' id='alertAutoRefreshInterval' value='60' style='width: 40px;'>
	 seconds
</div>

<div class='tableTitle' style='clear: both;'>
	<i class="fas fa-filter fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
	Filters
</div>
<table class='filterTable'>
	<tr>
		<th>
			Endpoint IP/Hostname
		</th>
		<th>
			Threat name
		</th>
		<th>
			MD5 Hash
		</th>
		<th>
			Alert type
		</th>
		<th>
			Resolution
		</th>
	</tr>
	<tr>
		<td>
			<input id='filtertable_hostname' type='text' style='width: 250px'>
		</td>
		<td>
			<input id='filtertable_alertname' type='text' style='width: 250px'>
		</td>
		<td>
			<input id='filtertable_hash' type='text' style='width: 250px'>
		</td>
		<td>
			<select id='filtertable_source'>
				<option value='all' SELECTED>All
				<option value='ioc'>IOC - Indicator
				<option value='exd'>EXD - Exploit Guard
				<option value='mal'>MAL - Anti-virus
			</select>
		</td>
		<td>
			<select id='filtertable_resolution'>
				<option value='all' SELECTED>All
				<option value='ALERT'>Alert
				<option value='BLOCK'>Block
				<option value='PARTIAL_BLOCK'>Partial block
				<option value='ACTIVE_THREAT'>Active threat
				<option value='QUARANTINED'>Quarantined
				<option value='CLEANED'>Cleaned
			</select>
		</td>
	</tr>
</table>


<div class='tableTitle' style='clear: both; margin-top: 15px;'>
	<i class="fas fa-list-ul fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
	Alerts
</div>
<table id="alertTable" class='genericTable' style='width: 100%;'></table>

<div id='annotationBox' class='ht_popup_annotate_div'>
	<form id='annotationForm'>
	<input type='hidden' name='annotationBoxID' id='annotationBoxID' value='null'>
	<div class='tableTitle'>Add event annotation</div>
	<textarea name='annotateText' id='annotateText' style='margin-bottom: 10px; width: 490px; height: 130px;'></textarea><br>
	<select name='annotateState' id='annotateState' style='margin-bottom: 20px;'>
		<option value='1'>Investigating
		<option value='2'>Completed
	</select>
	<br>
	<input class='tableActionButton postannotation' type='button' value='Add Annotation'>
	<input class='tableActionButton cancelannotation' type='button' value='Cancel' id='annotateCancel'>
	</form>
</div>

{% endblock %}