{% extends "layout.html" %}
{% block title %}HXTool - Alerts{% endblock %}
{% block content %}

<script>

	function getHistoricDate(days) {
		var historicDate = new Date();
		historicDate.setDate(historicDate.getDate() - days);
		return(historicDate.toISOString().substr(0, 10))
	}

	function parseFilters() {
		myurl = "";
		if ($('#filtertable_hostname').val() != "") {
			myurl += "&hostname=" + $('#filtertable_hostname').val();
		}
		if ($('#filtertable_alertname').val() != "") {
			myurl += "&alertname=" + $('#filtertable_alertname').val();
		}
		if ($('#filtertable_hash').val() != "") {
			myurl += "&md5hash=" + $('#filtertable_hash').val();
		}
		if ($('#filtertable_source').data("id") != "all") {
			myurl += "&source=" + $('#filtertable_source').data("id");	
		}
		if ($('#filtertable_resolution').data("id") != "all") {
			myurl += "&resolution=" + $('#filtertable_resolution').data("id");	
		}
		return(myurl)
	}

	$(document).ready(function() {

		var fullDate = new Date()
		var currentDate = fullDate.toISOString().substr(0, 10);

		var pastDate = getHistoricDate(1);

		$("#from").val(pastDate);
		$("#to").val(currentDate);


		$(document).on("keypress", "#filtertable_hostname", function(e) {
			if (e.which == 13) {
				$('#shader').show();
				urltail = parseFilters()
				alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?limit=1000&startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
					$('#shader').hide();
				});
			}
		});

		$(document).on("keypress", "#filtertable_hash", function(e) {
			if (e.which == 13) {
				$('#shader').show();
				urltail = parseFilters()
				alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?limit=1000&startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
					$('#shader').hide();
				});
			}
		});	

		$(document).on("keypress", "#filtertable_alertname", function(e) {
			if (e.which == 13) {
				$('#shader').show();
				urltail = parseFilters()
				alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?limit=1000&startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
					$('#shader').hide();
				});
			}
		});	

		$("#refresh").click(function() {
			// $('#hxtool_shader').show();
			urltail = parseFilters()
			alert_datatable.ajax.url( '/api/v1/datatable_alerts_full?limit=1000&startDate=' + $("#from").val() + '&endDate=' + $("#to").val() + urltail ).load(function ( json ) {
				kaka = "kaka";
				// $('#hxtool_shader').hide();
			});
		});

		$("button[id^='nav_']").click(function() {
			var dArr = $(this).attr('id').split("_");
			var navDate = getHistoricDate(dArr[1]);
			$("#from").val(navDate);
			$("#to").val(currentDate);
			$("#refresh").click();
		});		

		$(document).on('click', '.showannotation', function() {
			aArr = $(this).attr("id").split("_");

			hxtool_ajax_get_request("/api/v1/annotation/alert/view", "id=" + aArr[1], function(myAnnotations) {

				$("#annotateViewText").html("");

				$.each(myAnnotations['annotations'], function(key, val) {

					if (val['state'] == 1) {
						myStateColor = "#ffe352";
						myStateText = "Investigating";
					}
					else if (val['state'] == 2) {
						myStateColor = "#11a962";
						myStateText = "Completed";
					}
					else {
						myStateColor = "#eeeeee";
						myStateText = "Unknown";
					}

					myAnno = "<h5 style='margin-bottom: 6px;'><span style='color: " + myStateColor + ";'>[" + myStateText + "]</span> On " + val['create_timestamp'] + " " + val['create_user'] + " wrote</h5>";
					myAnno += "<textarea type='text' class='fe-input' style='height: 80px; margin-bottom: 12px;'>" + val['annotation'] + "</textarea>";

					$("#annotateViewText").append(myAnno);
				});

				$("#annotationViewPopup").show();
			});
		});

		$(document).on('mouseenter', '.alerttimestamp', function() {
			$(this).next().show();
		}).on('mouseleave','.alerttimestamp',  function(){
			$(this).next().hide();
		});

		$("#alertAutoRefresh").click(function() {
			if ($(this).is(":checked")) {
				alertAuto = setInterval(function () {
					$('#shader').show();
					alert_datatable.ajax.reload(function ( json ) {
						$('#shader').hide();	
					});
				}, $("#alertAutoRefreshInterval").val() * 1000);
			}
			else {
				clearInterval(alertAuto);
			}			
		});

		$(document).on('click', '.addannotation', function() {
			aArr = $(this).attr("id").split("_");
			$("#annotationBoxID").val(aArr[1]);
			$("#annotateText").val("");
			$("#annotationPopup").show();
			$("#annotateText").focus();
		});

		$(document).on('click', '.postannotation', function() {
			//alertid = $("#annotationBoxID").val();

			var data = new FormData();
			data.append("id", $("#annotationBoxID").val());
			data.append("text", $("#annotateText").val());
			data.append("state", $("#annotationState").data("id"));

			hxtool_ajax_post_request("/api/v1/annotation/add", data, function() {
				$("#annotationPopup").hide();
				alert_datatable.ajax.reload();
			});
		});

		$(document).on('click', '.cancelannotation', function() {
			$("#annotateText").val("");
			$("#annotationPopup").hide();
		});

		$(document).on('click', '.cancelannotationview', function() {
			$("#annotationViewPopup").hide();
		});

		$("#alertTable").on("click", ".alertAction", function(){
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/alerts/" + $(this).data("type"), "id=" + $(this).data("id"), function() {
				myrow.fadeOut(200, function() {
					alert_datatable.row(myrow).remove().draw();
				})
			});
		});


		$.fn.dataTable.ext.errMode = 'none';
		alert_datatable = $('#alertTable').DataTable( {
			"ajax": "/api/v1/datatable_alerts_full?limit=1000&startDate=" + pastDate + "&endDate=" + currentDate,
			"paging":   false,
			"ordering": true,
			"colReorder": true,
			"info":     false,
			"processing": false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right far fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right far fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right far fa-file-excel'></i>" }
			],
			"columns": [
				{ "title": "", "data": "platform" },
				{ "title": "Hostname", "data": "hostname" },
				{ "title": "Domain", "data": "domain" },
				{ "title": "Threat", "data": "threat" },
				{ "title": "Containment", "data": "containment_state" },
				{ "title": "Event at", "data": "event_at" },
				{ "title": "Age", "data": "age" },
				{ "title": "Source", "data": "source" },
				{ "title": "Resolution", "data": "resolution" },
				{ "title": "State", "data": "annotation_max_state" },
				{ "title": "Annotations", "data": "annotation_count" },
				{ "title": "Action", "data": "action" }
			],
			"createdRow": function( row, data, index ) {
				if (data.annotation_max_state == 1) {
					$('td', row).eq(9).css( 'color', '#ffe352' );
				}
				else if (data.annotation_max_state == 2) {
					$('td', row).eq(9).css( 'color', '#11a962' );
				}
			},
			"columnDefs": [	
				{
				 "targets": 0,
				 "width": "20px",
				 render: function ( data, type, row, meta ) {
				 	return (datatables_parsePlatform(data));
				 }
				},
				{
				 "targets": 1,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
					myArr = data.split("___");
					data = '<a class="hostLink" href="/hostview?host=' + encodeURIComponent(myArr[1]) + '&alertid=' + encodeURIComponent(myArr[2]) + '">' + myArr[0] + '</a>';
					return(data);
				 }
				},
				{
				 "targets": 2,
				 "width": "150px",
				},
				{
				 "targets": 4,
				 "width": "100px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_parseContainmentState(data));
				  }
				},
				{
				 "targets": 5,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_alertTimestamps(data, row.matched_at, row.reported_at));
				  }
				},
				{
				 "targets": 6,
				 "width": "140px"
				},
				{
				 "targets": 7,
				 "width": "160px",
				 render: function ( data, type, row, meta ) {
					return(datatables_parseSource(data));
				 }
				},
				{
				 "targets": 8,
				 "width": "160px",
				 render: function ( data, type, row, meta ) {
					return(datatables_parseResolution(data));
				 }				 
				},
				{
				 "targets": 9,
				 "width": "70px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		if (data == 1) {
				 			data = "<b>Investigating</b>";
				 		}
				 		else if (data == 2) {
				 			data = "<b>Completed</b>";
				 		}
				 		else {
				 			data = "New"
				 		}
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 10,
				 "width": "90px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		data = "<button class='showannotation fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' id='showannotation_" + row.DT_RowId + "'>show (" + data + ")</button>";
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 11,
				 "width": "240px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		data = "<button class='addannotation fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' style='margin-right: 6px;' id='annotate_" + row.DT_RowId + "'>annotate<i class='fe-icon--right far fa-comments'></i></button>";
				 		data += "<button class='alertAction fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-remove' data-type='remove' data-id='" + row.DT_RowId + "'>remove<i class='fe-icon--right far fa-trash'></i></button>";
				 	}
				 	return data;
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11]}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");


		// ChartJS: Alerts timeline

		var pastDate = getHistoricDate(7);
		var currentDate = fullDate.toISOString().substr(0, 10);

		var jsonData = $.ajax({
			url: "/api/v1/chartjs_events_timeline?startDate=" + pastDate + "&endDate=" + currentDate,
			dataType: 'json',
		}).done(function (myChartData) {

			var config = {
				type: 'line',
				data: myChartData,
			
				options: {
					responsive: true,
					maintainAspectRatio: false,
					title: {
						display: false
					},
					legend: {
						display: false
					},						
					tooltips: {
						mode: 'index',
						intersect: false,
						borderColor: "rgba(15, 184, 220, 0.4)"
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: false,
							},
							gridLines: {
								display: false
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: false,
							},
							ticks: {
								beginAtZero: true,
								maxTicksLimit: 5
							},
							gridLines: {
								display: true ,
								color: "rgba(15, 184, 220, 0.4)"
							}
						}]
					}
				}
			}

			var ctx = document.getElementById('chartjs_alerts').getContext('2d');
			window.chartjs_alerts = new Chart(ctx, config);
		});


	});

</script>

<!-- ALERT FILTERS -->
<div class="fe-panel" style='margin-top: 12px;'>
	<div class="fe-panel-header fe-panel-header--no-background">
		<div class="fe-label fe-label--background"><i class="fe-icon--left fas fa-filter"></i>Alert filters</div>
	</div>
	<div class='hxtool_panel_top_right_alert'>
		<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='nav_1'>today</button>
		<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='nav_7'>week</button>
		<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='nav_30'>month</button>
		<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='nav_90'>quarter</button>
		<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='nav_180'>half-year</button>
		<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='nav_365'>year</button>

		<span style='font-weight: bold; font-size: 12px; margin-left: 12px;'>from</span>
		<input style='display: inline-block; width: 75px; padding-bottom: 2px;' type='text' class="hxtool_input_small fe-input" id='from'/>

		<span style='font-weight: bold; font-size: 12px;'>to</span>
		<input style='display: inline-block; width: 75px; padding-bottom: 2px; margin-right: 12px;' type='text' class="hxtool_input_small fe-input" id='to'/>

		<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='refresh'>refresh</button>
	</div>
	<div class="fe-panel__body">
		<table class='hxtool_alerts_filter'>
			<tr>
				<th>
					<label for="" class="fe-input-label caption">Endpoint IP/Hostname</label>
				</th>
				<th>
					<label for="" class="fe-input-label caption">Threat name</label>
				</th>
				<th>
					<label for="" class="fe-input-label caption">MD5 Hash</label>
				</th>
				<th>
					<label for="" class="fe-input-label caption">Alert type</label>
				</th>
				<th>
					<label for="" class="fe-input-label caption">Resolution</label>
				</th>
			</tr>
			<tr>
				<td>
					<input class='hxtool_input_small fe-input' id='filtertable_hostname' type='text' style='width: 100%;'>
				</td>
				<td>
					<input class='hxtool_input_small fe-input' id='filtertable_alertname' type='text' style='width: 100%;'>
				</td>
				<td>
					<input class='hxtool_input_small fe-input' id='filtertable_hash' type='text' style='width: 100%;'>
				</td>
				<td>
					{{ htDropdown.widgetHeader("All", "filtertable_source", "all") }}
					{{ htDropdown.widgetItem("All", "all", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Indicator", "ioc", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Exploit Guard", "exd", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Malware", "mal", elementIcon="fa-check") }}
					{{ htDropdown.widgetFooter() }}
				</td>
				<td>
					{{ htDropdown.widgetHeader("All", "filtertable_resolution", "all") }}
					{{ htDropdown.widgetItem("All", "all", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Alert", "ALERT", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Block", "BLOCK", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Partial Block", "PARTIAL_BLOCK", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Active threat", "ACTIVE_THREAT", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Quarantined", "QUARANTINED", elementIcon="fa-check") }}
					{{ htDropdown.widgetItem("Cleaned", "CLEANED", elementIcon="fa-check") }}
					{{ htDropdown.widgetFooter() }}
				</td>
			</tr>
		</table>
	</div>
</div>


<!-- Alerts GRAPH -->
{{ htPanel.widgetHeader("Alerts over time", panelId="alertGraph", panelIcon="fa-chart-area") }}
	<canvas id="chartjs_alerts" class='hxtool_chartjs_canvas'></canvas>
{{ htPanel.widgetFooter() }}


<!-- ALERTS TABLE -->
<div class="fe-panel" style='margin-top: 12px;'>
	<div class="fe-panel-header fe-panel-header--no-background">
		<div class="fe-label fe-label--background"><i class="fe-icon--left fas fa-table"></i>Alerts</div>
	</div>
	<div id="hxtool_search_panel" class="fe-panel__body">
		<table id="alertTable" class='hxtool_table' style='width: 100%;'></table>
	</div>
</div>

<!-- ANNOTATION POPUP -->
{{ htModal.widgetHeader("Add annotation", modalId="annotationPopup", modalOverflow="true") }}
	<input type='hidden' name='annotationBoxID' id='annotationBoxID' value='null'>

	<textarea id='annotateText' style='height: 400px;' class='fe-input'></textarea>
	<br>

	{{ htDropdown.widgetHeader("Investigating", "annotationState", "1") }}
	{{ htDropdown.widgetItem("Investigating", "1", elementIcon="fa-check") }}
	{{ htDropdown.widgetItem("Completed", "2", elementIcon="fa-check") }}
	{{ htDropdown.widgetFooter(elementLabel="Select the current alert state") }}

{{ htModal.widgetMiddle() }}
	<button class="cancelannotation fe-btn fe-btn--md fe-btn--secondary" id="annotationCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="postannotation fe-btn fe-btn--md fe-btn--primary" aria-label="Click"><span> Add </span></button>
{{ htModal.widgetFooter() }}


<!-- VIEW ANNOTATION POPUP -->
{{ htModal.widgetHeader("Alert annotations", modalId="annotationViewPopup") }}
	<div id="annotateViewText">
	</div>

{{ htModal.widgetMiddle() }}
	<button class="cancelannotationview fe-btn fe-btn--md fe-btn--secondary" id="annotationCancel" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}


{% endblock %}