{% extends "layout.html" %}
{% block title %}HXTool - Acquisitions{% endblock %}
{% block navlocation %}Acquisitions{% endblock %}
{% block content %}

<script>

	$(document).ready(function() {

		var acq_datatable = $('#acqTable').DataTable( {
			"ajax": "/api/v1/datatable_acqs",
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": true,
			"processing": false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right fas fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right fas fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right fas fa-file-excel'></i>" }
			],
			"columns": [
				{ "title": "", "data": "platform" },
				{ "title": "Hostname", "data": "hostname" },
				{ "title": "Domain", "data": "domain" },
				{ "title": "OS", "data": "product_name" },
				{ "title": "Requested", "data": "request_time" },
				{ "title": "Containment", "data": "containment_state" },
				{ "title": "Last poll", "data": "last_poll_timestamp" },
				{ "title": "Type", "data": "type" },
				{ "title": "State", "data": "state" },
				{ "title": "Action", "data": "action" }
			],
			"columnDefs": [	
				{
				 "targets": 0,
				 "width": "20px",
				 render: function ( data, type, row, meta ) {
				 	return (datatables_parsePlatform(data));
				 }
				},
				{
				 "targets": 1,
				 render: function ( data, type, row, meta ) {
				 	return(datatables_parseHostlink(data));
				 }
				},
				{
				 "targets": 4,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_Timestamp(data));
				 }
				},
				{
				 "targets": 5,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_parseContainmentState(data));
				 }
				},
				{
				 "targets": 6,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_Timestamp(data));
				 }
				},
				{
				 "targets": 7,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_parseAcquisitionType(data));
				 }
				},
				{
				 "targets": 8,
				 "width": "150px",
				 render: function ( data, type, row, meta ) {
				 	return(datatables_parseAcquisitionState(data));
				 }
				},
				{
				 "targets": 9,
				 "width": "260px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		if (row.type == "triage" && row.state == "COMPLETE") {
				 			data = "<button style='margin-right: 6px;' data-type='download' data-id='/api/v1/acquisition/download?id=/hx/api/v3/acqs/triages/" + row.DT_RowId + ".mans' class='acqAction fe-btn fe-btn--sm fe-btn--hxtool-main'> download <i class='fe-icon--right fas fa-download'></i></button>";
				 			data += "<button data-type='remove' data-id='acqs/triages/" + row.DT_RowId + "' class='acqAction fe-btn fe-btn--sm fe-btn--hxtool-main-remove'> remove <i class='fe-icon--right fas fa-ban'></i></button>";
				 		}
				 		else if (row.type == "live" && row.state == "COMPLETE") {
				 			data = "<button style='margin-right: 6px;' data-type='download' data-id='/api/v1/acquisition/download?id=/hx/api/v3/acqs/live/" + row.DT_RowId + ".mans&content=json' class='acqAction fe-btn fe-btn--sm fe-btn--hxtool-main'> download <i class='fe-icon--right fas fa-download'></i></button>";
				 			data += "<button data-type='remove' data-id='acqs/live/" + row.DT_RowId + "' class='acqAction fe-btn fe-btn--sm fe-btn--hxtool-main-remove'> remove <i class='fe-icon--right fas fa-ban'></i></button>";
				 		}
				 		else if (row.type == "file" && row.state == "COMPLETE") {
				 			data = "<button style='margin-right: 6px;' data-type='download' data-id='/api/v1/acquisition/download?id=/hx/api/v3/acqs/files/" + row.DT_RowId + ".zip' class='acqAction fe-btn fe-btn--sm fe-btn--hxtool-main'> download <i class='fe-icon--right fas fa-download'></i></button>";
				 			data += "<button data-type='remove' data-id='acqs/files/" + row.DT_RowId + "' class='acqAction fe-btn fe-btn--sm fe-btn--hxtool-main-remove'> remove <i class='fe-icon--right fas fa-ban'></i></button>";
				 		}
				 		else {
				 			data = "N/A";	
				 		}
				 	}
				 	return data;
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 2, 3, 4, 5, 6, 8, 9]}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

		$("#acqTable").on("click", ".acqAction", function() {
			myrow = $(this).closest("tr");
			if ($(this).data("type") == "download") {
				location.href = $(this).data("id");
			}
			else if ($(this).data("type") == "remove") {
				hxtool_ajax_get_request("/api/v1/acquisition/remove", "url=" + $(this).data("id"), function() {
					myrow.fadeOut(200, function() {
						acq_datatable.row(myrow).remove().draw();
					});
				});
			}
		});

	});

</script>

{{ htPanel.widgetHeader("Acquisitions", panelIcon="fa-download") }}
	<table id='acqTable' class='hxtool_table' style='width: 100%'></table>
{{ htPanel.widgetFooter() }}

{% endblock %}