{% extends "layout.html" %}
{% block title %}Bulk Acquisitions - hxTool{% endblock %}
{% block navlocation %}Bulk Acquisitions{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
                var table = $('#bulkTable').DataTable( {
                        "info": false,
                        "pageLength": 20,
                        "lengthChange": false
                });


		$(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});

	});
</script>

<form method='POST' action='/bulk' enctype="multipart/form-data">
        <div class='tableTitle'>
                Bulk acquisition script (xml)
        </div>
	<div class='inputArea'>
	        <input type='file' id='bulkscript' name='bulkscript'>
		Host set: 
		<select name='bulkhostset' id='bulkhostset'>
			<option value='1010'>All Hosts Henrik
			<option value='1000'>All Hosts
			<option value='1001'>zombie
			<option value='1006'>new group
		</select>
		<br><br>
	        <input type='submit' value='Start Bulk Acquisition...'>
	</div>
</form>

<br>

<div class='tableTitle'>
	Bulk acquisitions on the controller
</div>

{% if bulktable %} {{ bulktable|safe }} {% endif %}
{% endblock %}
