{% extends "layout.html" %}
{% block title %}HXTool - Bulk Acquisitions{% endblock %}
{% block navlocation %}Bulk Acquisitions{% endblock %}
{% block content %}

<script>

	function roundToTwo(num) {    
		return +(Math.round(num + "e+2")  + "e-2");
	}

	$(document).ready(function() {

		var fullDate = new Date()
		var currentDate = fullDate.toISOString().substr(0, 10);

		$.fn.dataTable.ext.errMode = 'none';
		var bulk_datatable = $('#bulktable').DataTable( {
			"ajax": "/api/v1/datatable_bulk",
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": true,
			"processing": false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right fas fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right fas fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right fas fa-file-excel'></i>" }
			],
			"columns": [
				{ "title": "state", "data": "state" },
				{ "title": "comment", "data": "comment" },
				{ "title": "hostset", "data": "hostset" },
				{ "title": "created", "data": "create_time" },
				{ "title": "user", "data": "create_actor" },
				{ "title": "", "data": "running_state_new" },
				{ "title": "", "data": "running_state_queued" },
				{ "title": "", "data": "running_state_failed" },
				{ "title": "", "data": "running_state_complete" },
				{ "title": "", "data": "running_state_aborted" },
				{ "title": "", "data": "running_state_cancelled" },
				{ "title": "completerate", "data": "completerate" },
				{ "title": "downloadrate", "data": "downloadrate" },
				{ "title": "action", "data": "action" }

			],
			"headerCallback": function( thead, data, start, end, display ) {
				//$(thead).find('th').eq(7).html('<div class="hxtool_table_cell_vertical">runtime avg</div>');
				//$(thead).find('th').eq(8).html('<div class="hxtool_table_cell_vertical">runtime min</div>');
				//$(thead).find('th').eq(9).html('<div class="hxtool_table_cell_vertical">runtime max</div>');
				//$(thead).find('th').eq(8).html('<div class="hxtool_table_cell_vertical">tasksize avg</div>');
				//$(thead).find('th').eq(11).html('<div class="hxtool_table_cell_vertical">tasksize min</div>');
				//$(thead).find('th').eq(12).html('<div class="hxtool_table_cell_vertical">tasksize max</div>');
				$(thead).find('th').eq(5).html('<div class="hxtool_table_cell_vertical">new</div>');
				$(thead).find('th').eq(6).html('<div class="hxtool_table_cell_vertical">queued</div>');
				$(thead).find('th').eq(7).html('<div class="hxtool_table_cell_vertical">failed</div>');
				$(thead).find('th').eq(8).html('<div class="hxtool_table_cell_vertical">complete</div>');
				$(thead).find('th').eq(9).html('<div class="hxtool_table_cell_vertical">aborted</div>');
				$(thead).find('th').eq(10).html('<div class="hxtool_table_cell_vertical">cancelled</div>');
			},
			"initComplete": function(settings, json) {
				$("div[id^='crate_']").each(function() {
					$(this).progress()
				});
				$("div[id^='prog_']").each(function() {
					$(this).progress()
				});
			},
			"columnDefs": [	
				{
				 "targets": 0,
				 render: function ( data, type, row, meta ) {
				 	return (datatables_parseAcquisitionState(data));
				 }
				},
				{
				 "targets": 1,
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		data = '<span class="bulkname" style="font-weight: bold; cursor: pointer;">' + data + '</span>';
				 		data += '<div style="display: none; position: absolute; border: 1px solid rgba(15, 184, 220, 0.4); padding: 15px; background: #2c3138; border-radius: 3px;">';
				 		data += '<h5>Additional information</h5>';
				 		data += '<table class="hxtool_table">';
				 		data += '<tbody>';
				 		data += '<tr>';
				 		data += '<td>ID</td>';
				 		data += '<td>' + row.DT_RowId + '</td>';
				 		data += '</tr>';
				 		data += '<tr>';
				 		data += '<td>Total size</td>';
				 		data += '<td>' + roundToTwo(row.total_size / 1024 / 1024) + ' MB</td>';
				 		data += '</tr>';
				 		data += '<tr>';
				 		data += '<td>Runtime avg</td>';
				 		data += '<td>' + Math.round(row.stat_runtime_avg) + ' seconds</td>';
				 		data += '</tr>';
				 		data += '<tr>';
				 		data += '<td>Runtime min</td>';
				 		data += '<td>' + Math.round(row.stat_runtime_min) + ' seconds</td>';
				 		data += '</tr>';
				 		data += '<tr>';
				 		data += '<td>Runtime max</td>';
				 		data += '<td>' + Math.round(row.stat_runtime_max) + ' seconds</td>';
				 		data += '</tr>';
				 		data += '<tr>';
				 		data += '<td>Tasksize avg</td>';
				 		data += '<td>' + roundToTwo(row.task_size_avg / 1024 / 1024) + ' MB</td>';
				 		data += '</tr>';
				 		data += '<tr>';
				 		data += '<td>Tasksize min</td>';
				 		data += '<td>' + roundToTwo(row.task_size_min / 1024 / 1024) + ' MB</td>';
				 		data += '</tr>';
				 		data += '<tr>';
				 		data += '<td>Tasksize max</td>';
				 		data += '<td>' + roundToTwo(row.task_size_max / 1024 / 1024) + ' MB</td>';
				 		data += '</tr>';
				 		data += '</tbody>';
				 		data += '</table>';
				 		data += '</div>';
				 	}
				 	return data;
				 }
				},
				{
				 "targets": [ 5, 6, 7, 8, 9, 10 ],
				 "width": "60px"
				},
				{
				 "targets": [ 3 ],
				 render: function ( data, type, row, meta ) {
				 	return (datatables_Timestamp(data));
				 }
				},				
				{
				 "targets": 11,
				 "width": "180px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		data = "<div class='htMyBar htBarWrap'><div class='htBar' id='crate_" + row.DT_RowId + "' data-percent='" + Math.round(data) + "'></div></div>";
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 12,
				 "width": "180px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		if (data === parseInt(data, 10)) {
					 		data = "<div class='htMyBar htBarWrap'><div class='htBar' id='prog_" + row.DT_RowId + "' data-percent='" + Math.round(data) + "'></div></div>";
				 		}
				 		else {
				 			data = "N/A";
				 		}
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 13,
				 "width": "280px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		if (data === parseInt(data, 10)) {
					 		myid = data;
					 		data = "";
					 		data += "<button style='margin-right: 6px;' class='bulkAction fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-type='stop' data-id='" + myid + "'>stop<i class='fe-icon--right fas fa-ban'></i></button>";
					 		data += "<button style='margin-right: 6px;' class='bulkAction fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-remove' data-type='remove' data-id='" + myid + "'>remove<i class='fe-icon--right fas fa-trash'></i></button>";
					 		if (row.downloadrate == "N/A") {
						 		data += "<button style='margin-right: 6px;' class='bulkAction fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-type='download' data-id='" + myid + "'>download<i class='fe-icon--right fas fa-download'></i></button>";
						 	}
						 	else {
						 		data += "<button style='margin-right: 6px;' class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-disabled'>download<i class='fe-icon--right fas fa-download'></i></button>";
						 	}
					 	}
					 	else if (data == "file_listing") {
					 		data = "<button style='margin-right: 6px;' class='bulkLink fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-link' data-type='multi'>multifile<i class='fe-icon--right fas fa-external-link'></i></button>";
					 	}
					 	else if (data == "stacking") {
					 		data = "<button style='margin-right: 6px;' class='bulkLink fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-link' data-type='stacking'>stacking<i class='fe-icon--right fas fa-external-link'></i></button>";
					 	}
				 	}
				 	return data;
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

		$("#bulktable").on("click", ".bulkLink", function(){
			if ($(this).data("type") == "stacking") {
				location.href = "/stacking";
			}
			else if ($(this).data("type") == "multi") {
				location.href = "/multifile";
			}			
		});

		setInterval( function () {
			bulk_datatable.ajax.reload(function() {
				$("div[id^='crate_']").each(function() {
					$(this).progressNoAnimate();
				});
				$("div[id^='prog_']").each(function() {
					$(this).progressNoAnimate();
				});
				//var newDate = new Date()
				//var updateDate = fullDate.toISOString().substr(0, 10);
			});
		}, 60000 );

		$("#bulkNew").click(function(){
			$("#bulkNewPopup").show();
		});

		$("#bulkCancel").click(function(){
			$("#bulkNewPopup").hide();
		});

		$(document).on('mouseenter', '.bulkname', function() {
			$(this).next().show();
		}).on('mouseleave','.bulkname',  function(){
			$(this).next().hide();
		});

		$("#bulktable").on("click", ".bulkAction", function(){
			mytype = $(this).data("type");
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/acquisition/bulk/" + $(this).data("type"), "id=" + $(this).data("id"), function() {
				if (mytype == "remove") {
					myrow.fadeOut(200, function() {
						bulk_datatable.row(myrow).remove().draw();
						updateChartJS(chartjs_searches, "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate);
					})
				}
				else {
					bulk_datatable.ajax.reload(function() {
						$("div[id^='crate_']").each(function() {
							$(this).progressNoAnimate();
						});
						$("div[id^='prog_']").each(function() {
							$(this).progressNoAnimate();
						});
					});
				}
			});
		});


		// New acquisition
		$("#bulkSubmit").click(function () {

			if (($("#bulkHostset").data("id") == "false") || ($("#bulkcomment").val() == "")) {
				alert("check inputs");
			}
			else {

				mymode = $("input[name='bulksource']:checked").val();
				myhostsetid = $("#bulkHostset").data("id");
				myschedule = $("input[name='schedule']:checked").val();
				mydisplayname = $("#bulkcomment").val();
				mytaskprocessor = $("#taskprocessorId").data("id");

				var data = new FormData();

				// Set the endpoint and IOC Data
				if (mymode == "hxtool") {
					myApiEndpoint = "/api/v1/acquisition/bulk/new/db";
					data.append("bulkscript", $("#bulkScriptDb").data("id"));
				}
				else if (mymode == "file") {
					myApiEndpoint = "/api/v1/acquisition/bulk/new/file";
					$.each($('#bulkscript').prop('files'), function(key, value) {
						data.append("bulkscript", value);
					});
				}
				
				// Grab settings and contstruct URL / Form
				data.append("bulkhostset", myhostsetid);
				data.append("displayname", mydisplayname);
				data.append("schedule", myschedule);
				if (myschedule == "run_at") {
					data.append("run_at_value", $("#run_at_value").val());
				}
				else if (myschedule == "run_interval") {
					data.append("interval_value", $("#interval_value").val());
					data.append("interval_unit", $("#interval_unit").data("id"));
					data.append("interval_start", $("#interval_start").val());
					data.append("interval_start_value", $("#interval_start_value").val());
				}
				data.append("taskprocessor", mytaskprocessor);

				// Send the request
				$("#bulkNewPopup").hide();
				if (mymode == "hxtool") {
					var params = [];
					for(var pair of data.entries()) {
						params.push({
							"name" : pair[0],
							"value" : pair[1]
						});
					}
					myUrl = $.param(params);
					hxtool_ajax_get_request(myApiEndpoint, myUrl, function() {
						if (myschedule == "run_now") {
							setTimeout( function () {
								bulk_datatable.ajax.reload(function() {
									$("div[id^='crate_']").each(function() {
										$(this).progressNoAnimate();
									});
									$("div[id^='prog_']").each(function() {
										$(this).progressNoAnimate();
									});
								});
								updateChartJS(chartjs_searches, "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate);
							}, 1000 );
						}
						else {
							location.href = "/scheduler";
						}
					});
				}
				else if (mymode == "file") {
					hxtool_ajax_post_request(myApiEndpoint, data, function() {
						if (myschedule == "run_now") {
							setTimeout( function () {
								bulk_datatable.ajax.reload(function() {
									$("div[id^='crate_']").each(function() {
										$(this).progressNoAnimate();
									});
									$("div[id^='prog_']").each(function() {
										$(this).progressNoAnimate();
									});
								});
								updateChartJS(chartjs_searches, "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate);
							}, 1000 );
						}
						else {
							location.href = "/scheduler";
						}
					});
				}
			}

		});


		// START: Charts
		Chart.defaults.global.defaultFontColor = 'rgba(255, 255, 255, 0.8)';
		Chart.defaults.global.defaultFontFamily = 'Open Sans';

		// ChartJS: Historical searches
		var jsonData = $.ajax({
			url: "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate,
			dataType: 'json',
		}).done(function (myChartData) {

			var config = {
				type: 'line',
				data: myChartData,
			
				options: {
					responsive: true,
					maintainAspectRatio: false,
					title: {
						display: false
					},
					legend: {
						display: false
					},						
					tooltips: {
						mode: 'index',
						intersect: false,
						borderColor: "rgba(15, 184, 220, 0.4)"
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: false,
							},
							gridLines: {
								display: false
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: false,
							},
							ticks: {
								beginAtZero: true,
								maxTicksLimit: 5,
								precision: 0
							},
							gridLines: {
								display: true ,
								color: "rgba(15, 184, 220, 0.4)"
							}
						}]
					}
				}
			}

			var ctx = document.getElementById('chartjs_bulk').getContext('2d');
			window.chartjs_searches = new Chart(ctx, config);
		});

	});
</script>

{{ htPanelNoHeader.widgetHeader(panelId="bulkNew", panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main-master"> new bulk acquisition <i style='color: #11a962;' class="fe-icon--right fas fa-download"></i></button>
{{ htPanelNoHeader.widgetFooter() }}

<!-- BULK GRAPH -->
{{ htPanel.widgetHeader("Bulk acquisitions over time", panelId="esGraph", panelIcon="fa-chart-area") }}
	<canvas id="chartjs_bulk" class='hxtool_chartjs_canvas'></canvas>
{{ htPanel.widgetFooter() }}


{{ htModal.widgetHeader("New Bulk Acquisition", modalId="bulkNewPopup", modalOverflow="true") }}

	<!-- Bulk comment -->
	<h3 class='hxtool_typography_h3'>Name</h3>
	<div class='hxtool_panel_wrapper' style='width: 550px; margin-left: 0; margin-top: 6px;'>
	    <input type="text" name="bulkcomment" id="bulkcomment" value="" class="fe-input" placeholder="my new acquisition" />
	    <span class="fe-input-hint-text">Enter a name for your acquisition so others knows what it is</span>
	</div>


	<!-- Script source -->
	<h3 class='hxtool_typography_h3 hxtool_typography_underline'>Script source</h3>
	<div class='hxtool_panel_wrapper'>

		{{ htRadio.widgetHeader("From HXTool", "hxtool", "bulksource-a", "bulksource", elementChecked="true") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>
			<div class="fe-dropdown">
				<button id='bulkScriptDb' data-id='__hxtool_not_set' class="fe-btn fe-btn--sm fe-btn--hxtool-main-dropdown"> Select an acquisition script <i class="fe-icon--right fas fa-chevron-up"></i></button>
				<div class="fe-dropdown__list-container">
					<ul class="fe-dropdown__list fe-list">
						{% if scripts %} {{scripts|safe}} {% endif %}
					</ul>
				</div>
			</div>
		</div>

		{{ htRadio.widgetHeader("From file", "file", "bulksource-a", "bulksource", elementChecked="false") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>
			<input class="fe-input" style='width: 96%;' type='file' id='bulkscript' name='bulkscript'>
		</div>
	</div>

	<!-- Host Set selection -->
	<h3 class='hxtool_typography_h3 hxtool_typography_underline'>Hostset</h3>
	<div class='hxtool_panel_wrapper'>
		{{ htDropdown.widgetHeader("select a hostset", "bulkHostset", "false") }}
			{% if hostsets %} {{hostsets|safe}} {% endif %}
		{{ htDropdown.widgetFooter(elementLabel="Select the target host set") }}
	</div>

	<!-- SCHEDULER -->
	{{ htSchedule.widgetHeader() }}
	<!-- Task profile -->
	<h3 class='hxtool_typography_h3 hxtool_typography_underline'>Task-processor profile</h3>
	<div class='hxtool_panel_wrapper'>
		{{ htDropdown.widgetHeader("No profile", "taskprocessorId", "false") }}
			{% if taskprofiles %} {{taskprofiles|safe}} {% endif %}
		{{ htDropdown.widgetFooter(elementLabel="Select a profile for post-processing") }}
	</div>

{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="bulkCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="bulkSubmit" aria-label="Click"><span> Submit </span></button>
{{ htModal.widgetFooter() }}

{{ htPanel.widgetHeader("Bulk acquisitions", panelIcon="fa-table") }}
	<table id='bulktable' style='width: 100%' class='hxtool_table hxtool_table_header_es'></table>
{{ htPanel.widgetFooter() }}

{% endblock %}
