{% extends "layout.html" %}
{% block title %}HXTool - Bulk Acquisition{% endblock %}
{% block navlocation %}Bulk Acquisition - Details{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
                var table = $('#bulkTable').DataTable( {
                        "info": false,
                        "pageLength": 20,
                        "lengthChange": false
                });


		$(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});

	});
</script>

<br>

<div class='tableTitle'>
	Bulk Acquisition details	
</div>
{% if bulktable %} {{ bulktable|safe }} {% endif %}
{% endblock %}
