{% extends "layout.html" %}
{% block title %}HXTool - Bulk Acquisitions{% endblock %}
{% block navlocation %}Bulk Acquisitions{% endblock %}
{% block content %}

<script>

	function roundToTwo(num) {    
		return +(Math.round(num + "e+2")  + "e-2");
	}

	function renderInterval(intervalType) {

		out = "";

		if (intervalType == "month") {
			out += " on the ";
			out += "<select id='intervalDay'>";
			for (var i=1; i < 32; i += 1){
				out += "<option value='" + i + "'>" + i;
			}
			out += "</select>";
			out += " ";
		}

		if (intervalType == "week") {
			out += " on ";
			out += "<select id='intervalWeek'>";
			out += "<option value='0'>Monday";
			out += "<option value='1'>Tuesday";
			out += "<option value='2'>Wednesday";
			out += "<option value='3'>Thursday";
			out += "<option value='4'>Friday";
			out += "<option value='5'>Saturday";
			out += "<option value='6'>Sunday";
			out += "</select>";
			out += " ";
		}

		if (intervalType == "day" || intervalType == "week" || intervalType == "month") {
			out += " at the ";
			out += "<select id='intervalHour'>";
			for (var i=0; i < 24; i += 1){
				out += "<option value='" + i + "'>" + i;
			}
			out += "</select>";
			out += " hour ";
		}

		if (intervalType == "hour" || intervalType == "day" || intervalType == "week" || intervalType == "month") {
			out += " on the ";
			out += "<select id='intervalMin'>";
			for (var i=0; i < 60; i += 1){
				out += "<option value='" + i + "'>" + i;
			}
			out += "</select>";
			out += " minute ";
		}

		$("#intervalSettings").html(out);
	}

	$(document).ready(function() {

		var fullDate = new Date()
		var currentDate = fullDate.toISOString().substr(0, 10);

		$.fn.dataTable.ext.errMode = 'none';
		var bulk_datatable = $('#bulktable').DataTable( {
			"ajax": "/api/v1/datatable_bulk",
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"processing": false,
			"columns": [
				{ "title": "id", "data": "DT_RowId" },
				{ "title": "state", "data": "state" },
				{ "title": "comment", "data": "comment" },
				{ "title": "hostset", "data": "hostset" },
				{ "title": "created", "data": "create_time" },
				{ "title": "user", "data": "create_actor" },
				{ "title": "size", "data": "total_size" },
				{ "title": "", "data": "stat_runtime_avg" },
				{ "title": "", "data": "stat_runtime_min" },
				{ "title": "", "data": "stat_runtime_max" },
				{ "title": "", "data": "task_size_avg" },
				{ "title": "", "data": "task_size_min" },
				{ "title": "", "data": "task_size_max" },
				{ "title": "", "data": "running_state_new" },
				{ "title": "", "data": "running_state_queued" },
				{ "title": "", "data": "running_state_failed" },
				{ "title": "", "data": "running_state_complete" },
				{ "title": "", "data": "running_state_aborted" },
				{ "title": "", "data": "running_state_cancelled" },
				{ "title": "completerate", "data": "completerate" },
				{ "title": "downloadrate", "data": "downloadrate" },
				{ "title": "action", "data": "action" }

			],
			"headerCallback": function( thead, data, start, end, display ) {
				$(thead).find('th').eq(7).html('<div class="hxtool_table_cell_vertical">runtime avg</div>');
				$(thead).find('th').eq(8).html('<div class="hxtool_table_cell_vertical">runtime min</div>');
				$(thead).find('th').eq(9).html('<div class="hxtool_table_cell_vertical">runtime max</div>');
				$(thead).find('th').eq(10).html('<div class="hxtool_table_cell_vertical">tasksize avg</div>');
				$(thead).find('th').eq(11).html('<div class="hxtool_table_cell_vertical">tasksize min</div>');
				$(thead).find('th').eq(12).html('<div class="hxtool_table_cell_vertical">tasksize max</div>');
				$(thead).find('th').eq(13).html('<div class="hxtool_table_cell_vertical">new</div>');
				$(thead).find('th').eq(14).html('<div class="hxtool_table_cell_vertical">queued</div>');
				$(thead).find('th').eq(15).html('<div class="hxtool_table_cell_vertical">failed</div>');
				$(thead).find('th').eq(16).html('<div class="hxtool_table_cell_vertical">complete</div>');
				$(thead).find('th').eq(17).html('<div class="hxtool_table_cell_vertical">aborted</div>');
				$(thead).find('th').eq(18).html('<div class="hxtool_table_cell_vertical">cancelled</div>');
			},
			"fnDrawCallback": function (oSettings) {
				$("div[id^='crate_']").each(function() {
					$(this).progress()
				});
				$("div[id^='prog_']").each(function() {
					$(this).progress()
				});
			},
			"columnDefs": [	
				{
				 "targets": [ 0, 2 ],
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		data = '<a style="margin: 0;" class="fe-radio__label" href="/bulkdetails?id=' + row.DT_RowId + '">' + data + '</a>';
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 1,
				 render: function ( data, type, row, meta ) {
				 	return (datatables_parseAcquisitionState(data));
				 }
				},				
				{
				 "targets": [ 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ],
				 "width": "60px"
				},
				{
				 "targets": [ 3, 4 ],
				 render: function ( data, type, row, meta ) {
				 	return (datatables_Timestamp(data));
				 }
				},				
				{
				 "targets": [ 7, 8, 9 ],
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		data = Math.round(data);
				 	}
				 	return data;
				 }
				},
				{
				 "targets": [ 6, 10, 11, 12 ],
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		mysize = (data / 1024 / 1024);
				 		data = roundToTwo(mysize);
					}
				 	return data;
				 }
				},
				{
				 "targets": 19,
				 "width": "180px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		data = "<div class='htMyBar htBarWrap'><div class='htBar' id='crate_" + row.DT_RowId + "' data-percent='" + Math.round(data) + "'></div></div>";
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 20,
				 "width": "180px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		if (data === parseInt(data, 10)) {
					 		data = "<div class='htMyBar htBarWrap'><div class='htBar' id='prog_" + row.DT_RowId + "' data-percent='" + Math.round(data) + "'></div></div>";
				 		}
				 		else {
				 			data = "N/A";
				 		}
				 	}
				 	return data;
				 }
				},
				{
				 "targets": 21,
				 "width": "230px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display') {
				 		if (data === parseInt(data, 10)) {
					 		myid = data;
					 		data = "<button style='margin-right: 6px;' class='bulkAction fe-btn fe-btn--sm fe-btn--primary active' data-type='stop' data-id='" + myid + "'>stop</button>";
					 		data += "<button style='margin-right: 6px;' class='bulkAction fe-btn fe-btn--sm fe-btn--primary active' data-type='remove' data-id='" + myid + "'>remove</button>";
					 		data += "<button style='margin-right: 6px;' class='bulkAction fe-btn fe-btn--sm fe-btn--primary active' data-type='download' data-id='" + myid + "'>download</button>";
					 	}
					 	else {
					 		data = "Task Profile: " + data;
					 	}
				 	}
				 	return data;
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]}
			]
		});

		setInterval( function () {
			bulk_datatable.ajax.reload();
		}, 60000 );

		$('body').on('change','select',function(){

			if ($(this).attr('id') == "intervalMetric") {
				renderInterval($(this).val());
			}
		});

		jQuery('#scheduled_timestamp').daterangepicker({
			singleDatePicker: true,
			autoApply: true,
			timePicker: true,
			timePicker24Hour: true,
			buttonClasses: "fe-btn fe-btn--md",
			applyButtonClasses: "fe-btn--primary",
			cancelButtonClasses: "fe-btn--secondary",
			locale: {
				format: 'YYYY-MM-DD hh:mm:ss',
				firstDay: 1
			}
		});


		$("#bulkNew").click(function(){
			$("#bulkNewPopup").show();
		});

		$("#bulkCancel").click(function(){
			$("#bulkNewPopup").hide();
		});

		$("#bulktable").on("click", ".bulkAction", function(){
			mytype = $(this).data("type");
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/acquisition/bulk/" + $(this).data("type"), "id=" + $(this).data("id"), function() {
				if (mytype == "remove") {
					myrow.fadeOut(200, function() {
						bulk_datatable.row(myrow).remove().draw();
						updateChartJS(chartjs_searches, "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate);
					})
				}
				else {
					bulk_datatable.ajax.reload();	
				}
			});
		});


		// New acquisition
		$("#bulkSubmit").click(function () {

			if (($("#bulkHostset").data("id") == "false") || ($("#bulkcomment").val() == "")) {
				alert("check inputs");
			}
			else {

				mymode = $("input[name='bulksource']:checked").val();
				myhostsetid = $("#bulkHostset").data("id");
				myschedule = $("input[name='schedule']:checked").val();
				mydisplayname = $("#bulkcomment").val();
				mytaskprocessor = $("#taskprocessorId").data("id");

				// Set the endpoint and IOC Data
				if (mymode == "hxtool") {
					myApiEndpoint = "/api/v1/acquisition/bulk/new/db";
					myscript = $("#bulkScriptDb").data("id");
				}
				else if (mymode == "file") {
					myApiEndpoint = "/api/v1/acquisition/bulk/new/file";
					var data = new FormData();
					$.each($('#bulkscript').prop('files'), function(key, value) {
						data.append("bulkscript", value);
					});
				}

				// Grab settings and contstruct URL / Form
				if (myschedule == "run_now" && mymode == "hxtool") {
					myUrl = "bulkhostset=" + myhostsetid + "&bulkscript=" + myscript + "&displayname=" + mydisplayname + "&taskprocessor=" + mytaskprocessor;
				}
				else if (myschedule == "run_now" && mymode == "file") {
					data.append("bulkhostset", myhostsetid);
					data.append("displayname", mydisplayname);
					data.append("taskprocessor", mytaskprocessor);
				}
				else if (myschedule == "run_at" && mymode == "hxtool") {
					scheduled_timestamp = $("#scheduled_timestamp").val();
					myUrl = "bulkhostset=" + myhostsetid + "&bulkscript=" + myscript + "&displayname=" + mydisplayname + "&schedule=" + myschedule + "&scheduled_timestamp=" + scheduled_timestamp + "&taskprocessor=" + mytaskprocessor;
				}
				else if (myschedule == "run_at" && mymode == "file") {
					scheduled_timestamp = $("#scheduled_timestamp").val();
					data.append("bulkhostset", myhostsetid);
					data.append("displayname", mydisplayname);
					data.append("schedule", myschedule);
					data.append("scheduled_timestamp", scheduled_timestamp);
					data.append("taskprocessor", mytaskprocessor);
				}
				else if (myschedule == "run_interval" && mymode == "hxtool") {
					baseUrl = "bulkhostset=" + myhostsetid + "&bulkscript=" + myscript + "&displayname=" + mydisplayname + "&schedule=" + myschedule + "&taskprocessor=" + mytaskprocessor;

					intervalMin = $("#intervalMin").val()
					intervalHour = $("#intervalHour").val()
					intervalDay = $("#intervalDay").val()
					intervalWeek = $("#intervalWeek").val()
					intervalMetric = $("#intervalMetric").val()

					if (intervalMetric == "min") {
						myUrl = baseUrl;
					}
					else if (intervalMetric == "hour") {
						myUrl = baseUrl + "&intervalMin=" + intervalMin;
					}
					else if (intervalMetric == "day") {
						myUrl = baseUrl + "&intervalMin=" + intervalMin + "&intervalHour=" + intervalHour;
					}
					else if (intervalMetric == "week") {
						myUrl = baseUrl + "&intervalMin=" + intervalMin + "&intervalHour=" + intervalHour + "&intervalWeek=" + intervalWeek;
					}
					else if (intervalMetric == "month") {
						myUrl = baseUrl + "&intervalMin=" + intervalMin + "&intervalHour=" + intervalHour + "&intervalDay=" + intervalDay;
					}
				}
				else if (myschedule == "run_interval" && mymode == "file") {
					data.append("bulkhostset", myhostsetid);
					data.append("displayname", mydisplayname);
					data.append("schedule", myschedule);
					data.append("taskprocessor", mytaskprocessor);

					intervalMin = $("#intervalMin").val()
					intervalHour = $("#intervalHour").val()
					intervalDay = $("#intervalDay").val()
					intervalWeek = $("#intervalWeek").val()
					intervalMetric = $("#intervalMetric").val()

					if (intervalMetric == "hour") {
						data.append("intervalMin", intervalMin);
					}
					else if (intervalMetric == "day") {
						data.append("intervalMin", intervalMin);
						data.append("intervalHour", intervalHour);
					}
					else if (intervalMetric == "week") {
						data.append("intervalMin", intervalMin);
						data.append("intervalHour", intervalHour);
						data.append("intervalWeek", intervalWeek);
					}
					else if (intervalMetric == "month") {
						data.append("intervalMin", intervalMin);
						data.append("intervalHour", intervalHour);
						data.append("intervalDay", intervalDay);
					}
				}

				// Send the request
				$("#bulkNewPopup").hide();
				if (mymode == "hxtool") {
					hxtool_ajax_get_request(myApiEndpoint, myUrl, function() {
						if (myschedule == "run_now") {
							setTimeout( function () {
								bulk_datatable.ajax.reload();
								updateChartJS(chartjs_searches, "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate);
							}, 1000 );
						}
						else {
							location.href = "/scheduler";
						}
					});
				}
				else if (mymode == "file") {
					hxtool_ajax_post_request(myApiEndpoint, data, function() {
						if (myschedule == "run_now") {
							setTimeout( function () {
								bulk_datatable.ajax.reload();
								updateChartJS(chartjs_searches, "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate);
							}, 1000 );
						}
						else {
							location.href = "/scheduler";
						}
					});
				}
			}

		});


		// START: Charts
		Chart.defaults.global.defaultFontColor = 'rgba(255, 255, 255, 0.8)';
		Chart.defaults.global.defaultFontFamily = 'Open Sans';

		// ChartJS: Historical searches
		var jsonData = $.ajax({
			url: "/api/v1/acquisition/bulk/chartjs_acquisitions?startDate=" + getHistoricDate(7) + "&endDate=" + currentDate,
			dataType: 'json',
		}).done(function (myChartData) {

			var config = {
				type: 'line',
				data: myChartData,
			
				options: {
					responsive: true,
					maintainAspectRatio: false,
					title: {
						display: false
					},
					legend: {
						display: false
					},						
					tooltips: {
						mode: 'index',
						intersect: false,
						borderColor: "rgba(15, 184, 220, 0.4)"
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: false,
							},
							gridLines: {
								display: false
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: false,
							},
							ticks: {
								beginAtZero: true,
								maxTicksLimit: 5,
								precision: 0
							},
							gridLines: {
								display: true ,
								color: "rgba(15, 184, 220, 0.4)"
							}
						}]
					}
				}
			}

			var ctx = document.getElementById('chartjs_bulk').getContext('2d');
			window.chartjs_searches = new Chart(ctx, config);
		});

	});
</script>

{{ htPanel.widgetHeader("Action", panelId="bulkNew", panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main"> new bulk acquisition <i style='color: #11a962;' class="fe-icon--right fas fa-search-plus"></i></button>
{{ htPanel.widgetFooter() }}

<!-- BULK GRAPH -->
{{ htPanel.widgetHeader("Bulk acquisitions over time", panelId="esGraph") }}
	<canvas id="chartjs_bulk" class='hxtool_chartjs_canvas'></canvas>
{{ htPanel.widgetFooter() }}


{{ htModal.widgetHeader("New Bulk Acquisition", modalId="bulkNewPopup") }}

	<!-- Bulk comment -->
	<h3 class='hxtool_typography_h3'>Name</h3>
	<div class='hxtool_panel_wrapper' style='width: 550px; margin-left: 0; margin-top: 6px;'>
	    <input type="text" name="bulkcomment" id="bulkcomment" value="" class="fe-input" placeholder="my new acquisition" />
	    <span class="fe-input-hint-text">Enter a name for your acquisition so others knows what it is</span>
	</div>


	<!-- Script source -->
	<h3 class='hxtool_typography_h3'>Script source</h3>
	<div class='hxtool_panel_wrapper'>

		{{ htRadio.widgetHeader("From HXTool", "hxtool", "bulksource-a", "bulksource", elementChecked="true") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>
			<div class="fe-dropdown">
				<button id='bulkScriptDb' data-id='__hxtool_not_set' class="fe-btn fe-btn--sm fe-btn--hxtool-main"> Select an acquisition script <i class="fe-icon--right fal fa-chevron-up"></i></button>
				<div class="fe-dropdown__list-container">
					<ul class="fe-dropdown__list fe-list">
						{% if scripts %} {{scripts|safe}} {% endif %}
					</ul>
				</div>
			</div>
		</div>

		{{ htRadio.widgetHeader("From file", "file", "bulksource-a", "bulksource", elementChecked="false") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>
			<input class="fe-btn fe-btn--sm fe-btn--primary active" style='background: transparent;' type='file' id='bulkscript' name='bulkscript'>
		</div>
	</div>

	<!-- Host Set selection -->
	<h3 class='hxtool_typography_h3'>Hostset</h3>
	<div class='hxtool_panel_wrapper'>
		{{ htDropdown.widgetHeader("select a hostset", "bulkHostset", "false") }}
			{% if hostsets %} {{hostsets|safe}} {% endif %}
		{{ htDropdown.widgetFooter(elementLabel="Select the target host set") }}
	</div>

	<!-- SCHEDULER -->
	<h3 class='hxtool_typography_h3'>Scheduler</h3>
	<div class='hxtool_panel_wrapper'>
		{{ htRadio.widgetHeader("Run now", "run_now", "schedule-a", "schedule", elementChecked="true") }}
		{{ htRadio.widgetHeader("Run at a specific date/time", "run_at", "schedule-b", "schedule", elementChecked="false") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px; width: 150px;'>
			<input type='text' class="fe-input" id='scheduled_timestamp' name='scheduled_timestamp'>
		</div>

		{{ htRadio.widgetHeader("Run on an interval", "run_interval", "schedule-c", "schedule", elementChecked="false") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>				
			<span>
				Every 
				<select class="hxtool_input_select fe-input" name='intervalMetric' id='intervalMetric' style='width: 150px; display: inline-block;'>
					<option value='min'>Minute
					<option value='hour'>Hour
					<option value='day'>Day
					<option value='week'>Week
					<option value='month'>Month
				</select>
			</span>
			<br><br>
			<span id='intervalSettings'></span>
		</div>
	</div>

	<!-- Task profile -->
	<h3 class='hxtool_typography_h3'>Task-processor profile</h3>
	<div class='hxtool_panel_wrapper'>
		{{ htDropdown.widgetHeader("No profile", "taskprocessorId", "false") }}
			{% if taskprofiles %} {{taskprofiles|safe}} {% endif %}
		{{ htDropdown.widgetFooter(elementLabel="Select a profile for post-processing") }}
	</div>

{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="bulkCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="bulkSubmit" aria-label="Click"><span> Submit </span></button>
{{ htModal.widgetFooter() }}

{{ htPanel.widgetHeader("Bulk acquisitions") }}
	<table id='bulktable' style='width: 100%' class='hxtool_table hxtool_table_header_es'></table>
{{ htPanel.widgetFooter() }}

{% endblock %}
