{% extends "layout.html" %}
{% block title %}Bulk Acquisitions - hxTool{% endblock %}
{% block navlocation %}Bulk Acquisitions{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
                var table = $('#bulkTable').DataTable( {
                        "info": false,
                        "pageLength": 20,
                        "lengthChange": false
                });


		$(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});

	});
</script>

<form method='POST' action='/bulk' enctype="multipart/form-data">
        <div class='tableTitle'>
                Bulk acquisition script (xml)
        </div>
	<div class='inputArea'>
	        <input type='file' id='bulkscript' name='bulkscript'>
		Host set: 
		<select name='bulkhostset' id='bulkhostset'>
			{% if hostsets %} {{ hostsets|safe }} {% endif %}
		</select>
		<br>
		<div style='font-style: italic; margin-bottom: 15px; margin-top: 8px;'>A bulk acquisition is similar to a normal forensic acquisition in HX but is targeting a list of hosts instead of individual hosts. You need to provide a compatible acquisition script and select a target host-set.</div>
		<br>
	        <input type='submit' value='Start Bulk Acquisition...'>
	</div>
</form>

<br>

<div class='tableTitle'>
	Bulk acquisitions on the controller
</div>

{% if bulktable %} {{ bulktable|safe }} {% endif %}

{% endblock %}
