{% extends "layout.html" %}
{% block title %}HXTool - Categories{% endblock %}
{% block navlocation %}Manage Categories{% endblock %}
{% block content %}

<script>
		$(document).ready(function() {
		
			$('#createCategory').click(function(){ 
				$('#shader').show();
				$('#createCategoryPopup').show();
			});
	
			$('#createCategoryCancel').click(function(){
				$('#createCategoryPopup').hide();
				$('#shader').hide();
			});		
		
		});
</script>

<form style='margin: 0;' method='post'>
<input class='tableActionButton' type='button' value='Create new category' name='createCategory' id='createCategory'>
<br><br>

<div class='tableTitle'>
	Indicator categories
</div>

{% if categories %} {{ categories|safe }} {% endif %}


<div class='shader' id='shader' style='display: none;'>&nbsp;</div>
<div class='createCategoryPopup' id='createCategoryPopup' style='display: none;'>
	<form method='post' style='font-size: 14px; font-weight: bold;'>
		<div class='tableTitle' style='border-bottom: 1px solid rgb(215,215,215); margin-bottom: 15px;'>Create new category</div>
		<div class='descr'>- Create a new category for real-time indicators</div>
		<br>
		<div class='inputTitle'>Category name</div>
		<input type='text' name='catname' id='catname' style='width: 400px;'><br>
		<br>
		<div class='inputTitle'>Retention policy</div>
		<select name='retentionpolicy' id='retentionpolicy'>
			<option value='manual'>manual
			<option value='auto'>auto
			<option value='intel'>intel
		</select>
		<br><br>
		<div class='inputTitle'>Edit policy</div>
		<select name='editpolicy' id='editpolicy'>
			<option value='full'>full
			<option value='edit_delete'>edit_delete
			<option value='delete'>delete
			<option value='read_only'>read-only
		</select>
		<br><br>
		<input class='tableActionButton' type='submit' value='Create'>
		<input class='tableActionButton' type='button' value='Cancel' id='createCategoryCancel'>
	</form>
</div>


{% endblock %}
