{% extends "layout.html" %}
{% block title %}HXTool - Dashboard{% endblock %}
{% block content %}

<script>

		function getHistoricDate(days) {
			var historicDate = new Date();
			historicDate.setDate(historicDate.getDate() - days);
			return(historicDate.toISOString().substr(0, 10))
		}

		function vega_inactive_hosts(embedOpt, myWidthThree) {
	        $.getJSON('/static/vegaspecs/lite-barchart-vertical.json', function(spec) {
	        	spec.width = myWidthThree;
	        	spec.height = 180;
	        	var seconds = $("#row1_cell1_select option:selected").val();
	        	spec.data.url = "/api/v1/vegalite_inactive_hosts_per_hostset?seconds=" + seconds;
				vegaEmbed("#row1_cell1", spec, embedOpt);
			});			
		}

		function vega_events_timeline(embedOpt, myWidthOne, currentDate) {
	        $.getJSON('/static/vegaspecs/lite-stacked-area.json', function(spec) {
	        	spec.width = myWidthOne;
	        	spec.height = 180;
	        	var pastDate = $("#row3_cell1_from").val();
	        	spec.data.url = "/api/v1/vegalite_events_timeline?startDate=" + pastDate + "&endDate=" + currentDate
				vegaEmbed("#row3_cell1", spec, embedOpt);
			});
		}

		function vega_initial_checkin(embedOpt, myWidthThree, currentDate) {
	        $.getJSON('/static/vegaspecs/lite-initial-checkin.json', function(spec) {
	        	spec.width = myWidthThree;
	        	spec.height = 180;
	        	var pastDate = getHistoricDate($("#row1_cell2_select").val());
	        	spec.data.url = "/api/v1/vegalite_hosts_initial_agent_checkin?startDate=" + pastDate + "&endDate=" + currentDate
				vegaEmbed("#row1_cell2", spec, embedOpt);
			});
		}

		function vega_event_distribution(embedOpt, myWidthThree, currentDate) {
	        $.getJSON('/static/vegaspecs/lite-event-distribution.json', function(spec) {
	        	spec.width = myWidthThree - 80;
	        	spec.height = 300;
	        	var pastDate = getHistoricDate($("#row2_cell2_select").val());
	        	spec.data.url = "/api/v1/vegalite_events_distribution?startDate=" + pastDate + "&endDate=" + currentDate
				vegaEmbed("#row2_cell2", spec, embedOpt);
			});			
		}

		function datatable_hosts_with_alerts() {
			var row1_cell3_datatable = $('#row1_cell3_table').DataTable( {
				"ajax": "/api/v1/datatable_hosts_with_alerts",
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": false,
				columns: [
					{ title: "Hostname" },
					{ title: "Count" }
				],
				"columnDefs": [	
					{
					 targets: 0,
					 render: function ( data, type, row, meta ) {
					 	if(type === 'display'){
					 		myArr = data.split("___");
					 		data = '<a class="hostLink" href="/hosts?host=' + encodeURIComponent(myArr[1]) + '">' + myArr[0] + '</a>';
					 	}
					 	return data;
					 }
					},
					{"className": "dt-center", "targets": "_all"}
				]

			});
			return(row1_cell3_datatable);
		}

		function datatable_last_alerts() {
			var row2_cell1_datatable = $('#row2_cell1_table').DataTable( {
				"ajax": "/api/v1/datatable_alerts?limit=10",
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": false,
				"columns": [
					{ title: "Hostname" },
					{ title: "Domain" },
					{ title: "Reported at" },
					{ title: "Source" },
					{ title: "Threat" },
					{ title: "Action" }
				],

				"columnDefs": [	
					{
					 targets: 0,
					 render: function ( data, type, row, meta ) {
					 	if(type === 'display'){
					 		myArr = data.split("___");
					 		data = '<a class="hostLink" href="/hosts?host=' + encodeURIComponent(myArr[1]) + '&alertid=' + encodeURIComponent(myArr[2]) + '">' + myArr[0] + '</a>';
					 	}
					 	return data;
					 }
					},
					{"className": "dt-center", "targets": "_all"}
				]
			});
			return(row2_cell1_datatable);
		}

        $(document).ready(function() {

        	myInterval = 60000;

        	myWidthThree = ($( window ).width() / 3) - 90;
        	myWidthOne = $( window ).width() - 230;

			var fullDate = new Date()
			var currentDate = fullDate.toISOString().substr(0, 10);

			var pastDate = getHistoricDate(1);

			$("#row3_cell1_from").val(pastDate);
			$("#row3_cell1_to").val(currentDate);

			var embedOpt = {
				"actions": false
			}

			// Click events
			$("input[id^='row3_cell1_nav_']").click(function() {
				var dArr = $(this).attr('id').split("_");
				var navDate = getHistoricDate(dArr[3]);
				$("#row3_cell1_from").val(navDate);
				$("#row3_cell1_to").val(currentDate);
				$("#row3_cell1_refresh").click();
			});

			$("#row3_cell1_refresh").click(function() {
				$.getJSON('/static/vegaspecs/lite-stacked-area.json', function(spec) {
					spec.data.url = "/api/v1/vegalite_events_timeline?startDate=" + $("#row3_cell1_from").val() + "&endDate=" + $("#row3_cell1_to").val()
					spec.width = myWidthOne;
					spec.height = 180;
					vegaEmbed("#row3_cell1", spec, embedOpt);
				});
			});

			$("#row1_cell1_select").change(function () {
				myseconds = $(this).val();
		        $.getJSON('/static/vegaspecs/lite-barchart-vertical.json', function(spec) {
		        	spec.width = myWidthThree;
		        	spec.height = 180;
		        	spec.data.url = "/api/v1/vegalite_inactive_hosts_per_hostset?seconds=" + myseconds;
					vegaEmbed("#row1_cell1", spec, embedOpt);
				});
			});


			$("#row1_cell2_select").change(function () {
				mydays = $(this).val()
		        $.getJSON('/static/vegaspecs/lite-initial-checkin.json', function(spec) {
		        	spec.width = myWidthThree;
		        	spec.height = 180;
		        	var pastDate = getHistoricDate(mydays);
		        	spec.data.url = "/api/v1/vegalite_hosts_initial_agent_checkin?startDate=" + pastDate + "&endDate=" + currentDate
					vegaEmbed("#row1_cell2", spec, embedOpt);
				});
			});

			$("#row2_cell2_select").change(function () {
				mydays = $(this).val()
		        $.getJSON('/static/vegaspecs/lite-event-distribution.json', function(spec) {
		        	spec.width = myWidthThree;
		        	spec.height = 300;
		        	var pastDate = getHistoricDate(mydays);
		        	spec.data.url = "/api/v1/vegalite_events_distribution?startDate=" + pastDate + "&endDate=" + currentDate
					vegaEmbed("#row2_cell2", spec, embedOpt);
				});
			});

			// Inactive hosts auto-refresh
			$("#row1_cell1_auto").click(function() {
				if ($(this).is(":checked")) {
					row1_cell1_auto_id = setInterval(function () {
						vega_inactive_hosts(embedOpt, myWidthThree);
					}, myInterval);
				}
				else {
					clearInterval(row1_cell1_auto_id);
				}
			});

			// Events timeline auto-refresh
			$("#row3_cell1_auto").click(function() {
				if ($(this).is(":checked")) {
					row3_cell1_auto_id = setInterval(function () {
						vega_events_timeline(embedOpt, myWidthOne, currentDate);
					}, myInterval);
				}
				else {
					clearInterval(row3_cell1_auto_id);
				}
			});

			// Initial checkin auto-refresh
			$("#row1_cell2_auto").click(function() {
				if ($(this).is(":checked")) {
					row1_cell2_auto_id = setInterval(function () {
						vega_initial_checkin(embedOpt, myWidthThree, currentDate);
					}, myInterval);
				}
				else {
					clearInterval(row1_cell2_auto_id);
				}
			});

			// events distribution auto-refresh
			$("#row2_cell2_auto").click(function() {
				if ($(this).is(":checked")) {
					row2_cell2_auto_id = setInterval(function () {
						vega_event_distribution(embedOpt, myWidthThree, currentDate);
					}, myInterval);
				}
				else {
					clearInterval(row2_cell2_auto_id);
				}
			});

			// last 10 alerts auto-refresh
			$("#row2_cell1_auto").click(function() {
				if ($(this).is(":checked")) {
					row2_cell1_auto_id = setInterval(function () {
						row2_cell1_datatable.ajax.reload();
					}, myInterval);
				}
				else {
					clearInterval(row2_cell1_auto_id);
				}
			});

			// hosts with alerts auto-refresh
			$("#row1_cell3_auto").click(function() {
				if ($(this).is(":checked")) {
					row1_cell3_auto_id = setInterval(function () {
						row1_cell3_datatable.ajax.reload();
					}, myInterval);
				}
				else {
					clearInterval(row1_cell3_auto_id);
				}
			});

			// Start loading all graphs
			// Vega: Inactive hosts
			vega_inactive_hosts(embedOpt, myWidthThree);

	        // Vega: Events timeline
	        vega_events_timeline(embedOpt, myWidthOne, currentDate);

	        // Vega: Host provision timeline
	        vega_initial_checkin(embedOpt, myWidthThree, currentDate);

	        // Vega: Event distributon
	        vega_event_distribution(embedOpt, myWidthThree, currentDate);

	        // Datatable: Hosts with alerts
	        row1_cell3_datatable = datatable_hosts_with_alerts();

			// Datatable: Last 10 alerts
			row2_cell1_datatable = datatable_last_alerts();

        });
</script>

<table id='dashboard' class='dashTable' style='width: 100%;'>
	<tr>
		<th>
			<div style='float: left;'>
				<i class="fas fa-chart-bar fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Inactive agents per host-set
			<div style='float: right;'>
				<input type='checkbox' id='row1_cell1_auto'> auto
			</div>
		</th>
		<th>
			<div style='float: left;'>
				<i class="fas fa-chart-bar fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Host provision timeline
			<div style='float: right;'>
				<input type='checkbox' id='row1_cell2_auto'> auto
			</div>
		</th>
		<th>
			<div style='float: left;'>
				<i class="fas fa-table fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Hosts with the most alerts
			<div style='float: right;'>
				<input type='checkbox' id='row1_cell3_auto'> auto
			</div>
		</th>
	</tr>
	<tr>
		<td style='border-top: 0;'>
			Not been communicating since:  
			<select class='row1_cell1_select' id='row1_cell1_select'>
				<option value='900'>15 Min
				<option value='1800'>30 Min
				<option value='3600'>1 hour
				<option value='86400' selected>1 Day
				<option value='172800'>2 Days
				<option value='604800'>7 Days
				<option value='7776000'>90 Days
			</select>
			<div id='row1_cell1'></div>
		</td>
		<td>
			Timeline: 
			<select class='row1_cell2_select' id='row1_cell2_select'>
				<option value='1'>1 Day
				<option value='7'>7 Days
				<option value='30' selected>30 Days
				<option value='90'>90 Days
				<option value='180'>180 Days
				<option value='365'>1 Year
				<option value='730'>2 Years
			</select>
			<div id='row1_cell2'></div>
		</td>
		<td id='row1_cell3'>
			<table id="row1_cell3_table" class='genericTable' style='width: 100%;'></table>
		</td>
	</tr>
	<tr>
		<th colspan='2'>
			<div style='float: left;'>
				<i class="fas fa-table fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Last 10 alerts
			<div style='float: right;'>
				<input type='checkbox' id='row2_cell1_auto'> auto
			</div>
		</td>
		<th>
			<div style='float: left;'>
				<i class="fas fa-chart-bar fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Alert type distribution
			<div style='float: right;'>
				<input type='checkbox' id='row2_cell2_auto'> auto
			</div>
		</td>
	</tr>
	<tr>
		<td id='row2_cell1' colspan='2'>
			<table id="row2_cell1_table" class='genericTable' style='width: 100%;'></table>
		</td>
		<td style='text-align: center;'>
			Time period: 
			<select class='row2_cell2_select' id='row2_cell2_select'>
				<option value='1' selected>1 Day
				<option value='7'>7 Days
				<option value='30'>30 Days
				<option value='90'>90 Days
				<option value='180'>180 Days
				<option value='365'>1 Year
				<option value='730'>2 Years
			</select>
			<div id='row2_cell2'></div>
		</td>
	</tr>
	<tr>
		<th colspan='3'>
			<div style='float: left;'>
				<i class="fas fa-chart-area fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Events over time
			<div style='float: right;'>
				<input type='checkbox' id='row3_cell1_auto'> auto
			</div>
		</td>
	</tr>
	<tr>
		<td colspan='3'>
			<input class='tableActionButton' type='button' id='row3_cell1_nav_1' value='today'>
			<input class='tableActionButton' type='button' id='row3_cell1_nav_7' value='week'>
			<input class='tableActionButton' type='button' id='row3_cell1_nav_30' value='month'>
			<input class='tableActionButton' type='button' id='row3_cell1_nav_90' value='quarter'>
			<input class='tableActionButton' type='button' id='row3_cell1_nav_180' value='half-year'>
			<input class='tableActionButton' type='button' id='row3_cell1_nav_365' value='year'>
			&nbsp;
			From:
			<input type='text' id='row3_cell1_from' style='width: 80px;'>
			To:
			<input type='text' id='row3_cell1_to' style='width: 80px;'>
			<input class='tableActionButton' type='button' id='row3_cell1_refresh' value='refresh'>

			<div style='margin-top: 8px;' id='row3_cell1'></div>

		</td>
	</tr>
</table>

{% endblock %}
