{% extends "layout.html" %}
{% block title %}HXTool - Anti-virus dashboard{% endblock %}
{% block content %}

<script>

		function datatable_last_alerts() {
			$.fn.dataTable.ext.errMode = 'none';
			var row2_cell1_datatable = $('#row2_cell1_table').DataTable( {
				"ajax": "/api/v1/datatable_alerts?limit=20&source=MAL",
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": true,
				"dom": '<"hxtool_datatables_buttons"B>frtip',
				"buttons": [
					{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right fas fa-copy'></i>" },
					{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right fas fa-file'></i>" },
					{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right fas fa-file-excel'></i>" }
				],
				"columns": [
					{ title: "Hostname" },
					{ title: "Domain" },
					{ title: "Reported at" },
					{ title: "Source" },
					{ title: "Threat" },
					{ title: "Action" }
				],

				"columnDefs": [	
					{
					 targets: 0,
					 render: function ( data, type, row, meta ) {
					 	if(type === 'display'){
					 		myArr = data.split("___");
					 		data = '<a class="hostLink" href="/hostview?host=' + encodeURIComponent(myArr[1]) + '&alertid=' + encodeURIComponent(myArr[2]) + '">' + myArr[0] + '</a>';
					 	}
					 	return data;
					 }
					},
					{
					 targets: 3,
					 render: function ( data, type, row, meta ) {
					 	return(datatables_parseSource(data));
					 }
					},
					{
					 targets: 5,
					 render: function ( data, type, row, meta ) {
					 	return(datatables_parseResolution(data));
					 }
					},
					{"className": "hxtool_table_cell_center", "targets": [0, 1, 2, 3, 5]}
				]
			});
			$('div.dataTables_filter input').addClass("fe-input");
			return(row2_cell1_datatable);
		}

		function displayMalwareContent(event, array){
			if(array[0]){

				var clickedElementindex = array[0]["_index"]
				var label = chartjs_av_content.data.labels[clickedElementindex];
				var value = chartjs_av_content.data.datasets[0].data[clickedElementindex];

				$("#avContentPopup").find(".fe-modal__header").find("h4").append("<i id='popupSpinner' style='margin-left: 12px; color: #11a962;' class='fas fa-spinner fa-spin'></i>");
				avContentPopup_datatable.clear().draw();
				avContentPopup_datatable.ajax.url("/api/v1/datatable/avcontent?version=" + label);
				avContentPopup_datatable.ajax.reload(function() {
					$("#popupSpinner").remove();
				});

				$("#avContentPopup").show();
			}
		}

		function displayMalwareEngine(event, array){
			if(array[0]){

				var clickedElementindex = array[0]["_index"]
				var label = chartjs_av_engine.data.labels[clickedElementindex];
				var value = chartjs_av_engine.data.datasets[0].data[clickedElementindex];

				$("#avEnginePopup").find(".fe-modal__header").find("h4").append("<i id='popupSpinner' style='margin-left: 12px; color: #11a962;' class='fas fa-spinner fa-spin'></i>");
				avEnginePopup_datatable.clear().draw();
				avEnginePopup_datatable.ajax.url("/api/v1/datatable/avengine?version=" + label);
				avEnginePopup_datatable.ajax.reload(function() {
					$("#popupSpinner").remove();
				});

				$("#avEnginePopup").show();
			}
		}

		function displayMalwareStatus(event, array){
			if(array[0]){

				var clickedElementindex = array[0]["_index"]
				var label = chartjs_av_status.data.labels[clickedElementindex];
				var value = chartjs_av_status.data.datasets[0].data[clickedElementindex];

				$("#avStatusPopup").find(".fe-modal__header").find("h4").append("<i id='popupSpinner' style='margin-left: 12px; color: #11a962;' class='fas fa-spinner fa-spin'></i>");
				avStatusPopup_datatable.clear().draw();
				avStatusPopup_datatable.ajax.url("/api/v1/datatable/avstatus?state=" + label);
				avStatusPopup_datatable.ajax.reload(function() {
					$("#popupSpinner").remove();
				});

				$("#avStatusPopup").show();
			}
		}


        $(document).ready(function() {

			Chart.defaults.global.defaultFontColor = 'rgba(255, 255, 255, 0.8)';
			Chart.defaults.global.defaultFontFamily = 'Open Sans';

        	myInterval = 60000;

        	myWidthThree = ($( window ).width() / 3) - 90;
        	myWidthOne = $( window ).width() - 230;

			var fullDate = new Date()
			var currentDate = fullDate.toISOString().substr(0, 10);

			var pastDate = getHistoricDate(1);

			// Click events

			// Datatable: Last 20 MAL alerts
			row2_cell1_datatable = datatable_last_alerts();

			// Dattable: malware content drilldown
			$.fn.dataTable.ext.errMode = 'none';
			avContentPopup_datatable = $('#avContentTable').DataTable( {
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": false,
				"dom": '<"hxtool_datatables_avpopup_buttons"B>frtip',
				"buttons": [
					{ extend: "copy", className: "fe-btn" },
					{ extend: "csv", className: "fe-btn" },
					{ extend: "excel", className: "fe-btn" }
				],
				"columns": [
					{ "data": "hostname", title: "Hostname" },
					{ "data": "agentid", title: "Agent ID" },
					{ "data": "content_version", title: "Version" }
				],
				"columnDefs": [
					{
					 "targets": 0,
					 render: function ( data, type, row, meta ) {
						data = '<a class="hostLink" href="/hostview?host=' + encodeURIComponent(row.agentid) + '">' + data + '</a>';
						return(data);
					 }
					},
					{"className": "hxtool_table_cell_center", "targets": [0, 1, 2]}
				]
			});

			// Dattable: malware engine drilldown
			$.fn.dataTable.ext.errMode = 'none';
			avEnginePopup_datatable = $('#avEngineTable').DataTable( {
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": false,
				"dom": '<"hxtool_datatables_avpopup_buttons"B>frtip',
				"buttons": [
					{ extend: "copy", className: "fe-btn" },
					{ extend: "csv", className: "fe-btn" },
					{ extend: "excel", className: "fe-btn" }
				],
				"columns": [
					{ "data": "hostname", title: "Hostname" },
					{ "data": "agentid", title: "Agent ID" },
					{ "data": "engine_version", title: "Version" }
				],
				"columnDefs": [
					{
					 "targets": 0,
					 render: function ( data, type, row, meta ) {
						data = '<a class="hostLink" href="/hostview?host=' + encodeURIComponent(row.agentid) + '">' + data + '</a>';
						return(data);
					 }
					},
					{"className": "hxtool_table_cell_center", "targets": [0, 1, 2]}
				]
			});

			// Dattable: malware engine drilldown
			$.fn.dataTable.ext.errMode = 'none';
			avStatusPopup_datatable = $('#avStatusTable').DataTable( {
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": false,
				"dom": '<"hxtool_datatables_avpopup_buttons"B>frtip',
				"buttons": [
					{ extend: "copy", className: "fe-btn" },
					{ extend: "csv", className: "fe-btn" },
					{ extend: "excel", className: "fe-btn" }
				],
				"columns": [
					{ "data": "hostname", title: "Hostname" },
					{ "data": "agentid", title: "Agent ID" },
					{ "data": "state", title: "Status" }
				],
				"columnDefs": [
					{
					 "targets": 0,
					 render: function ( data, type, row, meta ) {
						data = '<a class="hostLink" href="/hostview?host=' + encodeURIComponent(row.agentid) + '">' + data + '</a>';
						return(data);
					 }
					},
					{"className": "hxtool_table_cell_center", "targets": [0, 1, 2]}
				]
			});


			var jsonData = $.ajax({
				url: "/api/v1/chartjs_malwarecontent",
				dataType: 'json',
			}).done(function (myChartData) {

				var config = {
					type: 'pie',
					data: myChartData,
				
					options: {
						onClick: displayMalwareContent,
						responsive: true,
						maintainAspectRatio: false,
						title: {
							display: false
						},
						legend: {
							display: true,
							position: 'right'
						},						
						hover: {
							onHover: function(e, el) {
								$("#chartjs_avcontent").css("cursor", el[0] ? "pointer" : "default");
							},
							mode: 'nearest',
							intersect: true
						}
					}
				}

				var ctx = document.getElementById('chartjs_avcontent').getContext('2d');
				window.chartjs_av_content = new Chart(ctx, config);
			});

			var jsonData = $.ajax({
				url: "/api/v1/chartjs_malwareengine",
				dataType: 'json',
			}).done(function (myChartData) {

				var config = {
					type: 'pie',
					data: myChartData,
				
					options: {
						onClick: displayMalwareEngine,
						responsive: true,
						maintainAspectRatio: false,
						title: {
							display: false
						},
						legend: {
							display: true,
							position: 'right'
						},						
						hover: {
							onHover: function(e, el) {
								$("#chartjs_avengine").css("cursor", el[0] ? "pointer" : "default");
							},
							mode: 'nearest',
							intersect: true
						}
					}
				}

				var ctx = document.getElementById('chartjs_avengine').getContext('2d');
				window.chartjs_av_engine = new Chart(ctx, config);
			});


			var jsonData = $.ajax({
				url: "/api/v1/chartjs_malwarestatus",
				dataType: 'json',
			}).done(function (myChartData) {

				var config = {
					type: 'pie',
					data: myChartData,
				
					options: {
						onClick: displayMalwareStatus,
						responsive: true,
						maintainAspectRatio: false,
						title: {
							display: false
						},
						legend: {
							display: true,
							position: 'right'
						},						
						hover: {
							onHover: function(e, el) {
								$("#chartjs_avstatus").css("cursor", el[0] ? "pointer" : "default");
							},
							mode: 'nearest',
							intersect: true
						}
					}
				}

				var ctx = document.getElementById('chartjs_avstatus').getContext('2d');
				window.chartjs_av_status = new Chart(ctx, config);
			});

		$(document).on("click", ".avContentDismiss", function() {
			$("#avContentPopup").hide();
		});

		$(document).on("click", ".avEngineDismiss", function() {
			$("#avEnginePopup").hide();
		});

		$(document).on("click", ".avStatusDismiss", function() {
			$("#avStatusPopup").hide();
		});


        });
</script>

<!-- AV Content popup -->
{{ htModal.widgetHeader("Hosts with AV content version", modalId="avContentPopup", modalSize="medium") }}
	<table id="avContentTable" class='hxtool_table' style='width: 100%;'></table>
{{ htModal.widgetMiddle() }}
	<button class="avContentDismiss fe-btn fe-btn--md fe-btn--secondary" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

<!-- AV Engine popup -->
{{ htModal.widgetHeader("Hosts with AV engine version", modalId="avEnginePopup", modalSize="medium") }}
	<table id="avEngineTable" class='hxtool_table' style='width: 100%;'></table>
{{ htModal.widgetMiddle() }}
	<button class="avEngineDismiss fe-btn fe-btn--md fe-btn--secondary" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

<!-- AV status popup -->
{{ htModal.widgetHeader("Hosts with AV status", modalId="avStatusPopup", modalSize="medium") }}
	<table id="avStatusTable" class='hxtool_table' style='width: 100%;'></table>
{{ htModal.widgetMiddle() }}
	<button class="avStatusDismiss fe-btn fe-btn--md fe-btn--secondary" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}


<!-- DASH GRID -->
<div class="avdash-grid-container">
  <div class="avtable">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-bar"></i>Last anti-virus alerts</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<table id="row2_cell1_table" class='hxtool_table' style='width: 100%;'></table>
		</div>
	</div>


  </div>
  <div class="avcell1">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-pie"></i>Endpoints with anti-virus content version</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<canvas id="chartjs_avcontent" class='hxtool_chartjs_canvas'></canvas>
		</div>
	</div>


  </div>
  <div class="avcell2">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-pie"></i>Endpoints with anti-virus engine version</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<canvas id="chartjs_avengine" class='hxtool_chartjs_canvas'></canvas>
		</div>
	</div>


  </div>
  <div class="avcell3">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-pie"></i>Status of anti-virus on endpoints</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<canvas id="chartjs_avstatus" class='hxtool_chartjs_canvas'></canvas>
		</div>
	</div>

  </div>
</div>


{% endblock %}
