{% extends "layout.html" %}
{% block title %}HXTool - Anti-virus dashboard{% endblock %}
{% block content %}

<script>

		function datatable_last_alerts() {
			$.fn.dataTable.ext.errMode = 'none';
			var row2_cell1_datatable = $('#row2_cell1_table').DataTable( {
				"ajax": "/api/v1/datatable_alerts?limit=20&source=MAL",
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": false,
				"columns": [
					{ title: "Hostname" },
					{ title: "Domain" },
					{ title: "Reported at" },
					{ title: "Source" },
					{ title: "Threat" },
					{ title: "Action" }
				],

				"columnDefs": [	
					{
					 targets: 0,
					 render: function ( data, type, row, meta ) {
					 	if(type === 'display'){
					 		myArr = data.split("___");
					 		data = '<a class="hostLink" href="/hosts?host=' + encodeURIComponent(myArr[1]) + '&alertid=' + encodeURIComponent(myArr[2]) + '">' + myArr[0] + '</a>';
					 	}
					 	return data;
					 }
					},
					{
					 targets: 3,
					 render: function ( data, type, row, meta ) {
					 	return(datatables_parseSource(data));
					 }
					},
					{
					 targets: 5,
					 render: function ( data, type, row, meta ) {
					 	return(datatables_parseResolution(data));
					 }
					},
					{"className": "dt-center", "targets": [0, 1, 2, 3]}
				]
			});
			return(row2_cell1_datatable);
		}

        $(document).ready(function() {

			Chart.defaults.global.defaultFontColor = 'rgba(255, 255, 255, 0.8)';
			Chart.defaults.global.defaultFontFamily = 'Open Sans';

        	myInterval = 60000;

        	myWidthThree = ($( window ).width() / 3) - 90;
        	myWidthOne = $( window ).width() - 230;

			var fullDate = new Date()
			var currentDate = fullDate.toISOString().substr(0, 10);

			var pastDate = getHistoricDate(1);

			// Click events

			// Datatable: Last 20 MAL alerts
			row2_cell1_datatable = datatable_last_alerts();


			var jsonData = $.ajax({
				url: "/api/v1/chartjs_malwarecontent",
				dataType: 'json',
			}).done(function (myChartData) {

				var config = {
					type: 'pie',
					data: myChartData,
				
					options: {
						responsive: true,
						maintainAspectRatio: false,
						title: {
							display: false
						},
						legend: {
							display: true,
							position: 'right'
						},						
						hover: {
							mode: 'nearest',
							intersect: true
						}
					}
				}

				var ctx = document.getElementById('chartjs_avcontent').getContext('2d');
				window.chartjs_av_content = new Chart(ctx, config);
			});

			var jsonData = $.ajax({
				url: "/api/v1/chartjs_malwareengine",
				dataType: 'json',
			}).done(function (myChartData) {

				var config = {
					type: 'pie',
					data: myChartData,
				
					options: {
						responsive: true,
						maintainAspectRatio: false,
						title: {
							display: false
						},
						legend: {
							display: true,
							position: 'right'
						},						
						hover: {
							mode: 'nearest',
							intersect: true
						}
					}
				}

				var ctx = document.getElementById('chartjs_avengine').getContext('2d');
				window.chartjs_av_engine = new Chart(ctx, config);
			});


			var jsonData = $.ajax({
				url: "/api/v1/chartjs_malwarestatus",
				dataType: 'json',
			}).done(function (myChartData) {

				var config = {
					type: 'pie',
					data: myChartData,
				
					options: {
						responsive: true,
						maintainAspectRatio: false,
						title: {
							display: false
						},
						legend: {
							display: true,
							position: 'right'
						},						
						hover: {
							mode: 'nearest',
							intersect: true
						}
					}
				}

				var ctx = document.getElementById('chartjs_avstatus').getContext('2d');
				window.chartjs_av_status = new Chart(ctx, config);
			});



        });
</script>

<div class="avdash-grid-container">
  <div class="avtable">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-bar"></i>Last anti-virus alerts</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<table id="row2_cell1_table" class='hxtool_table' style='width: 100%;'></table>
		</div>
	</div>


  </div>
  <div class="avcell1">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-pie"></i>Endpoints with anti-virus content version</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<canvas id="chartjs_avcontent" class='hxtool_chartjs_canvas'></canvas>
		</div>
	</div>


  </div>
  <div class="avcell2">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-pie"></i>Endpoints with anti-virus engine version</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<canvas id="chartjs_avengine" class='hxtool_chartjs_canvas'></canvas>
		</div>
	</div>


  </div>
  <div class="avcell3">

	<div class="hxtool_panel_dashboard fe-panel">
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i style='color: #11a962;' class="fe-icon--left fas fa-chart-pie"></i>Status of anti-virus on endpoints</div>
		</div>
	
		<div class="hxtool_panel_dashboard_child fe-panel__body">
			<canvas id="chartjs_avstatus" class='hxtool_chartjs_canvas'></canvas>
		</div>
	</div>

  </div>
</div>


<!--

<table id='dashboard' class='dashTable' style='width: 100%;'>
	<tr>
		<th>
			<div style='float: left;'>
				<i class="fas fa-chart-bar fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Endpoints with anti-virus content version
			<div style='float: right;'>
				<input type='checkbox' id='row1_cell1_auto'> auto
			</div>
		</td>
		<th>
			<div style='float: left;'>
				<i class="fas fa-chart-bar fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Endpoints with anti-virus engine version
			<div style='float: right;'>
				<input type='checkbox' id='row1_cell2_auto'> auto
			</div>
		</td>
		<th>
			<div style='float: left;'>
				<i class="fas fa-chart-bar fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Status of anti-virus on endpoints
			<div style='float: right;'>
				<input type='checkbox' id='row1_cell3_auto'> auto
			</div>
		</td>
	</tr>
	<tr>
		<td id='row1_cell1'>
			<div id='row1_cell1'></div>
		</td>
		<td style='text-align: center;'>
			<div id='row1_cell2'></div>
		</td>
		<td style='text-align: center;'>
			<div id='row1_cell3'></div>
		</td>
	</tr>
	<tr>
		<th colspan='3'>
			<div style='float: left;'>
				<i class="fas fa-table fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			</div>
			Last 15 Anti-virus alerts
			<div style='float: right;'>
				<input type='checkbox' id='row2_cell1_auto'> auto
			</div>
		</td>
	</tr>
	<tr>
		<td id='row2_cell1' colspan='3'>
			<table id="row2_cell1_table" class='genericTable' style='width: 100%;'></table>
		</td>
	</tr>
</table>

-->

{% endblock %}
