{% extends "layout.html" %}
{% block title %}HXTool - File Listing{% endblock %}
{% block navlocation %}File Listing{% endblock %}
{% block content %}

<style>
.dataTables_filter {
	margin-top: 0;
}
.dataTables_length {
	padding-bottom: 10;
}
.dataTables_info {
	padding-top: 10;
}
.dataTables_paginate {
	padding-bottom: 50;
}
#two-pane-page {
	margin-left: 200px;
}
#floating-pane-left {
	width: 200px;
	margin-left: -200px;
	float: left;
}
#floating-pane-right {
	float: right;
	width: 100%;
}
#clearing-div {
	clear:both;
}
</style>

<script>
	$(document).ready(function() {
		table = $('#file_table').DataTable( {
			"info": false,
			"searching": false,
			"paging":   false,
			"lengthChange": false,
			"order": [[1, 'asc'],[2, 'asc']],
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right fas fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right fas fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right fas fa-file-excel'></i>" },
				{
					'text': 'Download Selected<i class="fe-icon--right fas fa-download"></i>',
					"action": function (e, dt, node, config) {
						//alert('Clicked');
						var has_selection = false;
						table.$('input[type="checkbox"]').each(function(){
							if(this.checked){
								has_selection = true;
							}
						});
						if(has_selection) $('#form_file_download').submit();
						else alert("No selection made");
					}
				}

			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

		// Handle click on "Select all" control
		$('#file-select-all').on('click', function(){
			// Get all rows with search applied
			var rows = table.rows({ 'search': 'applied' }).nodes();
			// Check/uncheck checkboxes for all rows in the table
			$('input[type="checkbox"]', rows).prop('checked', this.checked);
		});
		// Handle click on checkbox to set state of "Select all" control
		$('#file_table tbody').on('change', 'input[type="checkbox"]', function(){
			// If checkbox is not checked
			if(!this.checked){
				var el = $('#file-select-all').get(0);
				// If "Select all" control is checked and has 'indeterminate' property
				if(el && el.checked && ('indeterminate' in el)){
					// Set visual state of "Select all" control
					// as 'indeterminate'
					el.indeterminate = true;
				}
			}
		});
		// Handle form submission event
		$('#form_file_download').on('submit', function(e){
			var form = this;
		
			// Iterate over all checkboxes in the table
			table.$('input[type="checkbox"]').each(function(){
				// If checkbox doesn't exist in DOM
				if(!$.contains(document, this)){
					// If checkbox is checked
					if(this.checked){
						// Create a hidden element
						$(form).append(
							$('<input>')
								.attr('type', 'hidden')
								.attr('name', this.name)
								.val(this.value)
						);
					}
				}
			});			
		});

		$("#backButton").click(function() {
			location.href = "/multifile";
		});

	});

</script>

{{ htPanelNoHeader.widgetHeader(panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main-master" id="backButton"> back <i style='color: #11a962;' class="fe-icon--right fas fa-arrow-left"></i></button>
{{ htPanelNoHeader.widgetFooter() }}

<form id="form_file_download" action="/api/v1/acquisition/multi/mf/new" method="POST">
	<div id='two-pane-page'>
		<div id='floating-pane-left'>
			{{ htPanel.widgetHeader("File listing", panelId="flistTableContainer", panelIcon="fa-table") }}
			<div class='inputArea'>
				<h3 class='hxtool_typography_h3'>File Listing</h3>
				<div class='fileListingConfig clt'>
					<ul style='padding-inline-start: 20px; margin-top: 6px;'>
						<li style='font-size: 12px;'><strong>Path</strong> {{ file_listing['cfg']['path'] }}</li>
						<li style='font-size: 12px;'><strong>Regex</strong> {{ file_listing['cfg']['regex'] }}</li>
						<li style='font-size: 12px;'><strong>Hostset</strong> {{ file_listing['cfg']['hostset'] }}</li>
						<li style='font-size: 12px;'><strong>Depth</strong> {{ file_listing['cfg']['depth'] }}</li>
					</ul>
				</div>
				<h3 class='hxtool_typography_h3'>File Acquisition Name</h3>
				<input type='text' class='fe-input' id='display_name' name='display_name' style='width: 100%;'>
				<input type='checkBox' id='use_raw_mode' name='use_raw_mode'/>
				<label for='use_raw_mode' style='font-size: 12px;'>Use Raw Mode?</label>
				<h6>Default is API mode. Raw mode should not be used when disk encryption is enabled on endpoint.</h6>
			</div>
			{{ htPanel.widgetFooter() }}
		</div>
		<div id='floating-pane-right' style='padding-left: 24px;'>
	{% if fl_results %}
			{{ htPanel.widgetHeader("File listing results", panelId="flistResultTableContainer", panelIcon="fa-table") }}
			<div id="listing_div">
				<table id='file_table' class='hxtool_table' style='width: 100%;'>
					<thead><tr>
						<td><input name="select_all" value="1" id="file-select-all" type="checkbox"></td>
						<td>Hostname</td>
		{% for f in display_fields %}
						<td>{{ f }}</td>
		{% endfor %}
					</tr></thead>
					<tbody>
		{% for fileitem in fl_results %}
						<tr id='file_{{ loop.index0 }}'>
							<td><input type='checkbox' name='choose_file_{{ file_listing.doc_id}}_{{ loop.index0 }}'></td>
							<td>{{ fileitem['hostname'] }}</td>
			{% for f in display_fields %}
							<td>{{ fileitem[f]|nl2br }}</td>
			{% endfor %}
						</tr>
		{% endfor %}
					</tbody>
				</table>
			</div>
			{{ htPanel.widgetFooter() }}
	{% endif %}
		</div>
		<div id='clearing-div'></div>
	</div>
</form>
{% endblock %}
