<div class='tableTitle'>
	File Acquisition	
</div>

<form method='GET' action='/hosts'>

<span style='font-size: 14px; font-style: italic;'>Submit a file acquisition. Will retreive the specified file from the system.</span>

<div style='margin: 20px; margin-top: 5px; padding: 10px;'>

	<div style='padding: 3px;'><input type='radio' name='type' value='API' checked>API mode</div>
	<div style='padding: 3px;'><input type='radio' name='type' value='RAW'>RAW mode</div>
	<br>

	<div style='font-size: 12px; font-weight: bold;'>Filename</div>
	<div style='margin-bottom: 10px;'><input style='width: 480px;' type='text' id='filename' name='filename'></div>
	<div style='font-size: 12px; font-weight: bold;'>Filepath</div>
	<div><input style='width: 480px;' type='text' id='filepath' name='filepath'></div>
	
</div>

<div style='float: right;'>
<input type='hidden' id='fileaq' name='fileaq' value='{% if hostid %}{{ hostid|safe }}{% endif %}'>
<input type='hidden' id='url' name='url' value='{% if url %}{{ url|safe }}{% endif %}'>
<input type='button' class='tableActionButton' id='popupCancel' value='cancel'>
<input type='submit' class='tableActionButton' value='submit'>
</div>

</form>