{% extends "layout.html" %}
{% block title %}HXTool - Find a host{% endblock %}
{% block navlocation %}Find a host{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		var query = getUrlParameter("q");

		$.fn.dataTable.ext.errMode = 'none';
		var host_datatable = $('#hostTable').DataTable( {
			"ajax": "/api/v1/datatable_hosts?q=" + query,
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"processing": false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn" },
				{ extend: "csv", className: "fe-btn" },
				{ extend: "excel", className: "fe-btn" }
			],
			"columns": [
				{ title: "Hostname", "data": "hostname" },
				{ title: "Domain", "data": "domain" },
				{ title: "Product", "data": "product_name" },
				{ title: "Patch level", "data": "patch_level" },
				{ title: "Agent version", "data": "agent_version" },
				{ title: "Last poll", "data": "last_poll_timestamp" },
				{ title: "Last poll ip", "data": "last_poll_ip" },
				{ title: "Action", "data": "DT_RowId" },
			],
			"columnDefs": [	
				{
				 "targets": 0,
				 render: function ( data, type, row, meta ) {
					mydata = '<a class="hostLink" href="/hostview?host=' + row.DT_RowId + '">' + data + '</a>';
				 	return (mydata);
				 }
				},
				{
				 "targets": 5,
				 render: function ( data, type, row, meta ) {
				 	return (datatables_Timestamp(data));
				 }
				},
				{
				 "targets": 7,
				 "width": "80px",
				 render: function ( data, type, row, meta ) {
				 	data = "<button class='hostAction fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-type='remove' data-id='" + row.DT_RowId + "'>remove</button>";
				 	return (data);
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 2, 3, 4, 5, 6, 7]}
			]
		});

		$("#hostTable").on("click", ".hostAction", function(){
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/hosts/" + $(this).data("type"), "id=" + $(this).data("id"), function() {
				myrow.fadeOut(200, function() {
					host_datatable.row(myrow).remove().draw();
				})
			});
		});


	});
</script>

{{ htPanel.widgetHeader("Matching hosts", panelIcon="fa-desktop") }}
	<table style='width: 100%;' id='hostTable' class='hxtool_table'></table>
{{ htPanel.widgetFooter() }}


{% endblock %}
