{% extends "layout.html" %}
{% block title %}HXTool - Find a host{% endblock %}
{% block navlocation %}Find a host{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {

		$("a[id^='contain_']").click(function(e) {
			var arrId = $(this).attr('id').split("_");
			
			e.preventDefault();
			if (window.confirm("Are you sure?")) {
				window.location = '/hosts?contain=' + arrId[1] + '&url=' + window.location.href
			}
			
		});
		
		$("a[id^='uncontain_']").click(function(e) {
			var arrId = $(this).attr('id').split("_");

			e.preventDefault();
			if (window.confirm("Are you sure?")) {
				window.location = '/hosts?uncontain=' + arrId[1] + '&url=' + window.location.href
			}

		});
		
		$("a[id^='appcontain_']").click(function(e) {
			var arrId = $(this).attr('id').split("_");

			e.preventDefault();
			if (window.confirm("Are you sure?")) {
				window.location = '/hosts?appcontain=' + arrId[1] + '&url=' + window.location.href
			}

		});

		$("a[id^='triage_']").click(function() {
			var arrId = $(this).attr('id').split("_");
			showPopup(305, 540, "/triage?host=" + arrId[1] + '&url=' + window.location.href);
		});

		$("a[id^='fileaq_']").click(function() {
			var arrId = $(this).attr('id').split("_");
			showPopup(270, 540, "/fileaq?host=" + arrId[1] + '&url=' + window.location.href);
		});
		
		$("a[id^='acq_']").click(function() {
			var arrId = $(this).attr('id').split("_");
			showPopup(220, 540, "/acq?host=" + arrId[1] + '&url=' + window.location.href);
		});


	});
</script>


<div class='tableTitle'>
	Matching hosts - Limited to 1000 hosts
</div>

{% if myhostlist %} {{ myhostlist|safe }} {% endif %}

{% endblock %}
