{% extends "layout.html" %}
{% block title %}HXTool - Host view{% endblock %}
{% block content %}

<script>

	function createHTML(json, isArray){
	   
	   var html = '<ul class="hxtool_host_ul">';
	   for(var key in json){
	       if(typeof json[key] == 'object'){
	           html += '<li>' + (!isArray ? '<span class="hxtool_alert_json_item">'+ key +'</span>' : '<span class="hxtool_alert_json_item">' + key + '</span>') + '</li>' + createHTML(json[key], (json[key] instanceof Array ? 1 : 0));
	       } else {
	       	   html += '<li><span class="hxtool_alert_json_item">'+ key +'</span> ' + json[key] +'</li>';
	       }
	   }
	   return html+'</ul>';

	}

	function parseTableData(myIndex, myValue) {
		var r = ""

		var myTimestampFields = ["Event at", "Matched at", "Reported at", "Earliest detection time", "creation-time", "modification-time", "access-time", "fileWriteEvent/timestamp", "imageLoadEvent/timestamp", "processEvent/timestamp", "regKeyEvent/timestamp", "dnsLookupEvent/timestamp", "ipv4NetworkEvent/timestamp", "urlMonitorEvent/timestamp"];

		if (["md5sum", "sha1sum", "sha256sum", "fileWriteEvent/md5", "processEvent/md5"].indexOf(myIndex) >= 0 && myValue.length > 31) {
			r += "<i style='color: #11a962; margin-right: 6px;' class='fas fa-hashtag'></i>" + myValue;
			r += "<div style='float: right;'>";
			r += "<button class='hxtool_host_alert_goLink fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-link='https://www.virustotal.com/#/file/" + myValue + "/detection' aria-label='show'><span>vt<i class='fe-icon--right fas fa-external-link'></i></span></button>";
			r += "<button class='hxtool_host_alert_goLink fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-link='https://intelligence.fireeye.com/search.html?search=" + myValue +"' aria-label='show'><span>isight<i class='fe-icon--right fas fa-external-link'></i></span></button>";
			r += "<button class='hxtool_host_alert_goLink fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-link='https://www.google.com/search?q=" + myValue + "' aria-label='show'><span>google<i class='fe-icon--right fas fa-external-link'></i></span></button>";
			r += "</div>";
		}
		else if (["container", "packed", "hidden", "system-file", "read-only", "temporary"].indexOf(myIndex) >= 0) {
			if (myValue == "false") {
				r += "<i style='color: #f4a742; margin-right: 6px;' class='fas fa-ban'></i>" + myValue;
			}
			else {
				r += "<i style='color: #11a962; margin-right: 6px;' class='fas fa-check'></i>" + myValue;
			}
		}
		else if (["fileWriteEvent/fullPath", "file-path", "imageLoadEvent/fullPath"].indexOf(myIndex) >= 0) {
			r += myValue;
			r += "<div style='float: right;'>";
			r += "<button class='hxtool_host_alert_goAcquire fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-id='" + myValue + "' aria-label='acquire'><span>acquire<i class='fe-icon--right fas fa-download'></i></span></button>";
			r += "</div>";
		}
		else if (myTimestampFields.indexOf(myIndex) >= 0) {
			myTS = myValue.substring(0, myValue.length-5);
			r += myTS.replace("T", " ");
		}
		else {
			r = myValue;
		}

		return(r);
	}

	function isObject(obj) {
		return obj === Object(obj);
	}

	function generateTable(myData) {
		var r = "<table class='hxtool_table_host_alert hxtool_table'>";
		r += "<tbody>";
		$.each( myData, function( index, value ) {
			r += "<tr>";
			r += "<td class='hxtool_host_info_cell'>" + index + "</td>";
			r += "<td>" + parseTableData(index, value) + "</td>";
			r += "</tr>";
		});
		r += "</tbody>";
		r += "</table>";
		return(r);
	}

	function generateNestedTable(myData) {
		var r = "<table class='hxtool_table_host_alert hxtool_table'>";
		r += "<tbody>";
		$.each( myData, function( index, value ) {
			r += "<tr>";
			r += "<td class='hxtool_host_info_cell'>" + index + "</td>";
			r += "<td>";
			if (isObject(value)) {
				r += generateNestedTable(value);
			}
			else {
				r += parseTableData(index, value);
			}
			r += "</td>";
			r += "</tr>";
		});
		r += "</tbody>";
		r += "</table>";
		return(r);
	}

	function parseHostAcquisition(myAcq) {
		var r = "";

		if ('zip_passphrase' in myAcq && !('script' in myAcq)) {
			r += "<h5 class='hxtool_alert_header'>File Acquisition</h5>";
			r += generateTable({
				"File": myAcq['req_path'] + "\\" + myAcq['req_filename'],
				"State": myAcq['state'],
				"Requested at": myAcq['request_time'],
				"Finished": myAcq['finish_time'],
				"Requested by": myAcq['request_actor']['username'],
				"Zip Passphrase": myAcq['zip_passphrase']
			});
		}
		else if ('disable_cef' in myAcq) {
			r += "<h5 class='hxtool_alert_header'>Triage Acquisition</h5>";
			r += generateTable({
				"State": myAcq['state'],
				"Message": myAcq['error_message'],
				"Requested at": myAcq['request_time'],
				"Requested by": myAcq['request_actor']['username'],
				"Around timestamp": myAcq['req_timestamp'],
				"Finished": myAcq['finish_time']
			});
		}
		else if ('bulk_acq' in myAcq) {
			r += "<h5 class='hxtool_alert_header'>Bulk Acquisition</h5>";
			r += generateTable({
				"State": myAcq['state'],
				"Queued": myAcq['queued_at'],
				"Completed at": myAcq['complete_at'],
				"Message": myAcq['error'],
				"Bulk Acq ID": myAcq['bulk_acq']['_id']
			});
		}
		else if ('script' in myAcq) {
			r += "<h5 class='hxtool_alert_header'>Data Acquisition</h5>";
			r += generateTable({
				"State": myAcq['state'],
				"Message": myAcq['error_message'],
				"Comment": myAcq['comment'],
				"Name": myAcq['name'],
				"Requested at": myAcq['request_time'],
				"Requested by": myAcq['request_actor']['username'],
				"Finished": myAcq['finish_time']
			});
		}
		return(r);
	}

	function parseHostAlert(myAlert) {

		var r = "";

		if (myAlert['source'] == "IOC") {
			r += "<h5 class='hxtool_alert_header'>Matching condition</h5>";
			r += "<div class='clt' style='font-size: 12px;'>";
			r += "<ul><li>or<ul>";
			r += "<li>and<ul>";
			$.each(myAlert['condition']['tests'], function(ckey, cvalue) {
				r += "<li>";
				if (cvalue['negate'] == true) {
					r += "<span style='color: #ea475b; font-weight: bold;'>not </span>";
				}
				r += "<strong>" + cvalue['token'] + "</strong> " + cvalue['operator'] + " " + cvalue['value'];
				if (cvalue['preservecase'] == true) {
					r += "<span style='color: #59dc90;'> (case sensitive)</span>";
				}
				r += "</li>";
			});
			r += "</ul></li>";
			r += "</ul></li></div>";

			r += "<h5 class='hxtool_alert_header'>Indicator Alert</h5>";
			r += generateTable({
				"Indicator": myAlert['indicator']['display_name'],
				"Event at": myAlert['event_at'],
				"Matched at": myAlert['matched_at'],
				"Reported at": myAlert['reported_at'],
				"Resolution": myAlert['resolution'],
				"Is false positive?": myAlert['is_false_positive'],
				"Event ID": myAlert['_id'],
				"Event type": myAlert['event_type']
			});

			r += "<h5 class='hxtool_alert_header'>Event data</h5>";
			r += generateTable(myAlert['event_values']);
			return(r);
		}
		else if (myAlert['source'] == "EXD") {
			r += "<h5 class='hxtool_alert_header'>Exploit Guard Alert</h5>";
			r += generateTable({
				"Event at": myAlert['event_at'],
				"Matched at": myAlert['matched_at'],
				"Reported at": myAlert['reported_at'],
				"Resolution": myAlert['resolution'],
				"Is false positive?": myAlert['is_false_positive'],
				"Event ID": myAlert['_id']
			});

			r += "<h5 class='hxtool_alert_header'>Exploited Process</h5>";
			r += generateTable({
				"Process": myAlert['event_values']['process_name'],
				"Process ID": myAlert['event_values']['process_id'],
				"Earliest detection time": myAlert['event_values']['earliest_detection_time'],
				"Behaviors": generateTable(myAlert['event_values']['messages'])
			});

			return(r);
		}
		else if (myAlert['source'] == "MAL") {
			r += "<h5 class='hxtool_alert_header'>Malware Alert</h5>";
//			r += JSON.stringify(myAlert);

			r += generateTable({
				"Threat name": myAlert['event_values']['detections']['detection'][0]['infection']['infection-name'],
				"Threat type": myAlert['event_values']['detections']['detection'][0]['infection']['infection-type'],
				"Confidence level": myAlert['event_values']['detections']['detection'][0]['infection']['confidence-level']
			});

			r += "<h5 class='hxtool_alert_header'>Infected Object</h5>";
			myObjType = myAlert['event_values']['detections']['detection'][0]['infected-object']['object-type'];
			r += generateNestedTable(myAlert['event_values']['detections']['detection'][0]['infected-object'][myObjType + '-object']);

			r += "<h5 class='hxtool_alert_header'>Actioned Object</h5>";
			myAObjType = myAlert['event_values']['detections']['detection'][0]['action']['actioned-object']['object-type'];
			r += generateNestedTable(myAlert['event_values']['detections']['detection'][0]['action']['actioned-object'][myAObjType + '-object']);

			r += "<h5 class='hxtool_alert_header'>Action results</h5>";
			r += generateTable({
				"Requested action": myAlert['event_values']['detections']['detection'][0]['action']['requested-action'],
				"Applied action": myAlert['event_values']['detections']['detection'][0]['action']['requested-action'],
				"Result": myAlert['event_values']['detections']['detection'][0]['action']['requested-action'],
				"Error": myAlert['event_values']['detections']['detection'][0]['action']['error'],
				"Reboot required?": myAlert['event_values']['detections']['detection'][0]['action']['reboot-required']
			});

			return(r);

		}
		else {
			return("Unsupported Alert");
		}

	}

	function setContainmentInfo(myAgentId) {
		hxtool_ajax_get_request("/api/v1/hosts/get", "id=" + myAgentId, function(myhost) {
			var myhostinfo = JSON.parse(myhost['api_response']);

			$("#fieldContainment").html(myhostinfo['data']['containment_state']);
			if (myhostinfo['data']['containment_queued'] == true && myhostinfo['data']['containment_state'] != "contain" && myhostinfo['data']['containment_state'] != "containing") {
				$("#fieldContainment").append(" (approval pending)");
			}

			// Set containment button mode
			if (myhostinfo['data']['containment_state'] == "contained" || myhostinfo['data']['containment_state'] == "containing" || myhostinfo['data']['containment_state'] == "contain_fail" || myhostinfo['data']['containment_state'] == "contain") {
				$("#containButton").html("uncontain");
			}
			else if (myhostinfo['data']['containment_state'] == "normal" && myhostinfo['data']['containment_queued'] == false) {
				$("#containButton").html("contain");
			}
			else if (myhostinfo['data']['containment_state'] == "normal" && myhostinfo['data']['containment_queued'] == true) {
				$("#containButton").html("approve containment");
			}
			else if (myhostinfo['data']['containment_state'] == "uncontain") {
				$("#containButton").html("uncontain requested");
			}
			else if (myhostinfo['data']['containment_state'] == "uncontaining") {
				$("#containButton").html("uncontaining");	
			}
		});
	}



	$(document).ready(function() {

		var myAgentId = getUrlParameter("host");

		// Alerts table
		$.fn.dataTable.ext.errMode = 'none';
		var hostAlert_datatable = $('#hostAlertTable').DataTable( {
			"ajax": "/api/v1/datatable_alerts_host?limit=1000&host=" + myAgentId,
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"processing": false,
			"columns": [
				{ title: "Event at", "data": "event_at" },
				{ title: "Threat", "data": "threat" },
				{ title: "Source", "data": "source" },
				{ title: "Resolution", "data": "resolution" }
			],
			"initComplete": function(settings, json) {
				if (getUrlParameter("alertid") != "undefined") {
					$('#hostAlertTable').find("#" + getUrlParameter("alertid")).click();
				}
			},
			"columnDefs": [	
				{
				 "targets": 2,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseSource(data));
				 }
				},
				{
				 "targets": 3,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseResolution(data));
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 2]}
			]
		});

		// Acqs table
		$.fn.dataTable.ext.errMode = 'none';
		var hostAcq_datatable = $('#hostAcqTable').DataTable( {
			"ajax": "/api/v1/datatable_acqs_host?host=" + myAgentId,
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"processing": false,
			"columns": [
				{ "title": "Request time", "data": "request_time" },
				{ "title": "Type", "data": "type" },
				{ "title": "State", "data": "state" }
			],
			"columnDefs": [	
				{
				 "targets": 1,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseAcquisitionType(data));
				 }
				},
				{
				 "targets": 2,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseAcquisitionState(data));
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0]}
			]
		});

		// Get hostinfo
		hxtool_ajax_get_request("/api/v1/hosts/get", "id=" + myAgentId, function(myhost) {
			myhostinfo = JSON.parse(myhost['api_response']);

			$("#product").html(host_parsePlatform(myhostinfo['data']['os']['platform']));

			$("#fieldHostname").html(myhostinfo['data']['hostname']);
			$("#fieldDomain").html(myhostinfo['data']['domain']);
			$("#fieldOS").html(myhostinfo['data']['os']['product_name']);
			
			$("#fieldPrimaryIP").html(myhostinfo['data']['primary_ip_address']);
			$("#fieldLastPoll").html(myhostinfo['data']['last_poll_timestamp']);
			$("#fieldAgentVersion").html(myhostinfo['data']['agent_version']);

			$("#showAllHostDataPopup").find(".fe-modal__body").append("<h5 class='hxtool_alert_header'>Hostinfo</h5>");
			$("#showAllHostDataPopup").find(".fe-modal__body").append(generateNestedTable(myhostinfo['data']));

			setContainmentInfo(myAgentId);

		});

		// Update info every 15 seconds
		doUpdate = setInterval(function () {
			setContainmentInfo(myAgentId);
			hostAcq_datatable.ajax.reload();
			hostAlert_datatable.ajax.reload();
		}, 20 * 1000);

		// Get configuration
		hxtool_ajax_get_request("/api/v1/hosts/config", "id=" + myAgentId, function(myhost) {
			myconf = JSON.parse(myhost['api_response']);
			$("#showConfigPopup").find(".fe-modal__body").append(generateNestedTable(myconf));
		});

		// Get sysinfo
		hxtool_ajax_get_request("/api/v1/hosts/sysinfo", "id=" + myAgentId, function(myhost) {
			mysysinfo = JSON.parse(myhost['api_response']);

			$("#fieldDrives").html(mysysinfo['data']['drives']);
			$("#fieldBuildnumber").html(mysysinfo['data']['buildNumber']);
			$("#fieldVirtual").html(mysysinfo['data']['procConfigInfo']['vmGuest']);
			$("#fieldStateagent").html(mysysinfo['data']['stateAgentStatus']);
			$("#fieldInstalled").html(mysysinfo['data']['installDate']);

			var myloggedOnUsers = mysysinfo['data']['loggedOnUser'].toString();
			var myloggedOnUsersArr = myloggedOnUsers.split(",");

			$.each( myloggedOnUsersArr, function( index, value ) {
				$("#loggedOnUserPopup").find(".fe-modal__body").append(value + "<br>");
			});

			$("#showAllHostDataPopup").find(".fe-modal__body").append("<h5 class='hxtool_alert_header'>Sysinfo</h5>");
			$("#showAllHostDataPopup").find(".fe-modal__body").append(generateNestedTable(mysysinfo['data']));

		});

		$('#hostContentPanel').on('click','.hxtool_host_alert_goLink',function(){
			window.open($(this).data("link"), '_blank');
		});

		// Logged on users
		$('#loggedOnUserButton').click(function(){
			$("#loggedOnUserPopup").show();
		});

		$("#loggedOnUserDismiss").click(function(){
			$("#loggedOnUserPopup").hide();
		});

		// Host and sysinfo
		$('#showAllHostData').click(function(){
			$("#showAllHostDataPopup").show();
		});

		$("#showAllHostDataDismiss").click(function(){
			$("#showAllHostDataPopup").hide();
		});

		//config
		$('#confButton').click(function(){
			$("#showConfigPopup").show();
		});

		$("#showConfigDismiss").click(function(){
			$("#showConfigPopup").hide();
		});

		// Containment
		$("#containButton").click(function() {
			var myMode = $("#containButton").html();

			if (myMode == "contain") {
				hxtool_ajax_get_request("/api/v1/hosts/contain", "id=" + myAgentId, function() {
					setContainmentInfo(myAgentId);
				});
			}
			else if (myMode == "uncontain") {
				hxtool_ajax_get_request("/api/v1/hosts/uncontain", "id=" + myAgentId, function() {
					setContainmentInfo(myAgentId);
				});
			}
			else if (myMode == "approve containment") {
				hxtool_ajax_get_request("/api/v1/hosts/contain/approve", "id=" + myAgentId, function() {
					setContainmentInfo(myAgentId);
				});
			}
		});


		// Data Acquisition
		$("#dataButton").click(function() {
			$("#dataNewPopup").show();
		});

		$("#dataCancel").click(function() {
			$("#dataNewPopup").hide();
		});

		$("#dataSubmit").click(function() {
			$("#dataNewPopup").hide();
			var myAcqMode = $("input[name='datasource']:checked").val();

			if (myAcqMode == "hxtool") {
				hxtool_ajax_get_request("/api/v1/acquisition/new", "id=" + myAgentId + "&scriptid=" + $("#dataScriptDb").data("id") + "&scriptname=" + $("#dataname").val(), function() {
					hostAcq_datatable.ajax.reload();
				});
			}
			else if (myAcqMode == "file") {
				var data = new FormData();
				$.each($('#datascript').prop('files'), function(key, value) {
					data.append("script", value);
				});

				data.append("id", myAgentId);
				data.append("scriptname", $("#dataname").val());

				hxtool_ajax_post_request("/api/v1/acquisition/new", data, function(data) {
					hostAcq_datatable.ajax.reload();
				});
			}
		});

		// File Acquisition
		$("#fileButton").click(function() {
			$("#fileNewPopup").show();
		});

		$("#fileCancel").click(function() {
			$("#fileNewPopup").hide();
		});

		$("#fileSubmit").click(function() {
			$("#fileNewPopup").hide();
			hxtool_ajax_get_request("/api/v1/acquisition/file", "id=" + myAgentId + "&type=" + $("#filemode").data("id") + "&path=" + $("#filepath").val() + "&filename=" + $("#filename").val(), function() {
				hostAcq_datatable.ajax.reload();
			});


		});

		// Triage
		jQuery('#triage_timestamp').daterangepicker({
			singleDatePicker: true,
			autoApply: true,
			timePicker: true,
			timePicker24Hour: true,
			buttonClasses: "fe-btn fe-btn--md",
			applyButtonClasses: "fe-btn--primary",
			cancelButtonClasses: "fe-btn--secondary",
			locale: {
				format: 'YYYY-MM-DD hh:mm:ss',
				firstDay: 1
			}
		});

		$("#triageButton").click(function() {
			$("#triageNewPopup").show();
		});

		$("#triageCancel").click(function() {
			$("#triageNewPopup").hide();
		});

		$("#triageSubmit").click(function() {
			$("#triageNewPopup").hide();
			myTriageMode = $("input[name='triagemode']:checked").val();

			if (myTriageMode == "standard" || myTriageMode in [1,2,4,8]) {
				hxtool_ajax_get_request("/api/v1/acquisition/triage", "&id=" + myAgentId + "&type=" + myTriageMode, function() {
					hostAcq_datatable.ajax.reload();
				});
			}
			else if (myTriageMode == "timestamp") {
				hxtool_ajax_get_request("/api/v1/acquisition/triage", "&id=" + myAgentId + "&type=" + myTriageMode + "&timestamp=" + $("#triage_timestamp").val(), function() {
					hostAcq_datatable.ajax.reload();
				});
			}
		});

		// All alert details
		$('#hostContentPanel').on('click','.allAlertDetailsButton',function(){
			$(this).next("div").show(200);
		});

		// All acquisition details
		$('#hostContentPanel').on('click','.allAcqDetailsButton',function(){
			$(this).next("div").show(200);
		});

		$('#hostContentPanel').on('click','.hxtool_host_alert_goAcquire',function(){
			var myAgentID = (myhostinfo['data']['_id']);
			var myFilePath = $(this).data("id");

			hxtool_ajax_get_request("/api/v1/acquisition/file", "id=" + myAgentID + "&type=api&filepath=" + myFilePath, function(resp) {
				hostAcq_datatable.ajax.reload();
			});

		});

		$('#hostAlertTable').on('click','tr',function(){
			hxtool_ajax_get_request("/api/v1/alerts/get", "id=" + $(this).attr("id"), function(myalert) {

				var alert = JSON.parse(myalert['api_response']);

				// First clear the content panel
				$("#hostContentPanel").find(".panelContentClass").html("<div style='text-align: right; margin-bottom: -16px;' id='thisAlertButton'></div>");

				$("#hostContentPanel").find(".panelContentClass").find("#thisAlertButton").append("<button class='alertRemove fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-remove' data-id='" + alert['data']['_id'] + "' aria-label='show'><span>remove alert<i class='fe-icon--right fas fa-ban'></i></span></button>");

				// Load alert template into content panel
				$("#hostContentPanel").find(".panelContentClass").append(parseHostAlert(alert['data']));
				
				// Show all alert data
				$("#hostContentPanel").find(".panelContentClass").append("<button class='allAlertDetailsButton fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' aria-label='show'><span> show all alert details </span></button>");
				$("#hostContentPanel").find(".panelContentClass").append("<div style='display: none;' class='alertAllDetails'></div>");
				$("#hostContentPanel").find(".panelContentClass").find(".alertAllDetails").html(generateNestedTable(alert['data']));
			});
		});

		$('#hostAcqTable').on('click','tr',function() {
			myUrl = $(this).attr("id");
			hxtool_ajax_get_request("/api/v1/acquisition/get", "url=" + $(this).attr("id"), function(myacq) {
				var acq = JSON.parse(myacq['api_response']);

				// First clear the content panel
				$("#hostContentPanel").find(".panelContentClass").html("<div style='text-align: right; margin-bottom: -16px;' id='thisAcqButton'></div>");

				// Then add buttons
				myUrlArr = myUrl.split("/");
				$("#hostContentPanel").find(".panelContentClass").find("#thisAcqButton").append("<button class='acqDownload fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' data-type='" + myUrlArr[5] + "' data-id='" + myUrl + "' aria-label='download'><span>download<i class='fe-icon--right fas fa-download'></i></span></button>");

				if (myUrlArr[5] != "bulk") {
					myAcqRemoveUrl = myUrl.substring(11);
					$("#hostContentPanel").find(".panelContentClass").find("#thisAcqButton").append("<button class='acqRemove fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-remove' data-type='" + myUrlArr[5] + "' data-id='" + myAcqRemoveUrl + "' aria-label='remove'><span>remove<i class='fe-icon--right fas fa-ban'></i></span></button>");
				}

				// Load acquisition template into content panel
				$("#hostContentPanel").find(".panelContentClass").append(parseHostAcquisition(acq['data']));


				$("#hostContentPanel").find(".panelContentClass").append("<button class='allAcqDetailsButton fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main' aria-label='show'><span> show all acquisition details </span></button>");
				$("#hostContentPanel").find(".panelContentClass").append("<div style='display: none;' class='acqAllDetails'></div>");
				$("#hostContentPanel").find(".panelContentClass").find(".acqAllDetails").html(generateNestedTable(acq['data']));
			});
		});

		
		$('#hostContentPanel').on('click','.acqDownload',function() {
			if ($(this).data("type") == "files" || $(this).data("type") == "bulk") {
				location.href = "/api/v1/acquisition/download?id=" + $(this).data("id") + ".zip";
			}
			else if ($(this).data("type") == "live") {
				location.href = "/api/v1/acquisition/download?id=" + $(this).data("id") + ".mans&content=json";
			}
			else {
				location.href = "/api/v1/acquisition/download?id=" + $(this).data("id") + ".mans";
			}
		});

		$('#hostContentPanel').on('click','.acqRemove',function() {
			myrowUrl = $(this).data("id");
			hxtool_ajax_get_request("/api/v1/acquisition/remove", "url=" + $(this).data("id"), function(resMyRemove) {
				$("#hostContentPanel").find(".panelContentClass").html("");
				hostAcq_datatable.row("#/hx/api/v3/" + myrowUrl).remove().draw();
			});
		});

		$('#hostContentPanel').on('click','.alertRemove',function() {
			myrowID = $(this).data("id");
			hxtool_ajax_get_request("/api/v1/alerts/remove", "id=" + $(this).data("id"), function(resMyRemove) {
				$("#hostContentPanel").find(".panelContentClass").html("");
				hostAlert_datatable.row("#" + myrowID).remove().draw();
			});
		});


	});
</script>

<div class="host-grid-container">
  <div class="host-top">
	<div id="hostPanel" class='fe-panel panelHostClass' style='margin-top: 12px;'>
		<div class="fe-panel-header fe-panel-header--no-background">
			<div class="fe-label fe-label--background"><i class='fe-icon--left fas fa-desktop'></i>Host information</div>
		</div>
		<div class='hxtool_panel_top_right_alert'>
			<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='containButton'>contain</button>
			<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='triageButton'>triage<i class='fe-icon--right fas fa-download'></i></button>
			<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='fileButton'>file acquisition<i class='fe-icon--right fas fa-file'></i></button>
			<button class='fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-top' id='dataButton'>data acquisition<i class='fe-icon--right fas fa-download'></i></button>
		</div>
		<div class='fe-panel__body panelHostClass'>
		<table id='agentTable' class='hxtool_host_table hxtool_table'>
			<tbody>
				<tr>
					<td rowspan='3' id='product' style='vertical-align: center; text-align: center;'></td>
					<td class='hxtool_host_info_cell'>Hostname</td>
					<td id='fieldHostname'></td>
					<td class='hxtool_host_info_cell'>Domain</td>
					<td id='fieldDomain'></td>
					<td class='hxtool_host_info_cell'>OS</td>
					<td id='fieldOS'></td>
					<td class='hxtool_host_info_cell'>Containment</td>
					<td id='fieldContainment'></td>
					<td class='hxtool_host_info_cell'>Stateagent</td>
					<td id='fieldStateagent'></td>
				</tr>
				<tr>
					<td class='hxtool_host_info_cell'>Last poll</td>
					<td id='fieldLastPoll'></td>
					<td class='hxtool_host_info_cell'>Primary IP</td>
					<td id='fieldPrimaryIP'></td>
					<td class='hxtool_host_info_cell'>Agent version</td>
					<td id='fieldAgentVersion'></td>
					<td class='hxtool_host_info_cell'>Drives</td>
					<td id='fieldDrives'></td>
					<td class='hxtool_host_info_cell'>Installed</td>
					<td id='fieldInstalled'></td>
				</tr>
				<tr>
					<td class='hxtool_host_info_cell'>Buildnumber</td>
					<td id='fieldBuildnumber'></td>
					<td class='hxtool_host_info_cell'>Logged on user</td>
					<td id='fieldLoggedOnUser'>
						<button class="fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main" id="loggedOnUserButton" aria-label="show"><span> show </span></button>
					</td>
					<td class='hxtool_host_info_cell'>isVirtual</td>
					<td id='fieldVirtual'></td>
					<td class='hxtool_host_info_cell'>All data</td>
					<td id='fieldAllData'>
						<button class="fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main" id="showAllHostData" aria-label="show"><span> show </span></button>
					</td>
					<td class='hxtool_host_info_cell'>Host config</td>
					<td id='fieldConfig'><button class="fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main" id="confButton" aria-label="show"><span> show </span></button></td>
				</tr>
			</tbody>
		</table>
	{{ htPanel.widgetFooter() }}

	<!--
	<div style='text-align: center;'>
		<div class='hxtool_host_panel_read_more'>
			host details
		</div>
	</div>
	-->

  </div>
  <div class="host-alerts">
 	{{ htPanel.widgetHeader("Alerts", panelId="hostAlertPanel", elementAdditionalBodyClass="panelAlertsClass", panelIcon="fa-exclamation-triangle") }}
		<table style='width: 100%;' id='hostAlertTable' class='hxtool_table hxtool_host_alert_table'></table>
	{{ htPanel.widgetFooter() }}
  </div>
  <div class="host-content">
 	{{ htPanel.widgetHeader("Content", panelId="hostContentPanel", elementAdditionalBodyClass="panelContentClass", panelIcon="fa-home") }}
 		<div style='float: left; text-align: center; color: rgba(255, 255, 255, 0.1);'>
	 		<i style='color: rgba(255, 255, 255, 0.1); margin-right: 6px;' class='fas fa-7x fa-arrow-circle-left'></i><br>
	 		Alerts
	 	</div>
	 	<div style='float: right; text-align: center; color: rgba(255, 255, 255, 0.1);'>
	 		<i style='color: rgba(255, 255, 255, 0.1); margin-right: 6px;' class='fas fa-7x fa-arrow-circle-right'></i><br>
	 		Acquisitions
	 	</div>
	 	
	{{ htPanel.widgetFooter() }}
  </div>
  <div class="host-acquisitions">
 	{{ htPanel.widgetHeader("Acquisitions", panelId="hostAcqPanel", elementAdditionalBodyClass="panelAcqClass", panelIcon="fa-download") }}
		<table style='width: 100%;' id='hostAcqTable' class='hxtool_table hxtool_host_acq_table'></table>
	{{ htPanel.widgetFooter() }}
  </div>
</div>

<!-- Logged on users popup -->
{{ htModal.widgetHeader("Logged on users", modalId="loggedOnUserPopup") }}
{{ htModal.widgetMiddle() }}
		<button class="fe-btn fe-btn--md fe-btn--secondary" id="loggedOnUserDismiss" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

<!-- Host and sysinfo popup -->
{{ htModal.widgetHeader("Host and sysinfo", modalId="showAllHostDataPopup", modalSize="large") }}
{{ htModal.widgetMiddle() }}
		<button class="fe-btn fe-btn--md fe-btn--secondary" id="showAllHostDataDismiss" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

<!-- Conf popup -->
{{ htModal.widgetHeader("Host configuration", modalId="showConfigPopup", modalSize="large") }}
{{ htModal.widgetMiddle() }}
		<button class="fe-btn fe-btn--md fe-btn--secondary" id="showConfigDismiss" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

<!-- Data Acquisition popup -->
{{ htModal.widgetHeader("New Data Acquisition", modalId="dataNewPopup", modalOverflow="true") }}

	<!-- Data comment -->
	<h3 class='hxtool_typography_h3'>Name</h3>
	<div class='hxtool_panel_wrapper' style='width: 550px; margin-left: 0; margin-top: 6px;'>
	    <input type="text" name="dataname" id="dataname" value="" class="fe-input" placeholder="my new acquisition" />
	    <span class="fe-input-hint-text">Enter a name for your acquisition so others knows what it is</span>
	</div>

	<!-- Script source -->
	<h3 class='hxtool_typography_h3 hxtool_typography_underline'>Script source</h3>
	<div class='hxtool_panel_wrapper'>

		{{ htRadio.widgetHeader("From HXTool", "hxtool", "datasource-a", "datasource", elementChecked="true") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>
			<div class="fe-dropdown">
				<button id='dataScriptDb' data-id='__hxtool_not_set' class="fe-btn fe-btn--sm fe-btn--hxtool-main-dropdown"> Select an acquisition script <i class="fe-icon--right fas fa-chevron-up"></i></button>
				<div class="fe-dropdown__list-container">
					<ul class="fe-dropdown__list fe-list">
						{% if scripts %} {{scripts|safe}} {% endif %}
					</ul>
				</div>
			</div>
		</div>

		{{ htRadio.widgetHeader("From file", "file", "datasource-a", "datasource", elementChecked="false") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>
			<input class="fe-input" style='width: 96%;' type='file' id='datascript' name='datascript'>
		</div>
	</div>

{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="dataCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="dataSubmit" aria-label="Click"><span> Submit </span></button>
{{ htModal.widgetFooter() }}


<!-- File Acquisition -->
{{ htModal.widgetHeader("New File Acquisition", modalId="fileNewPopup", modalOverflow="true") }}
	<h3 class='hxtool_typography_h3'>File path</h3>
	<div class='hxtool_panel_wrapper' style='width: 550px; margin-left: 0; margin-top: 6px;'>
	    <input type="text" name="filepath" id="filepath" value="" class="fe-input" placeholder="c:\path\to\my\folder" />
	    <span class="fe-input-hint-text">Enter the path to the file you wish to acquire</span>
	</div>
	<h3 class='hxtool_typography_h3'>File name</h3>
	<div class='hxtool_panel_wrapper' style='width: 550px; margin-left: 0; margin-top: 6px;'>
	    <input type="text" name="filename" id="filename" value="" class="fe-input" placeholder="myfile.exe" />
	    <span class="fe-input-hint-text">Enter the file name of the file you wish to acquire</span>
	</div>

	<h3 class='hxtool_typography_h3'>Acquisition mode</h3>
	{{ htDropdown.widgetHeader("API", "filemode", "api") }}
	{{ htDropdown.widgetItem("API", "api", elementIcon="fab fa-check") }}
	{{ htDropdown.widgetItem("RAW", "raw", elementIcon="fab fa-check") }}
	{{ htDropdown.widgetFooter(elementLabel="Select acquisition mode") }}


{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="fileCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="fileSubmit" aria-label="Click"><span> Submit </span></button>
{{ htModal.widgetFooter() }}


<!-- Triage Acquisition -->
{{ htModal.widgetHeader("New Triage Acquisition", modalId="triageNewPopup") }}
	<h3 class='hxtool_typography_h3 hxtool_typography_underline'>Triage mode</h3>
	<div class='hxtool_panel_wrapper'>
		{{ htRadio.widgetHeader("Standard", "standard", "triagemode-a", "triagemode", elementChecked="true") }}
		{{ htRadio.widgetHeader("Around 1 hour ago", "1", "triagemode-b", "triagemode", elementChecked="false") }}
		{{ htRadio.widgetHeader("Around 2 hours ago", "2", "triagemode-c", "triagemode", elementChecked="false") }}
		{{ htRadio.widgetHeader("Around 4 hours ago", "4", "triagemode-d", "triagemode", elementChecked="false") }}
		{{ htRadio.widgetHeader("Around 8 hours ago", "8", "triagemode-e", "triagemode", elementChecked="false") }}
		{{ htRadio.widgetHeader("Around timestamp", "timestamp", "triagemode-f", "triagemode", elementChecked="false") }}
		<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px; width: 150px;'>
			<input type='text' class="fe-input" id='triage_timestamp' name='triage_timestamp'>
		</div>
	</div>
{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="triageCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="triageSubmit" aria-label="Click"><span> Submit </span></button>
{{ htModal.widgetFooter() }}

{% endblock %}