{% extends "layout.html" %}
{% block title %}HXTool - Host view{% endblock %}
{% block content %}

<script>

	function createHTML(json, isArray){
	   
	   var html = '<ul class="hxtool_host_ul">';
	   for(var key in json){
	       if(typeof json[key] == 'object'){
	           html += '<li>' + (!isArray ? '<span class="hxtool_alert_json_item">'+ key +'</span>' : '<span class="hxtool_alert_json_item">' + key + '</span>') + '</li>' + createHTML(json[key], (json[key] instanceof Array ? 1 : 0));
	       } else {
	       	   html += '<li><span class="hxtool_alert_json_item">'+ key +'</span> ' + json[key] +'</li>';
//	           html += '<li>'+ json[key] +'</li>';
	       }
	   }
	   return html+'</ul>';

	}

	function parseTableData(myIndex, myValue) {
		var r = ""

		if (["md5sum", "sha1sum", "sha256sum"].indexOf(myIndex) >= 0) {
			r += "<i style='color: #11a962; margin-right: 6px;' class='fas fa-hashtag'></i>" + myValue;
		}
		else if (["container", "packed", "hidden", "system-file", "read-only", "temporary"].indexOf(myIndex) >= 0) {
			if (myValue == "false") {
				r += "<i style='color: #f4a742; margin-right: 6px;' class='fas fa-ban'></i>" + myValue;
			}
			else {
				r += "<i style='color: #11a962; margin-right: 6px;' class='fas fa-check'></i>" + myValue;
			}
		}
		else {
			r = myValue;
		}

		return(r);
	}

	function generateTable(myData) {
		var r = "<table class='hxtool_table_host_alert hxtool_table'>";
		r += "<tbody>";
		$.each( myData, function( index, value ) {
			r += "<tr>";
			r += "<td class='hxtool_host_info_cell'>" + index + "</td>";
			r += "<td>" + parseTableData(index, value) + "</td>";
			r += "</tr>";
		});
		r += "</tbody>";
		r += "</table>";
		return(r);
	}

	function parseAlert(myAlert) {

		var r = "";

		if (myAlert['source'] == "IOC") {
			r += "<h5 class='hxtool_alert_header'>Indicator Alert</h5>";
			r += generateTable({
				"Indicator": myAlert['indicator']['display_name'],
				"Event at": myAlert['event_at'],
				"Matched at": myAlert['matched_at'],
				"Reported at": myAlert['reported_at'],
				"Resolution": myAlert['resolution'],
				"Is false positive?": myAlert['is_false_positive'],
				"Event ID": myAlert['event_id'],
				"Event type": myAlert['event_type']
			});

			r += "<h5 class='hxtool_alert_header'>Event data</h5>";
			r += generateTable(myAlert['event_values']);

			return(r);
		}
		else if (myAlert['source'] == "MAL") {
			r += "<h5 class='hxtool_alert_header'>Malware Alert</h5>";
//			r += JSON.stringify(myAlert);

			r += generateTable({
				"Threat name": myAlert['event_values']['detections']['detection'][0]['infection']['infection-name'],
				"Threat type": myAlert['event_values']['detections']['detection'][0]['infection']['infection-type'],
				"Confidence level": myAlert['event_values']['detections']['detection'][0]['infection']['confidence-level']
			});

			r += "<h5 class='hxtool_alert_header'>Infected Object</h5>";
			myObjType = myAlert['event_values']['detections']['detection'][0]['infected-object']['object-type'];
			r += generateTable(myAlert['event_values']['detections']['detection'][0]['infected-object'][myObjType + '-object']);

			r += "<h5 class='hxtool_alert_header'>Actioned Object</h5>";
			myAObjType = myAlert['event_values']['detections']['detection'][0]['action']['actioned-object']['object-type'];
			r += generateTable(myAlert['event_values']['detections']['detection'][0]['action']['actioned-object'][myAObjType + '-object']);

			r += "<h5 class='hxtool_alert_header'>Action results</h5>";
			r += generateTable({
				"Requested action": myAlert['event_values']['detections']['detection'][0]['action']['requested-action'],
				"Applied action": myAlert['event_values']['detections']['detection'][0]['action']['requested-action'],
				"Result": myAlert['event_values']['detections']['detection'][0]['action']['requested-action'],
				"Error": myAlert['event_values']['detections']['detection'][0]['action']['error'],
				"Reboot required?": myAlert['event_values']['detections']['detection'][0]['action']['reboot-required']
			});

			return(r);

		}
		else {
			return("Unsupported Alert");
		}

	}


	$(document).ready(function() {

		var myAgentId = getUrlParameter("host");

		// Alerts table
		$.fn.dataTable.ext.errMode = 'none';
		var hostAlert_datatable = $('#hostAlertTable').DataTable( {
			"ajax": "/api/v1/datatable_alerts_host?host=" + myAgentId,
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"processing": false,
			"columns": [
				{ title: "Event at", "data": "event_at" },
				{ title: "Threat", "data": "threat" },
				{ title: "Source", "data": "source" },
				{ title: "Resolution", "data": "resolution" }
			],
			"columnDefs": [	
				{
				 "targets": 2,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseSource(data));
				 }
				},
				{
				 "targets": 3,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseResolution(data));
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 2, 3]}
			]
		});

		// Acqs table
		$.fn.dataTable.ext.errMode = 'none';
		var hostAcq_datatable = $('#hostAcqTable').DataTable( {
			"ajax": "/api/v1/datatable_acqs_host?host=" + myAgentId,
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"processing": false,
			"columns": [
				{ "title": "Request time", "data": "request_time" },
				{ "title": "Type", "data": "type" },
				{ "title": "State", "data": "state" }
			],
			"columnDefs": [	
				{
				 "targets": 1,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseAcquisitionType(data));
				 }
				},
				{
				 "targets": 2,
				 render: function ( data, type, row, meta ) {
				 	return (host_parseAcquisitionState(data));
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 2]}
			]
		});

		hxtool_ajax_get_request("/api/v1/hosts/get", "id=" + myAgentId, function(myhost) {
			myhostinfo = JSON.parse(myhost['api_response']);

			$("#product").html(host_parsePlatform(myhostinfo['data']['os']['platform']));

			$("#fieldHostname").html(myhostinfo['data']['hostname']);
			$("#fieldDomain").html(myhostinfo['data']['domain']);
			$("#fieldOS").html(myhostinfo['data']['os']['product_name']);
			$("#fieldContainment").html(myhostinfo['data']['containment_state']);
			$("#fieldPrimaryIP").html(myhostinfo['data']['primary_ip_address']);
			$("#fieldLastPoll").html(myhostinfo['data']['last_poll_timestamp']);
			$("#fieldAgentVersion").html(myhostinfo['data']['agent_version']);

			// hostname, domain, product, containment state, last_poll_timestamp, primary_ip, alert_stats, agent_version
			// sysinfo, drives, buildnumber, loggedonuser, EXG, MG, AV status, inteltimestamp, "is virtual"
		});

		hxtool_ajax_get_request("/api/v1/hosts/sysinfo", "id=" + myAgentId, function(myhost) {
			mysysinfo = JSON.parse(myhost['api_response']);

			$("#fieldDrives").html(mysysinfo['data']['drives']);
			$("#fieldBuildnumber").html(mysysinfo['data']['buildNumber']);
			$("#fieldVirtual").html(mysysinfo['data']['procConfigInfo']['vmGuest']);

			var myloggedOnUsers = mysysinfo['data']['loggedOnUser'].toString();
//			alert(myloggedOnUsers);
			var myloggedOnUsersArr = myloggedOnUsers.split(",");
			//$("#loggedOnUserPopup").find(".fe-modal__body").append(myloggedOnUsers);

			$.each( myLoggedOnUsersArr, function( index, value ) {
//				alert(value);
				$("#loggedOnUserPopup").find(".fe-modal__body").append(value + "<br>");
			});

			//$("#loggedOnUserPopup").find(".fe-modal__body").html(myLoggedOnUsers.join + "<br>");

		});

		$('#loggedOnUserButton').click(function(){
			$("#loggedOnUserPopup").show();
		});

		$("#loggedOnUserDismiss").click(function(){
			$("#loggedOnUserPopup").hide();
		});

		$('#hostContentPanel').on('click','.allAlertDetailsButton',function(){
			$(this).next("div").show(200);
		});

		$('#hostAlertTable').on('click','tr',function(){
			hxtool_ajax_get_request("/api/v1/alerts/get", "id=" + $(this).attr("id"), function(myalert) {

				var alert = JSON.parse(myalert['api_response']);

				// First clear the content panel
				$("#hostContentPanel").find(".panelContentClass").html("");

				// Load alert template into content panel
				$("#hostContentPanel").find(".panelContentClass").html(parseAlert(alert['data']));
				
				// Show all alert data
				$("#hostContentPanel").find(".panelContentClass").append("<button class='allAlertDetailsButton fe-btn fe-btn--sm fe-btn--primary' aria-label='show'><span> show all alert details </span></button>");
				$("#hostContentPanel").find(".panelContentClass").append("<div style='display: none;' class='alertAllDetails'></div>");
				$("#hostContentPanel").find(".panelContentClass").find(".alertAllDetails").html(createHTML(alert['data'], true));
			});
		});

		$('#hostAcqTable').on('click','tr',function(){
			hxtool_ajax_get_request("/api/v1/acquisition/get", "url=" + $(this).attr("id"), function(myacq) {
				var acq = JSON.parse(myacq['api_response']);
				$("#hostContentPanel").find(".panelContentClass").html(createHTML(acq['data'], true));
			});
		});




/*

		// ChartJS: Alerts timeline
		var jsonData = $.ajax({
			url: "/api/v1/chartjs_host_alert_timeline?id=" + myAgentId,
			dataType: 'json',
		}).done(function (myChartData) {

			var config = {
				type: 'line',
				data: myChartData,
			
				options: {
					responsive: true,
					maintainAspectRatio: false,
					title: {
						display: false
					},
					legend: {
						display: false
					},						
					tooltips: {
						mode: 'index',
						intersect: false,
						borderColor: "rgba(15, 184, 220, 0.4)"
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							type: "time",
							time: {
								parser: 'YYYY-MM-DD HH:mm:ss',
								unit: 'day',
								min: '2018-12-09 18:43:53',
								max: '2018-12-19 18:43:53'
							},
							ticks: {
								source: 'data'
							},
							display: true,
							scaleLabel: {
								display: false,
							},
							gridLines: {
								display: false
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: false,
							},
							ticks: {
								beginAtZero: true,
								maxTicksLimit: 5
							},
							gridLines: {
								display: true ,
								color: "rgba(15, 184, 220, 0.4)"
							}
						}]
					}
				}
			}

			var ctx = document.getElementById('chartjs_host_alert').getContext('2d');
			window.chartjs_hostalert = new Chart(ctx, config);
		});
*/

/*
	var jsonData = $.ajax({
		url: "/api/v1/chartjs_host_alert_timeline?id=" + myAgentId,
		dataType: 'json',
	}).done(function (myChartData) {

	   new Chart(document.getElementById("chartjs_host_alert"), {
	      type: 'line',
	      data: myChartData,
	      options: {
	         scales: {
	            xAxes: [{
	               type: 'time',
	               time: {
	                  parser: 'YYYY-MM-DD HH:mm:ss',
	                  unit: 'day',
	                  displayFormats: {
	                     day: 'ddd'
	                  },
	                  min: '2017-10-02 18:43:53',
	                  max: '2017-10-09 18:43:53'
	               },
	               ticks: {
	                  source: 'data'
	               }
	            }]
	         },
	         legend: {
	            display: false
	         },
	         animation: {
	            duration: 0,
	         },
	         hover: {
	            animationDuration: 0,
	         },
	         responsiveAnimationDuration: 0
	      },
	      plugins: [{
	         beforeInit: function(chart) {
	            var time = chart.options.scales.xAxes[0].time, // 'time' object reference
	               timeDiff = moment(time.max).diff(moment(time.min), 'd'); // difference (in days) between min and max date
	            // populate 'labels' array
	            // (create a date string for each date between min and max, inclusive)
	            for (i = 0; i <= timeDiff; i++) {
	               var _label = moment(time.min).add(i, 'd').format('YYYY-MM-DD HH:mm:ss');
	               chart.data.labels.push(_label);
	            }
	         }
	      }]
	   });

	  });
*/


	});
</script>

<div class="host-grid-container">
  <div class="host-top">
	{{ htPanel.widgetHeader("Host", panelId="hostPanel", elementAdditionalBodyClass="panelHostClass", panelIcon="fa-desktop") }}
		<table id='agentTable' class='hxtool_host_table hxtool_table'>
			<tbody>
				<tr>
					<td rowspan='3' id='product' style='vertical-align: center; text-align: center; border-bottom: 0;'></td>
					<td class='hxtool_host_info_cell'>Hostname</td>
					<td id='fieldHostname'></td>
					<td class='hxtool_host_info_cell'>Domain</td>
				<td id='fieldDomain'></td>
					<td class='hxtool_host_info_cell'>OS</td>
					<td id='fieldOS'></td>
					<td class='hxtool_host_info_cell'>Containment</td>
					<td id='fieldContainment'></td>
					<td rowspan='3' style='vertical-align: center; text-align: center; border-bottom: 0;'>
						<!--<canvas id="chartjs_host_alert" class='hxtool_chartjs_canvas'></canvas> -->
						graph goes here
					</td>
				</tr>
				<tr>
					<td class='hxtool_host_info_cell'>Last poll</td>
					<td id='fieldLastPoll'></td>
					<td class='hxtool_host_info_cell'>Primary IP</td>
					<td id='fieldPrimaryIP'></td>
					<td class='hxtool_host_info_cell'>Agent version</td>
					<td id='fieldAgentVersion'></td>
					<td class='hxtool_host_info_cell'>Drives</td>
					<td id='fieldDrives'></td>
				</tr>
				<tr>
					<td class='hxtool_host_info_cell'>Buildnumber</td>
					<td id='fieldBuildnumber'></td>
					<td class='hxtool_host_info_cell'>Logged on user</td>
					<td id='fieldLoggedOnUser'>
						<button class="fe-btn fe-btn--sm fe-btn--primary" id="loggedOnUserButton" aria-label="show"><span> show </span></button>
					</td>
					<td class='hxtool_host_info_cell'>isVirtual</td>
					<td id='fieldVirtual'></td>
					<td class='hxtool_host_info_cell'>temp</td>
					<td id='fieldTemp'></td>
				</tr>
			</tbody>
		</table>
	{{ htPanel.widgetFooter() }}

	<!--
	<div style='text-align: center;'>
		<div class='hxtool_host_panel_read_more'>
			host details
		</div>
	</div>
	-->

  </div>
  <div class="host-alerts">
 	{{ htPanel.widgetHeader("Alerts", panelId="hostAlertPanel", elementAdditionalBodyClass="panelAlertsClass", panelIcon="fa-exclamation-triangle") }}
		<table style='width: 100%;' id='hostAlertTable' class='hxtool_table hxtool_host_alert_table'></table>
	{{ htPanel.widgetFooter() }}
  </div>
  <div class="host-content">
 	{{ htPanel.widgetHeader("Content", panelId="hostContentPanel", elementAdditionalBodyClass="panelContentClass", panelIcon="fa-home") }}
	{{ htPanel.widgetFooter() }}
  </div>
  <div class="host-acquisitions">
 	{{ htPanel.widgetHeader("Acquisitions", panelId="hostAcqPanel", elementAdditionalBodyClass="panelAcqClass", panelIcon="fa-download") }}
		<table style='width: 100%;' id='hostAcqTable' class='hxtool_table hxtool_host_acq_table'></table>
	{{ htPanel.widgetFooter() }}
  </div>
</div>


{{ htModal.widgetHeader("Logged on users", modalId="loggedOnUserPopup") }}
{{ htModal.widgetMiddle() }}
		<button class="fe-btn fe-btn--md fe-btn--secondary" id="loggedOnUserDismiss" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}


{% endblock %}