{% extends "layout.html" %}
{% block title %}hxTool{% endblock %}
{% block content %}

<script>
        $(document).ready(function() {

	Morris.Donut({
	  element: 'dashAlertsGraph',
	  data: {% if iocstats %} {{ iocstats|safe }} {% endif %},
	  backgroundColor: '#5387ac',
	  labelColor: '#444',
	  colors: [
	    '#79a1be',
	    '#d7d7d7',
	    '#da1a32'
	  ],
	  formatter: function (x) { return x + "%"}
});


        });
</script>

<br>
<div class='tableTitle'>Recent Alerts</div>
<table style='width: 100%; border-collapse: 0; border-spacing: 0;'>
	<tr>
		<td style='padding: 0;'>
			{% if alerts %} {{ alerts|safe }} {% endif %}
		</td>
		<td style='border-top: 2px solid rgb(215,215,215); border-bottom: 2px solid rgb(215,215,215); width: 250px; padding: 0;'>
			<div id='dashAlertsGraph' style='width: 250px;'></div>
			<div class='graphLabel'>Alert distribution</div>
		</td>
	</tr>
</table>
{% endblock %}
