{% extends "layout.html" %}
{% block title %}HXTool - Indicators{% endblock %}
{% block navlocation %}Manage Indicators{% endblock %}
{% block content %}

<script>

	function generateConditionList(myConditions, myId) {
		$("#ruleViewPopup").find(".fe-modal__body").append("<div id='" + myId + "' class='clt'></div>");
		var r = "";
		r += "<ul><li>or<ul>";

		$.each(myConditions, function(key, value) {
			r += "<li>and<ul>";
			$.each(value['tests'], function(ckey, cvalue) {
				r += "<li>";
				if (cvalue['negate'] == true) {
					r += "<span style='color: #ea475b; font-weight: bold;'>not </span>";
				}
				r += "<strong>" + cvalue['token'] + "</strong> " + cvalue['operator'] + " " + cvalue['value'];
				if (cvalue['preservecase'] == true) {
					r += "<span style='color: #59dc90;'> (case sensitive)</span>";
				}
				r += "</li>";
			});
			r += "</ul></li>";
		});

		r += "</ul></li>";
		$("#" + myId).html(r);
	}


	$(document).ready(function() {

		hxtool_ajax_get_request("/api/v1/indicator_category/get_edit_policies", "", function(myCategoryPolicies) {
			myEditPolicies = JSON.parse(myCategoryPolicies['api_response']);

			ioc_datatable = $('#iocTable').DataTable( {
				"ajax": "/api/v1/datatable_indicators",
				"paging":   false,
				"ordering": false,
				"info":     false,
				"searching": true,
				"processing": false,
				"dom": '<"hxtool_datatables_buttons"B>frtip',
				"buttons": [
					{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right far fa-copy'></i>" },
					{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right far fa-file'></i>" },
					{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right far fa-file-excel'></i>" }
				],
				"columns": [
					{ title: "", "data": "DT_RowId" },
					{ title: "Name", "data": "display_name" },
					{ title: "Active since", "data": "active_since" },
					{ title: "Category", "data": "category_name" },
					{ title: "Created by", "data": "created_by" },
					{ title: "Platforms", "data": "platforms" },
					{ title: "Conditions", "data": "active_conditions" },
					{ title: "Hosts w/alerts", "data": "alerted_agents" },
					{ title: "Action", "data": "DT_RowId" }
				],
				"columnDefs": [	
					{"className": "hxtool_table_cell_center", "targets": [2, 3, 4, 5, 6, 7]},
					{
					 "targets": 0,
					 "width": "34px",
					 render: function ( data, type, row, meta ) {
					 	r = "&nbsp;";
					 	if (row.category_name != "Mandiant Unrestricted Intel") {
					 		if (row.category_name != "Mandiant Intel") {
						 		r = "<input id='" + row.DT_RowId + "_check' type='checkbox' />";
					 		}
					 	}
					 	return (r);
					 }
					},
					{
					 "targets": 2,
					 render: function ( data, type, row, meta ) {
					 	return (datatables_Timestamp(data));
					 }
					},
					{
					 "targets": 8,
					 "width": "350px",
					 render: function ( data, type, row, meta ) {
					 	r = "";
					 	myId = String(row.category_id);
					 	r += "<button style='margin-right: 6px;' class='iocAction fe-btn fe-btn--sm fe-btn--hxtool-main' data-type='view' data-url='" + row.url + "'>view<i class='fe-icon--right far fa-eye'></i></button>";
				 		r += "<button style='margin-right: 6px;' class='iocAction fe-btn fe-btn--sm fe-btn--hxtool-main' data-type='clone' data-url='" + row.url + "' data-id='" + row.DT_RowId + "'>clone<i class='fe-icon--right far fa-clone'></i></button>";
					 	if (myEditPolicies[myId] == "full" || myEditPolicies[myId] == "edit_delete") {
					 		r += "<button style='margin-right: 6px;' class='iocAction fe-btn fe-btn--sm fe-btn--hxtool-main' data-type='edit' data-url='" + row.url + "' data-id='" + row.DT_RowId + "'>edit<i class='fe-icon--right far fa-edit'></i></button>";
					 	}
					 	else {
					 		r += "<button style='margin-right: 6px;' class='fe-btn fe-btn--sm fe-btn--hxtool-main-disabled'>edit<i class='fe-icon--right far fa-edit'></i></button>";
					 	}
					 	if (myEditPolicies[myId] == "full" || myEditPolicies[myId] == "edit_delete" || myEditPolicies[myId] == "delete") {
					 		r += "<button style='margin-right: 6px;' class='iocAction fe-btn fe-btn--sm fe-btn--hxtool-main-remove' data-type='remove' data-url='" + row.url + "' data-category='" + row.category_name + "' data-id='" + row.DT_RowId + "'>remove<i class='fe-icon--right far fa-trash'></i></button>";
					 	}
					 	else {
					 		r += "<button style='margin-right: 6px;' class='fe-btn fe-btn--sm fe-btn--hxtool-main-disabled'>remove<i class='fe-icon--right far fa-trash'></i></button>";
					 	}
					 	return (r);
					 }
					}
				]
			});
			$('div.dataTables_filter input').addClass("fe-input");

		});

		$("#iocTable").on("click", ".iocAction", function() {
			if ($(this).data("type") == "edit") {
				location.href = "/rtioc?indicator=" + $(this).data("url");
			}
			if ($(this).data("type") == "clone") {
				location.href = "/rtioc?indicator=" + $(this).data("url") + "&clone=true";
			}
			if ($(this).data("type") == "remove") {
				myrow = $(this).closest("tr");
				hxtool_ajax_get_request("/api/v1/indicators/remove", "url=" + $(this).data("url"), function() {
					myrow.fadeOut(200, function() {
						ioc_datatable.row(myrow).remove().draw();
					});
				});
			}
			if ($(this).data("type") == "view") {
				hxtool_ajax_get_request("/api/v1/indicators/get/conditions", "uuid=" + $(this).data("id") + "&url=" + $(this).data("url"), function(myConditionsResponse) {
					myConditions = JSON.parse(myConditionsResponse['api_response']);

					// First empty the container
					$("#ruleViewPopup").find(".fe-modal__body").html("");

					// Generate the lists of conditions
					if (myConditions['presence']['data']['entries'].length > 0) {
						$("#ruleViewPopup").find(".fe-modal__body").append("<h3 class='hxtool_typography_h3'>Conditions for detecting presence</h3>");
						generateConditionList(myConditions['presence']['data']['entries'], "presenceList");
						$("#ruleViewPopup").find(".fe-modal__body").append("<br>");
					}
					if (myConditions['execution']['data']['entries'].length > 0) {
						$("#ruleViewPopup").find(".fe-modal__body").append("<h3 class='hxtool_typography_h3'>Conditions for detecting execution</h3>");
						generateConditionList(myConditions['execution']['data']['entries'], "executionList");
					}

					$("#ruleViewPopup").show();
				});
			}
		});

		$("#ruleViewDismiss").click(function() {
			$("#ruleViewPopup").hide();
		});
		
		$('#importButton').click(function(){ 
			$('#ruleImportPopup').show();
		});

		$('#ruleImportCancel').click(function(){
			$('#ruleImportPopup').hide();
		});

		$('#ruleImportSubmit').click(function(){
			$('#ruleImportPopup').hide();

			var data = new FormData();
			$.each($('#ruleImportFile').prop('files'), function(key, value) {
				data.append("ruleImport", value);
			});

			hxtool_ajax_post_request("/api/v1/indicators/import", data, function() {
				ioc_datatable.ajax.reload();
			});

		});

		$("#exportButton").click(function() {
			myExports = {};
			ioc_datatable.rows().eq(0).each( function ( index ) {
				var row = ioc_datatable.row( index );

				if ($("#" + row.data()['DT_RowId'] + "_check").is(":checked")) {
					myuuid = row.data()['DT_RowId'];
					myExports[myuuid] = {
						"name": row.data()['display_name'],
						"category": row.data()['category_name'],
						"platforms": row.data()['platforms'],
					};
				}

			});
			location.href = "/api/v1/indicators/export?indicators=" + JSON.stringify(myExports);
		});

		$("#createButton").click(function() {
			location.href = "/rtioc";
		});
		
	});
</script>

{{ htPanelNoHeader.widgetHeader(panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main-master" id="exportButton"> Export selected <i style='color: #11a962;' class="fe-icon--right fas fa-file-export"></i></button>
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main-master" id="importButton"> Import <i style='color: #11a962;' class="fe-icon--right fas fa-file-import"></i></button>
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main-master" id="createButton"> Create new rule <i style='color: #11a962;' class="fe-icon--right fas fa-plus"></i></button>
{{ htPanelNoHeader.widgetFooter() }}

{{ htPanel.widgetHeader("Rules", panelId="iocTableContainer", panelIcon="fa-table") }}
	<table style='width: 100%;' id='iocTable' class='hxtool_table'></table>
{{ htPanel.widgetFooter() }}

{{ htModal.widgetHeader("View rule", modalId="ruleViewPopup", modalSize="large") }}
{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="ruleViewDismiss" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

{{ htModal.widgetHeader("Import indicators", modalId="ruleImportPopup", modalSize="small") }}
	<h3 class='hxtool_typography_h3'>Upload hxtool exported rules</h3>
	<input class="fe-btn fe-btn--sm fe-btn--primary active" style='background: transparent;' type='file' id='ruleImportFile' name='ruleImportFile'>
	<br>
	<h5>HXTool rule format only! <br>(No STIX/YARA/OpenIOC formats)</h5>
{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="ruleImportCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="ruleImportSubmit" aria-label="Submit"><span> Submit </span></button>
{{ htModal.widgetFooter() }}

{% endblock %}
