{% extends "layout.html" %}
{% block title %}HXTool - Indicator{% endblock %}
{% block navlocation %}Indicator{% endblock %}
{% block content %}

	<script>

		function guid() {
		    function _p8(s) {
		        var p = (Math.random().toString(16)+"000000000").substr(2,8);
		        return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;
		    }
	    	return _p8() + _p8(true) + _p8(true) + _p8();
		}

		function getGroups(data, targetelement, myguid, myGroup, myField, myOperator) {
			var myhtml = "<select id=group_" + myguid + ">";
			$.each(data, function(index, field) {
				myhtml += "<option name='" + index + "'>" + index;
			});
			myhtml += "</select>";
			$(targetelement).html(myhtml);

			// Check if we need to populate fields
			if (myGroup) {
				// Set the group
				$(targetelement).find('select').val(myGroup).change();
				getFields(data, myGroup, $(targetelement).next(), myguid, myField, myOperator);
			}
			else {
				// Load fields into next cell
				getFields(data, $(targetelement).find('select').find("option:first-child").val(), $(targetelement).next(), myguid);
			}
		}

		function getFields(data, mytype, targetelement, myguid, myField, myOperator) {
			var myhtml = "<select id=field_" + myguid + ">";
			$.each(data[mytype], function(index, field) {
				myhtml += "<option data-type='" + field.type + "' value='" + field.name + "'>" + field.name;
			});
			myhtml += "</select>";
			$(targetelement).html(myhtml);

			if (myField) {
				// Set the field
				$(targetelement).find('select').val(myField).change();
				getOperators($(targetelement).find('select').find(":selected").data('type'), $(targetelement).next(), myguid, myOperator);
			}
			else {
				getOperators($(targetelement).find('select').find("option:first-child").data('type'), $(targetelement).next(), myguid);
			}
		}

		function getOperators(mytype, targetelement, myguid, myOperator) {
			var myhtml = "<select id='operator_" + myguid + "'>";
			if (mytype == "text") {
				myhtml += "<option value='contains'>contains";
				myhtml += "<option value='equal'>equal";
				myhtml += "<option value='matches'>matches";
				myhtml += "<option value='starts-with'>starts-with";
				myhtml += "<option value='ends-with'>ends-with";
			}
			if (mytype == "integer") {
				myhtml += "<option value='equal'>equal";
				myhtml += "<option value='greater-than'>greater-than";
				myhtml += "<option value='less-than'>less-than";
				myhtml += "<option value='between'>between";
			}
			if (mytype == "md5") {
				myhtml += "<option value='equal'>equal";
			}
			if (mytype == "range") {
				myhtml += "<option value='between'>between";
			}
			myhtml += "</select>";
			$(targetelement).html(myhtml);

			if (myOperator) {
				// Set the operator
				$(targetelement).find('select').val(myOperator).change();
			}

		}

		function addCondition(myguid, condition_type) {

			// Set the condition type
			if (condition_type) {
				if (condition_type == "presence") {
					mytypehtml = "<select id='ioctype'><option value='presence' selected>presence<option value='execution'>execution</select>";
				}
				else {
					mytypehtml = "<select id='ioctype'><option value='presence'>presence<option value='execution' selected>execution</select>";
				}
				
			}
			else {
				mytypehtml = "<select id='ioctype'><option value='presence'>presence<option value='execution'>execution</select>";
			}
			
			// Append row to table
			$('#ioctable > tbody:last-child').append('<tr data-id=\'' + myguid + '\' id=\'condition_' + myguid + '\'><td style=\'background: #eeeeee; text-align: left; border-right: none; font-weight: bold; font-size: 14px;\' colspan=\'7\'>Condition ' +  mytypehtml + '</td><td style=\'border-left: none; background: #eeeeee; text-align: center;\'><input id=\'gdelete_' + myguid + '\' class=\'tableActionButton tableActionButtonSmall conditionDeleteButton\' type=\'button\' value=\'remove\'></td></tr>');
		}

		function addElement(myguid, optionalElement) {
			//Append row to table
			if (optionalElement == undefined) {
				$('#ioctable tbody:last-child').append('<tr data-id=\'' + myguid + '\' id=\'element_' + myguid + '\'><td></td><td></td><td></td><td><input type=\'checkbox\'></td><td><input type=\'checkbox\'></td><td><input style=\'width: 100%; box-sizing: border-box;\' type=\'text\'></td><td><input type=\'button\' class=\'tableActionButton tableActionButtonSmall elementAddButton\' value=\'+\' id=\'add_' + myguid + '\'></td><td><input id=\'delete_' + myguid + '\' class=\'tableActionButton tableActionButtonSmall elementDeleteButton\' type=\'button\' value=\'remove\'></td></tr>');
			}
			else {
				$('<tr data-id=\'' + myguid + '\' id=\'element_' + myguid + '\'><td></td><td></td><td></td><td><input type=\'checkbox\'></td><td><input type=\'checkbox\'></td><td><input style=\'width: 100%; box-sizing: border-box;\' type=\'text\'></td><td><input type=\'button\' class=\'tableActionButton tableActionButtonSmall elementAddButton\' value=\'+\' id=\'add_' + myguid + '\'></td><td><input id=\'delete_' + myguid + '\' class=\'tableActionButton tableActionButtonSmall elementDeleteButton\' type=\'button\' value=\'remove\'></td></tr>').insertAfter($(optionalElement)).closest('tr');
			}
		}

		function renderConditions(myconditions, myioctype, eventspace) {
			$.each( myconditions, function( ikey, ivalue ) {
				addCondition(ivalue['uuid'], myioctype);
				$.each( ivalue['tests'], function( key, value ) {
					myguid = ($('#ioctable tr:last').data('id'));
					myTokenInfo = value['token'].split("/");

					addElement(myguid);
					getGroups(eventspace, $('#ioctable').closest('table').find('tr:last td:first'), myguid, myTokenInfo[0], myTokenInfo[1], value['operator']);
					if (value['negate']) {
						$('#ioctable').closest('table').find('tr:last td:eq(3)').find('input').prop('checked', true);
					}
					if (value['preservecase']) {
						$('#ioctable').closest('table').find('tr:last td:eq(4)').find('input').prop('checked', true);
					}
					$('#ioctable').closest('table').find('tr:last td:eq(5)').find('input').val(value['value']);
					
				});
			});
		}

		function removeElements(startElement) {
			// Get the guid from the row
			currguid = ($(startElement).parent().parent().data('id'));

			// Delete the whole condition
			if ($(startElement).attr('id').startsWith('gdelete_')) {
				$('#ioctable tr[data-id="' + currguid + '"]').css('background-color', '#f49c89');
				$('#ioctable tr[data-id="' + currguid + '"]').fadeTo(200,0.1, function(){
					$(this).remove();
				})
			}

			// Last row in condition - need to remove the entire condition
			if ($('#ioctable tr[data-id="' + currguid + '"]').length == 2) {
				$('#ioctable tr[data-id="' + currguid + '"]').css('background-color', '#f49c89');
				$('#ioctable tr[data-id="' + currguid + '"]').fadeTo(200,0.1, function(){
					$(this).remove();
				})
			}
			// Just remove the row there are other rows left in the condition
			else {
				$(startElement).parent().parent().css('background-color', '#f49c89');
				$(startElement).parent().parent().fadeTo(200,0.1, function(){
					$(this).remove();
				})
			}
		}

		$(document).ready(function() {

			// Import event space
			{% if eventspace %}
				var eventspace = JSON.parse({{eventspace|tojson|safe}});
			{% endif %}

			// IF edit mode we will need to import all the conditions
			{% if ioccategory %}			
				var ioccategory = JSON.parse({{ioccategory|tojson|safe}});
				$('#cats').val(ioccategory).change();
			{% endif %}

			{% if platform %}
				var platform = JSON.parse({{platform|tojson|safe}});
				$('#indicator_platform').val(platform).change();
			{% endif %}

			{% if mypre %}
				var mypresence = JSON.parse({{mypre|tojson|safe}});
				renderConditions(mypresence, 'presence', eventspace);
			{% endif %}

			{% if myexec %}
				var myexecution = JSON.parse({{myexec|tojson|safe}});
				renderConditions(myexecution, 'execution', eventspace);
			{% endif %}

			// Adds new condition row
			$('#add_cond').click(function() {

				if (typeof $('#ioctable').find('tr').last().attr('id') !== 'undefined') {
					if ($('#ioctable').find('tr').last().attr('id').startsWith('condition_') ) {
						enableStatusBarLive("Add elements to your condition before adding a new condition", 200, "ht_statusbar_notifyRed");
					}
					else {
						// Last row is not a new condition
						myguid = guid();
						addCondition(myguid);
						addElement(myguid);
						getGroups(eventspace, $('#ioctable').closest('table').find('tr:last td:first'), myguid);
						// $("html, body").animate({ scrollTop: $(document).height() }, 1);
					}
				}
				else {
					// First row
					myguid = guid();
					addCondition(myguid);
					addElement(myguid);
					getGroups(eventspace, $('#ioctable').closest('table').find('tr:last td:first'), myguid);
				}

			});

			// + button clicked - need to add new element on the next row
			$('#ioctable').on('click', 'input.elementAddButton', function() {
				myguid = ($(this).parent().parent().data('id'));
				addElement(myguid, $(this).parent().parent());
				getGroups(eventspace, $(this).parent().parent().next().find('td:first'), myguid);
			});

			// Delete button clicked - remove the element
			$('#ioctable').on('click', 'input.elementDeleteButton', function() {
				removeElements($(this));
			});

			// Condition delete button clicked
			$('#ioctable').on('click', 'input.conditionDeleteButton', function() {
				removeElements($(this));
			});

			$('body').on('change','select',function(){

				// Get the guid from the row
				myguid = ($(this).parent().parent().data('id'));

				// Trigger on change in group selector and load new dropdown into column 2
				if ($(this).attr('id').startsWith('group_')) {
					getFields(eventspace, $(this).val(), $(this).closest("td").next(), myguid);
				}
				// Trigger on change in field selector and load new dropdown into column 3
				if ($(this).attr('id').startsWith('field_')) {
					getOperators($(this).find(':selected').data('type'), $(this).closest("td").next(), myguid);
				}
			});

			// User clicked the submit button
			$('#postbutton').click(function() {

				var data = {};

				data['name'] = $('#indicator_name').val();
				data['category'] = $('#cats').val();
				data['platform'] = $('#indicator_platform').val();

				// Need to add original name and category if we are in edit mode
				if ($('#myTitle').data('id') == "edit") {
					data['originalname'] = $('#myTitle').data('iocname');
					data['originalcategory'] = $('#myTitle').data('category');
					data['iocuri'] = $('#myTitle').data('iocuri');
				}

				var myioctype;

				$("#ioctable tr:gt(0)").each(function () {

					if ($(this).attr('id').startsWith('condition_')) {
						myioctype = $(this).find('td:eq(0)').find('select').val();
						currguid = $(this).data('id') + "_" + myioctype;
						data[currguid] = [];
					}

					if ($(this).attr('id').startsWith('element_')) {
						currguid = $(this).data('id') + "_" + myioctype;
						var mygroup = $(this).find('td:eq(0)').find('select').val();
						var myfield = $(this).find('td:eq(1)').find('select').val();
						var mytype = $(this).find('td:eq(1)').find('select').find(":selected").data('type');
						var myoper = $(this).find('td:eq(2)').find('select').val();

						if ($(this).find('td:eq(3)').find('input').is(':checked'))
							{ myneg = true; }
						else 
							{ myneg = false; }

						if ($(this).find('td:eq(4)').find('input').is(':checked'))
							{ mycase = true; }
						else 
							{ mycase = false; }

						var mydata = $(this).find('td:eq(5)').find('input').val();
						var mydict = {"group": mygroup, "field": myfield, "type": mytype, "operator": myoper, "negate": myneg, "case": mycase, "data": mydata};
						data[currguid].push(mydict);
					}

				});

				// Post a new indicator (new mode)				
				if ($('#myTitle').data('id') == "new") {
					if ($('#indicator_name').val() !== "") {
						$.ajax
						({
							type: "POST",
							url: '/rtioc?mode=new',
							dataType: 'json',
							contentType: 'application/json',
							data: JSON.stringify(data),
							success: function () {
								window.location.href = "/indicators";
							},
							error: function (xhr, status) {
								enableStatusBarLive("One or more conditions are invalid. Please resolve conditions and resubmit.", 200, "ht_statusbar_notifyRed");
							}
						})
					}
					else {
						enableStatusBarLive("Enter an indicator name!", 200, "ht_statusbar_notifyRed");
					}
				}
				// Post new indicator edit request (edit mode)
				else {
					if ($('#indicator_name').val() !== "") {
						$.ajax
						({
							type: "POST",
							url: '/rtioc?mode=edit',
							dataType: 'json',
							contentType: 'application/json',
							data: JSON.stringify(data),
							success: function () {
								window.location.href = "/indicators";
							},
							error: function (xhr, status) {
								enableStatusBarLive("One or more conditions are invalid. Please resolve conditions and resubmit.", 200, "ht_statusbar_notifyRed");
							}
						})
					}
					else {
						enableStatusBarLive("Enter an indicator name!", 200, "ht_statusbar_notifyRed");
					}
				}
			});
		});
	</script>

<form>
	{% if iocname %}
		<div id='myTitle' data-id='edit' data-category='{{myioccategory|safe}}' data-iocname='{{iocname|safe}}' data-iocuri='{{myiocuri|safe}}' class='tableTitle'>Edit Indicator - {{iocname|safe}}</div>
	{% else %}
		<div id='myTitle' data-id='new' class='tableTitle'>New Indicator</div>
	{% endif %}

	<div style='background: #eeeeee; border: 1px solid #dddddd; border-radius: 5px; padding: 20px; margin-bottom: 10px; float: left;'>
		<div class='inputTitle'>Indicator name</div>
		<input style='margin-bottom: 7px; width: 300px;' type='text' id='indicator_name' name='indicator_name' value='{% if iocname %}{{iocname|safe}}{% endif %}'>

		<div class='inputTitle'>Indicator Category</div>
		{% if categories %}{{categories|safe}}{% endif %}

		<div class='inputTitle'>Platform</div>
		<select id='indicator_platform'>
			<option value='win'>Microsoft Windows
			<option value='osx'>Apple MacOS
			<option value='all'>All
		</select>
	</div>

	<table id='ioctable' class='genericTable genericTableIOC' style='width: 100%;'>
		<thead>
			<th>Group</th>
			<th>Field</th>
			<th>Operator</th>
			<th>Negate</th>
			<th>Preserve Case</th>
			<th>Matching Value</th>
			<th>&nbsp;</th>
			<th>Delete</th>
		</thead>
		<tbody>
		</tbody>
	</table>

	<br>
	<input type='button' class='tableActionButton' id='add_cond' value='add condition'>
	<br><br>
	<input type='button' class='tableActionButton' id='postbutton' value='submit'>
</form>

{% endblock %}
