<select name='stime' id='stime' style='margin-top: -5px;' onchange="if (this.value) window.location.href=this.value">
	{% if iselect %} {{ iselect|safe }} {% endif %}
</select><br>

<br>
<div class='tableTitle'>Recent Alerts</div>
<table style='width: 100%; border-collapse: 0; border-spacing: 0;'>
	<tr>
		<td style='vertical-align: top; padding: 0;'>
			{% if alerts %} {{ alerts|safe }} {% endif %}
		</td>
		<td style='border-top: 2px solid rgb(215,215,215); border-bottom: 2px solid rgb(215,215,215); border-left: 2px solid rgb(215,215,215); width: 250px; padding: 0;'>
			<div id='dashAlertsGraph' style='width: 250px;'></div>
			<div id='dashAlertsGraphData' style='display: none;' data-donut='{% if iocstats %}{{iocstats|safe}}{% endif %}'></div>
			<div class='graphLabel'>Alert distribution</div>
		</td>
	</tr>
</table>
<table class='dashInfoTable'>
	<tr>
		<td><span class='dashInfoTableSpan'>{% if contcounter %} {{ contcounter|safe }} {% endif %}</span><br>Hosts contained</td>
		<td><span class='dashInfoTableSpan'>{% if hostcounter %} {{ hostcounter|safe }} {% endif %}</span><br>Hosts monitored</td>
		<td><span class='dashInfoTableSpan'>{% if exdcounter %} {{ exdcounter|safe }} {% endif %}</span><br>Hosts with XPLT alerts</td>
		<td><span class='dashInfoTableSpan'>{% if ioccounter %} {{ ioccounter|safe }} {% endif %}</span><br>Hosts with IOC alerts</td>
		<td><span class='dashInfoTableSpan'>{% if malcounter %} {{ malcounter|safe }} {% endif %}</span><br>Hosts with MAL alerts</td>
		<td><span class='dashInfoTableSpan'>{% if searchcounter %} {{ searchcounter|safe }} {% endif %}</span><br>Enterprise searches running</td>
		<td><span class='dashInfoTableSpan'>{% if blkcounter %} {{ blkcounter|safe }} {% endif %}</span><br>Bulk acquisitions running</td>
	</tr>
</table>

<div id='dashAlertsTimeline' style='height: 250px;' ></div>
<div id='dashAlertsTimelineData' style='display: none;' data-chart='{% if timeline %}{{timeline|safe}}{% endif %}'></div>
<div class='graphLabel' style='margin-top: 20px;'>Alert distribution over time</div>

