{% extends "layout.html" %}
{% block title %}HXTool - Jobs{% endblock %}
{% block navlocation %}Jobs{% endblock %}
{% block content %}

<div class='tableTitle'>
	Jobs on this controller
</div>

<table style='width: 100%;'>
	<tbody>
		<tr>
			<td class='jobDashTD' style='width: 50%; border-right: 1px solid rgb(215,215,215); border-bottom: 1px solid rgb(215,215,215);'>
				<div class='jobDashTitle'>File Acquisitions</div>
				{% if jobsFileaq %} {{ jobsFileaq|safe }} {% endif %}
			</td>
			<td class='jobDashTD' style='width: 50%; border-bottom: 1px solid rgb(215,215,215);'>
				<div class='jobDashTitle'>Triage Acquisitions</div>
				{% if jobsTriage %} {{ jobsTriage|safe }} {% endif %}
			</td>
		</tr>
		<tr>
			<td class='jobDashTD' style='width: 50%; border-right: 1px solid rgb(215,215,215); border-bottom: 1px solid rgb(215,215,215);'>
				<div class='jobDashTitle'>Data Acquisitions</div>
				{% if jobsAcq %} {{ jobsAcq|safe }} {% endif %}
			</td>
			<td class='jobDashTD' style='width: 50%; border-bottom: 1px solid rgb(215,215,215);'>
				<div class='jobDashTitle'>Bulk Acquisitions</div>
				{% if jobsBulk %} {{ jobsBulk|safe }} {% endif %}
			</td>
		</tr>
		<tr>
			<td class='jobDashTD' style='width: 50%; border-right: 1px solid rgb(215,215,215);'>
				<div class='jobDashTitle'>Enterprise Searches</div>
				{% if jobsEs %} {{ jobsEs|safe }} {% endif %}
			</td>
			<td class='jobDashTD' style='width: 50%;'>
				<div class='jobDashTitle'>Stacking jobs</div>
				{% if jobsStack %} {{ jobsStack|safe }} {% endif %}
			</td>
		</tr>		
	</tbody>
</table>

{% endblock %}
