<html>
<head>
	<title>Please Authenticate</title>
	<link rel="stylesheet" type="text/css" href="static/ht.css">
</head>
<body style='background-image: url(static/bg.jpg)'>
	<div class='ht_auth_center'>
		<div class='ht_auth_wrap'>
			<div class='ht_auth_title'><img src='/static/tool-box.svg' style='width: 140px;'></div>
			<div class='ht_auth_placeholder'>
				<form method='post'>
					<div style='font-size: 28px; font-weight: bold; margin-bottom: 20px; text-align: center;'>hxTool Login</div>
					{% if fail %}
						<div style='font-size: 10px; text-align: center; color: red; font-weight: bold; margin-bottom: 10px;'>
						{{ fail }}
						</div>
					{% endif %}
					<div class='ht_input_title'>Username</div>
					<input style='width: 300px; border: 1px solid #aaaaaa; border-radius: 5px; font-size: 18px; outline: none;' type='text' name='ht_user' id='ht_user'>
					<br><br>
					<div class='ht_input_title'>Password</div>
					<input style='width: 300px; border: 1px solid #aaaaaa; border-radius: 5px; font-size: 18px; outline: none;' type='password' name='ht_pass' id='ht_pass'>
					<br><br>
					<select style='width: 300px; border: 1px solid #aaaaaa; border-radius: 5px; font-size: 18px; outline: none;' name='ht_ip' id='ht_ip'>
						<option value='192.168.7.202'>HX 3.1 VM - 192.168.7.202
						<option value='192.168.7.200'>HX 3.0 VM - 192.168.7.200
					</select>
					<br><br>
					
					<input style='width: 300px; height: 50px;' type='submit' value='Login'>
					<div style='font-size: 12px; text-align: center; margin-top: 20px;'>Use HX API Credentials to login</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
