<html>
<head>
	<title>HXTool - Please Authenticate</title>
	<link rel="stylesheet" type="text/css" href="static/ht.css">
	<script type="text/javascript" src="/static/jquery-1.11.3.min.js"></script>
</head>

<script>
	$(document).ready(function() {
		$('#addController').click(function(){ 
			$('#shader').show();
			$('#profilePopup').show();
		});

		$('#controllerCancel').click(function(){
			$('#profilePopup').hide();
			$('#shader').hide();
		});
	});
</script>

<body style='background: #eeeeee;'>
	<div class='ht_auth_center'>
		<div class='ht_auth_wrap'>
			<div class='ht_auth_placeholder'>
				<form method='post'>
				
					<div class='ht_auth_title'><img src='/static/fireeye.svg' style='width: 200px;'></div>
					
					<div class='tableTitle' style='font-size: 28px; margin-bottom: 18px; text-align: center;'>HXTool&trade; v2.0</div>
					{% if fail %}
						<div class='tableTitle' style='font-size: 10px; text-align: center; color: red; margin-bottom: 10px;'>
						{{ fail }}
						</div>
					{% endif %}
					<div class='ht_input_title' style='font-weight: bold; font-size: 12px;'>USERNAME</div>
					<input style='width: 100%; border: 1px solid #aaaaaa; border-radius: 3px; font-size: 18px; outline: none;' type='text' name='ht_user' id='ht_user'>
					<br><br>
					<div class='ht_input_title' style='font-weight: bold; font-size: 12px;'>PASSWORD</div>
					<input style='width: 100%; border: 1px solid #aaaaaa; border-radius: 3px; font-size: 18px; outline: none;' type='password' name='ht_pass' id='ht_pass'>
					<br><br>
					<div class='ht_input_title' style='font-weight: bold; font-size: 12px;'>CONTROLLER PROFILE</div>
					<select style='width: 100%; border: 1px solid #aaaaaa; border-radius: 3px; font-size: 18px; outline: none;' name='ht_ip' id='ht_ip'>
						{% if controllers %} {{ controllers|safe }} {% endif %}
					</select>
					<br>
					<div style='padding-top: 10px;'>
						<a id='addController' class='tableActionButton' href='#'>Add new controller</a>
					</div>
					<br><br>
					
					<input style='width: 100%; height: 50px;' type='submit' value='Login'>
					<div style='font-size: 12px; text-align: center; margin-top: 20px;'>Use HX API Credentials to login<br><br>Copyright &copy; 2017 by FireEye, Inc. All rights reserved</div>
				</form>
			</div>
		</div>
	</div>
<div class='shader' id='shader' style='display: none;'>&nbsp;</div>
<div class='profilePopup' id='profilePopup' style='display: none;'>
	<form method='post' style='font-size: 14px; font-weight: bold;'>
		<div class='tableTitle' style='border-bottom: 1px solid rgb(215,215,215); margin-bottom: 15px;'>Add new login profile</div>
		Controller name<br>
		<input type='text' name='cname' id='cname' style='width: 500px; border: 1px solid rgb(215,215,215); border-radius: 5px; font-size: 18px;'><br>
		<br>
		Controller hostname<br>
		<input type='text' name='chostname' id='chostname' style='width: 500px; border: 1px solid rgb(215,215,215); border-radius: 5px; font-size: 18px;'><br>
		<br>
		
		<input type='submit' value='Create profile'>
		<input type='button' value='Cancel' id='controllerCancel'>
	</form>
</div>
</body>
</html>
