{% extends "layout.html" %}
{% block title %}HXTool - Multi-File Acquisitions{% endblock %}
{% block navlocation %}Multi-File Acquisitions{% endblock %}
{% block content %}

<style>
.dataTables_length {
	padding-bottom: 10;
}
.dataTables_info {
	padding-top: 10;
}
.dataTables_paginate {
	padding-bottom: 50;
}
#two-pane-page {
	margin-left: 400px;
}
#floating-pane-left {
	width: 400px;
	margin-left: -400px;
	float: left;
}
#floating-pane-right {
	float: right;
	width: 100%;
}
#clearing-div {
	clear:both;
}
#file-listing-form-div {
	margin-right: 20px;
	margin-bottom: 20px;
}

td.file-rows-control{
	background: url("static/img/datatables/details_open.png") no-repeat center center;
}
td.file-rows-control:hover{
	cursor: pointer;
}
tr.shown td.file-rows-control {
	background: url("static/img/datatables/details_close.png") no-repeat center center;
}

table.nested_table th {
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

table.nested_table tr.even {
	background-color: transparent;
}

table.nested_table tr.odd {
	background-color: transparent;
}

table.nested_table tr:hover {
	background-color: transparent;
}
</style>

<script>
	$(document).ready(function() {
		var ftable = $('#fileListingTable').DataTable({
			"info": false,
			"pageLength": 10,
			"lengthChange": false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right far fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right far fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right far fa-file-excel'></i>" }
			],
			"ajax": "/api/v1/datatable_multi_filelisting",
			"columns": [
				{ "data": "id" },
				{ "data": "state" },
				{ "data": "display_name" },
				{ "data": "file_count" },
				{ "data": "username" },
				{ "data": "update_timestamp" },
				{ "data": "progress" },
				{ "data": "DT_RowId" }
			],
			"order": [[1, 'desc']],
			"initComplete": function(settings, json) {
		
				$("div[id^='file_listing_prog_']").each(function() {
					$(this).progress()
				});
			},
			"columnDefs": [	
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 2, 3, 4, 5, 6, 7]},
				{
				 "targets": 7,
				 render: function ( data, type, row, meta ) {
				 	r = "";
				 	r += "<button style='margin-right: 6px;' class='flistAction fe-btn fe-btn--sm fe-btn--hxtool-main' data-type='view' data-id='" + row.DT_RowId + "'>view<i class='fe-icon--right far fa-eye'></i></button>";
				 	r += "<button style='margin-right: 6px;' class='flistAction fe-btn fe-btn--sm fe-btn--hxtool-main' data-type='stop' data-id='" + row.DT_RowId + "'>stop<i class='fe-icon--right far fa-ban'></i></button>";
				 	r += "<button style='margin-right: 6px;' class='flistAction fe-btn fe-btn--sm fe-btn--hxtool-main-remove' data-type='remove' data-id='" + row.DT_RowId + "'>remove<i class='fe-icon--right far fa-trash'></i></button>";
				 	return (r);
				 }
				}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");
		// Formatting function for File Acquisition nested table
		function format_file_rows ( d ) {
			// `d` is the original data object for the row
			var file_table = '<table class="hxtool_table" cellpadding="5" cellspacing="0" border="0" style="width:100%; text-align:left; font-size: 12px"">'+
				'<thead><tr>'+
					'<th>Hostname</th>'+
					'<th>FullPath</th>'+
					'<th></th>'+
				'</tr></thead>';
			for(i = 0; i < d.files.length; i++) {
				var row_class = (i%2) == 0 ? 'even' : 'odd';
				file_table += '<tr class="'+row_class+'">'+
					'<td style="width:150px;">'+d.files[i].hostname+'</td>'+
					'<td>'+d.files[i].path+'</td>';
				if(d.files[i].downloaded) {
					file_table +='<td style="width:132px";><button style="margin-right: 6px;"" class="mDownload fe-btn fe-btn--sm fe-btn--hxtool-main" data-url="/download_file?mf_id=' + d.id + "&acq_id=" + d.files[i]['acquisition_id'] + '">download<i class="fe-icon--right far fa-download"></i></button></td>';
				}
				else {
					file_table +='<td style="width:132px";><button style="margin-right: 6px;"" class="fe-btn fe-btn--sm fe-btn--hxtool-main">waiting<i class="fe-icon--right far fa-clock"></i></button></td>';
				}
				file_table += '</tr>';
			}
			return file_table + '</table>';
		}
		mtable = $('#fileAcquisitionTable').DataTable( {
			"info": false,
			"pageLength": 10,
			"lengthChange": false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right far fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right far fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right far fa-file-excel'></i>" }
			],
			"ajax": "/api/v1/datatable_multi_multifile",
			"columns": [
				{
					"className": 'file-rows-control',
					"orderable": false,
					"data": null,
					"defaultContent": ''
				},
				{ "data": "id" },
				{ "data": "state" },
				{ "data": "display_name" },
				{ "data": "mode" },
				{ "data": "file_listing_id" },
				{ "data": "username" },
				{ "data": "create_timestamp" },
				{ "data": "progress" },
				{ "data": "DT_RowId" }
			],
			"order": [[1, 'desc']],
			"initComplete": function(settings, json) {
		
				$("div[id^='multi_file_prog_']").each(function() {
					$(this).progress()
				});
			},
			"columnDefs": [	
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]},
				{
				 "targets": 9,
				 render: function ( data, type, row, meta ) {
				 	r = "";
				 	r += "<button style='margin-right: 6px;' class='mAction fe-btn fe-btn--sm fe-btn--hxtool-main' data-type='stop' data-id='" + row.DT_RowId + "'>stop<i class='fe-icon--right far fa-ban'></i></button>";
				 	r += "<button style='margin-right: 6px;' class='mAction fe-btn fe-btn--sm fe-btn--hxtool-main-remove' data-type='remove' data-id='" + row.DT_RowId + "'>remove<i class='fe-icon--right far fa-trash'></i></button>";
				 	return (r);
				 }
				}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

		$("#fileListingTable").on("click", ".flistAction", function() {
			if ($(this).data("type") == "stop") {
				hxtool_ajax_get_request("/api/v1/acquisition/multi/file_listing/stop", "id=" + $(this).data("id"), function() {
					ftable.ajax.reload(function() {
						$("div[id^='file_listing_prog_']").each(function() {
							$(this).progress()
						});
					});
				});
			}
			if ($(this).data("type") == "view") {
				location.href = "/file_listing?id=" + $(this).data("id");
			}
			if ($(this).data("type") == "remove") {
				myrow = $(this).closest("tr");
				hxtool_ajax_get_request("/api/v1/acquisition/multi/file_listing/remove", "id=" + $(this).data("id"), function() {
					myrow.fadeOut(200, function() {
						ftable.row(myrow).remove().draw();
					});
				});
			}
		});

		$("#fileAcquisitionTable").on("click", ".mDownload", function() {
			location.href = $(this).data("url");
		});

		$("#fileAcquisitionTable").on("click", ".mAction", function() {
			if ($(this).data("type") == "stop") {
				$(this).find("i").addClass("fa-spin");
				hxtool_ajax_get_request("/api/v1/acquisition/multi/mf/stop", "id=" + $(this).data("id"), function() {
					setTimeout(function(){ 
						mtable.ajax.reload(function() {
							$(this).find("i").removeClass("fa-spin");
							$("div[id^='multi_file_prog_']").each(function() {
								$(this).progress()
							});
						});
					 }, 3000);
				});
			}
			if ($(this).data("type") == "remove") {
				myrow = $(this).closest("tr");
				hxtool_ajax_get_request("/api/v1/acquisition/multi/mf/remove", "id=" + $(this).data("id"), function() {
					myrow.fadeOut(200, function() {
						mtable.row(myrow).remove().draw();
					});
				});
			}
		});

		// Show/Hide File Acquisition nested table
		$('#fileAcquisitionTable tbody').on('click', 'td.file-rows-control', function () {
			var tr = $(this).closest('tr');
			var row = mtable.row( tr );
	 
			if ( row.child.isShown() ) {
				// This row is already open - close it
				row.child.hide(200);
				tr.removeClass('shown');
			}
			else {
				// Open this row
				row.child( format_file_rows(row.data()) ).show(200);
				tr.addClass('shown');
			}
		});

		$("#flistSubmit").click(function() {
			$("#flistPopup").hide();

			var fdata = new FormData();
			fdata.append("listing_name", $("#listing_name").val());
			fdata.append("listing_path", $("#listing_path").val());
			fdata.append("listing_regex", $("#listing_regex").val());
			fdata.append("hostset", $("#hostset").data("id"));
			if ($('#use_raw_mode').is(':checked')) {
				fdata.append("use_raw_mode", true);	
			}

			hxtool_ajax_post_request("/api/v1/acquisition/multi/file_listing/new", fdata, function() {
				ftable.ajax.reload(function() {
					$("div[id^='file_listing_prog_']").each(function() {
						$(this).progress();
					});
				});

			});
		});

		$("#createFileListing").click(function() {

			hxtool_ajax_get_request("/api/v1/hostsets/list", "", function(setResponse) {
				myResponse = JSON.parse(setResponse['api_response']);
				myhostentries = [];
				$.each(myResponse['data']['entries'], function( index, value ) {
					myhostentries.push({
						"elementText": value['name'],
						"elementId": value['_id'],
						"elementIcon": "fa-check"
					});
				});

				$("#hostsetContainer").append(generateDropDown(myhostentries[0]['elementText'], "hostset", myhostentries[0]['elementId'], entries=myhostentries, "", ""));
				$("#flistPopup").show();
			});
		});

		$("#flistCancel").click(function() {
			$("#flistPopup").hide();
		});


	});
</script>

{{ htPanelNoHeader.widgetHeader(panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main-master" id="createFileListing"> New file listing <i style='color: #11a962;' class="fe-icon--right fas fa-search-plus"></i></button>
{{ htPanelNoHeader.widgetFooter() }}

{{ htModal.widgetHeader("Multi-file Listing Acquisition Request", modalId="flistPopup", modalSize="medium") }}
	{{ htInput.widget("my new listing", elementTitle="Name", elementHint="", elementId="listing_name", elementWidth="100%;") }}
	{{ htInput.widget("c:\\temp", elementTitle="File Listing Path", elementHint="", elementId="listing_path", elementWidth="100%;") }}
	{{ htInput.widget("regular expression", elementTitle="File Listing Regex", elementHint="", elementId="listing_regex", elementWidth="100%;") }}

	<h4 class='hxtool_typography_h3'>Hostset</h4>
	<div id='hostsetContainer'></div>

	<br/>

	<input type='checkBox' id='use_raw_mode' name='use_raw_mode'/>
	<label for='use_raw_mode'>Use Raw Mode?</label><br/>

	<h5>Request a file listing by providing a file path, regex, and a set of hosts to acquire from. Once acquired, you will be able to selectively acquire files from the hosts.</h5>

	<h5>Default is API mode. Raw mode should not be used when disk encryption is enabled on endpoint.</h5>

	<h5><b>Note</b>: The download feature is only available once you have set the background processing credentials on the settings page.</h5>

{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="flistCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="flistSubmit" aria-label="Submit"><span> Submit </span></button>
{{ htModal.widgetFooter() }}

{{ htPanel.widgetHeader("File listing acquisitions", panelId="flistAcqTableContainer", panelIcon="fa-table") }}
	<table id='fileListingTable' class='hxtool_table' style='width: 100%;'>
		<thead><tr>
			<th>id</th>
			<th>state</th>
			<th>Name</th>
			<th>#</th>
			<th>User</th>
			<th>Updated</th>
			<th style='width: 160px;'>Progress</th>
			<th style='width: 260px;'>Actions</th>
		</tr></thead>
	</table>
{{ htPanel.widgetFooter() }}
<br>
{{ htPanel.widgetHeader("Multi-file acquisitions", panelId="mAcqTableContainer", panelIcon="fa-table") }}
	<table id='fileAcquisitionTable' class='hxtool_table' style='width: 100%;'>
		<thead><tr>
			<th></th>
			<th>ID</th>
			<th>state</th>
			<th>Name</th>
			<th>Mode</th>
			<th>ListingID</th>
			<th>User</th>
			<th>Created</th>
			<th style='width: 160px;'>Progress</th>
			<th style='width: 260px;'>Actions</th>
		</tr></thead>
	</table>
{{ htPanel.widgetFooter() }}
{% endblock %}
