{% extends "layout.html" %}
{% block title %}HXTool - OpenIOC{% endblock %}
{% block content %}

<script>

	$(document).ready(function() {

		$(document).on('click', '.ioc_view', function() {
			hxtool_ajax_get_request("/api/v1/openioc/view", "id=" + $(this).closest("tr").attr("id"), function(mydata) {
				myIocObject = JSON.parse(mydata['api_response']);
				// Why???!?
				myIocObject = JSON.parse(myIocObject);
				$("#iocViewTextArea").val(atob(myIocObject['ioc']));
				$("#iocView").find(".fe-modal__title").html(myIocObject['iocname']);
				$("#iocView").show();
			});
		});

		$(document).on('click', '.iocViewDismiss', function() {
			$("#iocViewTextArea").val("");
			$("#iocView").hide();
		});

		var iocTable = $('#iocTable').DataTable( {
			"ajax": {
				"url": "/api/v1/datatable_openioc",
				"dataSrc": ""
			},
			"rowId": 'ioc_id',
			"paging":   false,
			"info":     false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn" },
				{ extend: "csv", className: "fe-btn" },
				{ extend: "excel", className: "fe-btn" }
			],
			"columns": [
				{ "data": "iocname", title: "Name" },
				{ "data": "username", title: "Created By" },
				{ "data": "create_timestamp", title: "Created" },
				{ "data": "update_timestamp", title: "Modified" },
				{ "data": "ioc_id", title: "Action" }
			],
			"columnDefs": [	
				{
				 targets: 4,
				 "width": "300px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		data = '<button style="margin-right: 6px;" class="ioc_view fe-btn fe-btn--sm fe-btn--primary"> view <i class="fe-icon--right far fa-eye"></i></button>'
				 		data += '<button style="margin-right: 6px;" data-id="' + row.ioc_id + '" class="ioc_download fe-btn fe-btn--sm fe-btn--primary"> download <i class="fe-icon--right fas fa-download"></i></button>'
				 		data += '<button data-id="' + row.ioc_id + '" class="ioc_remove fe-btn fe-btn--sm fe-btn--primary"> remove <i class="fe-icon--right fas fa-trash"></i></button>'
				 	}
				 	return data;
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [1, 2, 3, 4]}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

		$("#openiocNew").click(function(){
			$("#openiocNewPopup").show();
		});

		$(".newIocCancel").click(function(){
			$("#openiocNewPopup").hide();
		});

		$("#iocTable").on('click', '.ioc_download', function() {
			location.href = "/api/v1/openioc/download?id=" + $(this).data("id")

		});

		$("#iocTable").on('click', '.ioc_remove', function() {
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/openioc/remove", "id=" + $(this).data("id"), function() {
				myrow.fadeOut(200, function() {
					iocTable.row(myrow).remove().draw();
				});
			});
		});


		$("#newIoc").click(function(){

			var data = new FormData();
			$.each($('#ioc').prop('files'), function(key, value) {
				data.append("myioc", value);
			});

			data.append("iocname", $("#iocname").val());

			hxtool_ajax_post_request("/api/v1/openioc/upload", data, function(data) {
				iocTable.ajax.reload();
				$("#openiocNewPopup").hide();
			});

		});


	});

</script>

<!-- ACTIONS -->
{{ htPanelNoHeader.widgetHeader(panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--primary fe-btn--hxtool-main" id="openiocNew"> upload <i style='color: #11a962;' class="fe-icon--right fas fa-search-plus"></i></button>
{{ htPanelNoHeader.widgetFooter() }}

<!-- INPUT FIELD -->
{{ htModal.widgetHeader("Upload new OpenIOC indicator", modalId="openiocNewPopup", modalSize="medium") }}
	<h3 class='hxtool_typography_h3'>OpenIOC name</h3>
	<input type="text" name="iocname" id="iocname" value="" class="fe-input" placeholder="enter a name" />
	<span class="fe-input-hint-text">Enter a name for your uploaded OpenIOC indicator</span>

	<h3 class='hxtool_typography_h3'>OpenIOC file</h3>
	<input class="fe-input" type='file' id='ioc' name='ioc'>
	<span class="fe-input-hint-text">An OpenIOC 1.1 file is an indicator which can be used by Enterprise search as the source of your conditions</span>

{{ htModal.widgetMiddle() }}
	<button class="newIocCancel fe-btn fe-btn--md fe-btn--secondary" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="newIoc" aria-label="Click"><span> Submit </span></button>
{{ htModal.widgetFooter() }}

<!-- MAIN TABLE -->
{{ htPanel.widgetHeader("Stored OpenIOC indicators", panelIcon="fa-table") }}
	<table id='iocTable' class='hxtool_table' style='width: 100%;'></table>
{{ htPanel.widgetFooter() }}

<!-- IOC VIEW -->
{{ htModal.widgetHeader("OpenIOC", modalId="iocView", modalSize="medium") }}
	<textarea id='iocViewTextArea' style='height: 400px;' class='fe-input'></textarea>
{{ htModal.widgetMiddle() }}
	<button class="iocViewDismiss fe-btn fe-btn--md fe-btn--secondary" aria-label="Cancel"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

{% endblock %}