{% extends "layout.html" %}
{% block title %}HXTool - Reports{% endblock %}
{% block navlocation %}Reports{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		$('#report1csv').click(function(){
			var reportFrom = $('#reportFrom').val();
			var reportTo = $('#reportTo').val();
			location.href="/reportgen?startDate="+reportFrom+"&stopDate="+reportTo+"&id=1&type=csv";
		});
		$('#report2csv').click(function(){
			var reportFrom = $('#reportFrom').val();
			var reportTo = $('#reportTo').val();
			location.href="/reportgen?startDate="+reportFrom+"&stopDate="+reportTo+"&id=2&type=csv";
		});
	});
</script>


<form>

<div class='inputArea'>
	<div class='tableTitle'>
		Report period
	</div>
	<input type='text' id='reportFrom' value='2017-01-01'>
	&nbsp
	<input type='text' id='reportTo' value='2017-02-22'>
</div>
<br>

<div class='tableTitle'>
	Generate a report
</div>

<table class='genericTable'>
	<thead>
		<tr>
			<td>Name</th>
			<td>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>All alerts for time period</td>
			<td><input id='report1csv' type='button' value='Generate CSV'></td>
		</tr>
		<tr>
			<td>All acquisitions for time period</td>
			<td><input id='report2csv' type='button' value='Generate CSV'></td>
		</tr>		
	</tbody>
</table>



</form>

{% endblock %}
