{% extends "layout.html" %}
{% block title %}HXTool - Settings{% endblock %}
{% block navlocation %}Settings{% endblock %}
{% block content %}

{{ htPanel.widgetHeader("Background processing", panelIcon="fa-table") }}
	<div style='font-style: italic; margin-bottom: 15px; margin-top: 8px;'>Enter HX API credentials to use for background processing. This feature is used to post-process acquisitions as they come in (when you are not logged into HXTool). PLEASE NOTE: These credentials are stored in the database encrypted with a key based on the password that you logged in with. If you change your password, you will need to unset and reset these credentials.</div>
	{% if bgcreds %} {{ bgcreds|safe }} {% endif %}
	</div>
{{ htPanel.widgetFooter() }}

{% endblock %}
