{% extends "layout.html" %}
{% block title %}HXTool - Stacking analysis{% endblock %}
{% block navlocation %}Stacking analysis{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {

		$("#backButton").click(function(){
			location.href = "/stacking";
		});

		$("#endpointViewDismiss").click(function(){
			$("#endpointViewPopup").hide();
		});

		$("#stackResultsTable").on("click", ".showendpoints", function() {
			$("#endpointViewPopup").find(".fe-modal__body").html("");
			$("#endpointViewPopup").find(".fe-modal__body").html($(this).next("div").html());
			$("#endpointViewPopup").show();
		});

		myid = getQueryParam('id');
		$.ajax({
				type: "GET",
				url: "/api/v1/stacking/" + myid + "/results",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function(r) {
					var columns = [];
					// Dynamically create table column headers.
					$.each(r[0], function(k, v) {
						c = {'name' : k, 'title' : k, 'data' : k};
						if ($.isArray(v) && v.length > 1) {
							c['render'] = function(data, type, row, meta) {
											if (type == 'display' && data.length > 1) {
												myr = "";
												myr += "<button class='showendpoints fe-btn fe-btn--sm fe-btn--hxtool-main'>multiple</button>";
												myr += "<div style='display: none;'>";
												myr += data.join('<br />');
												myr += "</div>";
												return(myr);
											} else {
												return data
											}
										}
						}
						columns.push(c);
					});
					
					$('#stackResultsTable').DataTable({
						"columns": columns,
						"data": r, 
						"paging":   false,
						"info":     false,
						"searching": true,
						"processing": false,
						"order": [columns.length - 1, "asc"],
						"colReorder": true,
						"dom": '<"hxtool_datatables_buttons"B>frtip',
						"buttons": [
							{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right far fa-copy'></i>" },
							{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right far fa-file'></i>" },
							{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right far fa-file-excel'></i>" }
						]
					});
					$('div.dataTables_filter input').addClass("fe-input");
				},
				error: function(xhr) {
					alert("Error: " + xhr.responseJSON);
				}
		});
		
	});
</script>

{{ htPanelNoHeader.widgetHeader(panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--hxtool-main-master" id="backButton"> back <i style='color: #11a962;' class="fe-icon--right fas fa-arrow-left"></i></button>
{{ htPanelNoHeader.widgetFooter() }}

{{ htPanel.widgetHeader("Stacking results", panelId="iocTableContainer", panelIcon="fa-table", elementAdditionalBodyClass="hxtool_panel_stackinganalyze") }}
	<table id='stackResultsTable' class='hxtool_table' style='width: 100%;'></table>
{{ htPanel.widgetFooter() }}

{{ htModal.widgetHeader("Matching endpoints", modalId="endpointViewPopup", modalSize="medium") }}
{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="endpointViewDismiss" aria-label="Dismiss"><span> Dismiss </span></button>
{{ htModal.widgetFooter() }}

{% endblock %}