{% extends "layout.html" %}
{% block title %}HXTool - Enterprise Search{% endblock %}
{% block navlocation %}Enterprise Search{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		var table = $('#searchTable').DataTable( {
			"info": false,
			"pageLength": 15,
			"lengthChange": false
		});

		$(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});

		$("div[id^='crate_']").each(function() {
			$(this).progress()
		});
		
	});
</script>

<form method='POST' action='/search' enctype="multipart/form-data">
	<div class='tableTitle'>
		Search based on an OpenIOC file
	</div>
	<div class='inputArea' style='width: 600px;'>
		<input type='file' id='newioc' name='newioc'>
		Host set: 
		<select name='sweephostset' id='sweephostset'>
			{% if hostsets %} {{ hostsets|safe }} {% endif %}
		</select>
		<div style='font-style: italic; margin-bottom: 15px; margin-top: 8px;'>Please note that the OpenIOC indicator must be in OpenIOC 1.1 format and use UTF-8 encoding</div>
		<input class='tableActionButton' type='submit' value='Start Enterprise Search'>
	</div>
</form>

<br>

<div class='tableTitle'>
	Searches on the controller
</div>
{% if searches %} {{ searches|safe }} {% endif %}
{% endblock %}
