{% extends "layout.html" %}
{% block title %}HXTool - Enterprise Search{% endblock %}
{% block navlocation %}Enterprise Search - Drilldown{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		$('#resultsTable').DataTable( {
                        "info": false,
                        "pageLength": 20,
                        "lengthChange": false
		});
	});

</script>

<br>

<div class='tableTitle'>
        Search results
</div>

{% if result %} {{ result|safe }} {% endif %}
{% endblock %}
