{% extends "layout.html" %}
{% block title %}HXTool - Settings{% endblock %}
{% block navlocation %}Settings{% endblock %}
{% block content %}

<script>

	$(document).ready(function() {

		$("#unset").click(function() {
			location.href = "/settings?unset=1";
		});

	});

</script>

{{ htPanel.widgetHeader("Background processing", panelIcon="fa-table") }}
	<div style='font-size: 12px; margin-bottom: 15px; margin-top: 8px;'>Enter HX API credentials to use for background processing. This feature is used to post-process acquisitions as they come in (when you are not logged into HXTool). PLEASE NOTE: These credentials are stored in the database encrypted with a static key.</div>
	{% if bgcreds %} {{ bgcreds|safe }} {% endif %}
	</div>
{{ htPanel.widgetFooter() }}

{% endblock %}
