{% extends "layout.html" %}
{% block title %}HXTool - Scheduler{% endblock %}
{% block navlocation %}Scheduler{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {

		$.getJSON('/api/v1/scheduler_health', function(myhealth) {
			if (myhealth == true) {
				$("#schedulerHealth").html("<i class='fas fa-check-circle fa-1x fa-fw' style='color: green; margin-right: 2px;' aria-hidden='true'></i> Running");
			}
			else {
				$("#schedulerHealth").html("<i class='fas fa-times-circle fa-1x fa-fw' style='color: red; margin-right: 2px;' aria-hidden='true'></i> Not running");
			}
		});

		var scheduler_tasks = $('#tableContainer').DataTable( {
			"ajax": "/api/v1/scheduler_tasks",
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": false,
			"columns": [
				{ title: "profile", "data": "profile" },
				{ title: "child states", "data": "child_states" },
				{ title: "name", "data": "name" },
				{ title: "enabled", "data": "enabled" },
				{ title: "last_run", "data": "last_run" },
				{ title: "next_run", "data": "next_run" },
				{ title: "immutable", "data": "immutable" },
				{ title: "state", "data": "state" },
				{ title: "action", "data": "action" }
			],
			"columnDefs": [	
				{ "className": "dt-center", "targets": [0, 1, 2, 3, 4, 5, 6, 7] },
				{
				"targets": [ 3, 6 ], 
				render: function ( data, type, row, meta ) {
					if (data == true) {
						data = "<i class='fas fa-check fa-1x fa-fw' style='color: green; margin-right: 2px;' aria-hidden='true'></i> Yes";
					}
					else if (data == false) {
						data = "<i class='fas fa-ban fa-1x fa-fw' style='color: red; margin-right: 2px;' aria-hidden='true'></i> No";
					}
					return data;
					}
				},
				{
				"targets": [ 1 ], 
				render: function ( data, type, row, meta ) {
					mychildren = "";

					var obj = JSON.parse(data);

					$.each(obj, function(key, value) {
						mychildren += "<b>" + key + ":</b> " + value + "<br>"
					});

					return mychildren;
					}
				},
				{
				"targets": [ 8 ], 
				render: function ( data, type, row, meta ) {
					myhtml = "";
					if (row.immutable == false) {
						myhtml = "<a class='tableActionButton' href='/scheduler?action=delete&id=" + data + "'>delete</a>";
					}
					return myhtml;
					}
				},
			]
		});

		setInterval( function () {
			scheduler_tasks.ajax.reload();
		}, 5000 );

	});

</script>

<br>

<div style='float: left; margin-right: 10px;'>Scheduler status:</div>
<div style='float: left;' id='schedulerHealth'></div>
<div style='clear: both; margin-bottom: 15px;'></div>

<table id='tableContainer' class='genericTable'></table>

{% endblock %}
