{% extends "layout.html" %}
{% block title %}HXTool - Enterprise Search{% endblock %}
{% block navlocation %}Enterprise Search{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		var table = $('#searchTable').DataTable( {
			"info": false,
			"pageLength": 15,
			"lengthChange": false
		});

		$(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});

		$("div[id^='crate_']").each(function() {
			$(this).progress()
		});
		
		$("#checkboxStore").click(function() {
			$("#checkboxStore").prop('checked', true);
			$("#divStore").css("background", "rgb(225,225,225)");
			$("#divFile").css("background", "rgb(242,242,242)");
			$("#checkboxFile").prop('checked', false);
		});

		$("#checkboxFile").click(function() {
			$("#checkboxFile").prop('checked', true);
			$("#divFile").css("background", "rgb(225,225,225)");
			$("#divStore").css("background", "rgb(242,242,242)");		
			$("#checkboxStore").prop('checked', false);
		});


	});
</script>

<form method='POST' action='/search' enctype="multipart/form-data">
	<div class='tableTitle'>
		Search based on OpenIOC
	</div>
	<div class='inputArea' style='width: 600px;'>

		<div id='divStore' style='width: 250px; float: left; padding: 10px; margin-right: 15px; vertical-align: top; border: 1px solid rgb(215,215,215); border-radius: 5px; background: rgb(225,225,225);'>
			<input type='checkbox' name='store' id='checkboxStore' checked>
			<b>From HXTool</b><br><br>
			{% if openiocs %} {{ openiocs|safe }} {% endif %}
		</div>
		<div id='divFile' style='width: 250px; float: left; padding: 10px; vertical-align: top; border: 1px solid rgb(215,215,215); border-radius: 5px;'>
			<input type='checkbox' name='file' id='checkboxFile'>
			<b>From file</b><br><br>
			<input type='file' id='newioc' name='newioc'>
		</div>
		<div style='clear: both;'></div>

		<br>
		<b>Hostset</b><br>
		<select name='sweephostset' id='sweephostset'>
			{% if hostsets %} {{ hostsets|safe }} {% endif %}
		</select>

		<div style='font-style: italic; margin-bottom: 15px; margin-top: 8px;'>Please note that the OpenIOC indicator must be in OpenIOC 1.1 format and use UTF-8 encoding without BOM.</div>
		<input class='tableActionButton' type='submit' value='Start Enterprise Search'>
	</div>
</form>

<br>

<div class='tableTitle'>
	Searches on the controller
</div>
{% if searches %} {{ searches|safe }} {% endif %}
{% endblock %}
