{% extends "layout.html" %}
{% block title %}HXTool - Scheduler{% endblock %}
{% block navlocation %}Scheduler{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {

		$.getJSON('/api/v1/scheduler_health', function(myhealth) {
			if (myhealth == true) {
				$("#schedulerHealth").html("<i class='fas fa-check-circle fa-1x fa-fw' style='color: green; margin-right: 2px;' aria-hidden='true'></i> The scheduler is running");
			}
			else {
				$("#schedulerHealth").html("<i class='fas fa-times-circle fa-1x fa-fw' style='color: red; margin-right: 2px;' aria-hidden='true'></i> The scheduler is not running");
			}
		});

		var scheduler_tasks = $('#tableContainer').DataTable( {
			"ajax": "/api/v1/scheduler_tasks",
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": true,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right fas fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right fas fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right fas fa-file-excel'></i>" }
			],
			"columns": [
				{ title: "profile", "data": "profile" },
				{ title: "child states", "data": "child_states" },
				{ title: "name", "data": "name" },
				{ title: "enabled", "data": "enabled" },
				{ title: "last_run", "data": "last_run" },
				{ title: "next_run", "data": "next_run" },
				{ title: "immutable", "data": "immutable" },
				{ title: "state", "data": "state" },
				{ title: "action", "data": "action" }
			],
			"columnDefs": [	
				{ "className": "hxtool_table_cell_center", "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8] },
				{
				"targets": [ 3, 6 ], 
				render: function ( data, type, row, meta ) {
					if (data == true) {
						data = "<i class='fas fa-check fa-1x fa-fw' style='color: green; margin-right: 2px;' aria-hidden='true'></i> Yes";
					}
					else if (data == false) {
						data = "<i class='fas fa-ban fa-1x fa-fw' style='color: red; margin-right: 2px;' aria-hidden='true'></i> No";
					}
					return data;
					}
				},
				{
				"targets": [ 1 ], 
				render: function ( data, type, row, meta ) {
					mychildren = "";

					var obj = JSON.parse(data);

					$.each(obj, function(key, value) {
						mychildren += "<b>" + key + ":</b> " + value + "<br>"
					});

					return mychildren;
					}
				},
				{
				"targets": [ 8 ], 
				render: function ( data, type, row, meta ) {
					myhtml = "";
					if (row.immutable == false) {
						myhtml = "<button class='schedulerAction fe-btn fe-btn--sm fe-btn--hxtool-main-remove' data-id='" + data + "' data-type='remove'>delete<i class='fe-icon--right fas fa-trash'></i></button>";
					}
					return myhtml;
					}
				},
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

		setInterval( function () {
			scheduler_tasks.ajax.reload();
		}, 5000 );

		$("#tableContainer").on("click", ".schedulerAction", function(){
			mytype = $(this).data("type");
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/scheduler/" + $(this).data("type"), "id=" + $(this).data("id"), function() {
				if (mytype == "remove") {
					myrow.fadeOut(200, function() {
						scheduler_tasks.row(myrow).remove().draw();
					})
				}
				else {
					scheduler_tasks.ajax.reload();	
				}
			});

		});

	});

</script>

{{ htPanelNoHeader.widgetHeader(panelDisplay="inline-block") }}
	<h3 class='hxtool_typography_h3' id='schedulerHealth'></h3>
{{ htPanelNoHeader.widgetFooter() }}

{{ htPanel.widgetHeader("Scheduler tasks", panelIcon="fa-table") }}
	<table id='tableContainer' class='hxtool_table' style='width: 100%;'></table>
{{ htPanel.widgetFooter() }}

{% endblock %}
