{% extends "layout.html" %}
{% block title %}HXTool - Scripts{% endblock %}
{% block content %}

<script>

	$(document).ready(function() {

		$(document).on('click', '.viewbutton', function() {
			sArr = $(this).attr('id').split('_')
			showPopup(600, 900, '/scripts?action=view&id=' + sArr[1], "myscripttextarea", includeWidthRestriction=true);
		});

		$("#scriptNew").click(function() {
			$("#scriptNewPopup").show();
		});

		$("#scriptCancel").click(function() {
			$("#scriptNewPopup").hide();
		});

		$("#scriptViewDismiss").click(function() {
			$("#scriptViewPopup").hide();
		});

		$("#scriptTable").on('click', '.script_view', function() {
			$("#scriptViewTextarea").val(atob($(this).data("script")));
			$("#scriptViewPopup").show();
		});

		$("#scriptUploadButton").click(function() {
			var data = new FormData();
			$.each($('#script').prop('files'), function(key, value) {
				data.append("myscript", value);
			});

			data.append("scriptname", $("#scriptname").val());

			hxtool_ajax_post_request("/api/v1/scripts/upload", data, function(data) {
				$("#scriptNewPopup").hide();
				scriptTable.ajax.reload();
			});
		});

		$("#scriptTable").on('click', '.script_remove', function() {
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/scripts/remove", "id=" + $(this).data("id"), function(mydata) {
				myrow.fadeOut(200, function() {
					scriptTable.row(myrow).remove().draw();
				});
			});
		});

		var scriptTable = $('#scriptTable').DataTable( {
			"ajax": {
				"url": "/api/v1/datatable_scripts",
				"dataSrc": ""
			},
			"paging":   false,
			"info":     false,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn" },
				{ extend: "csv", className: "fe-btn" },
				{ extend: "excel", className: "fe-btn" }
			],
			"columns": [
				{ "data": "scriptname", title: "Name" },
				{ "data": "username", title: "Created By" },
				{ "data": "create_timestamp", title: "Created" },
				{ "data": "update_timestamp", title: "Modified" },
				{ "data": "script_id", title: "Action" }
			],
			"columnDefs": [	
				{
				 targets: 4,
				 width: "200px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		//data = "<input type='button' data-script='" + row.script + "' value='view' id='view_" + data + "' class='tableActionButton viewbutton'><a href='/scripts?action=delete&id=" + data + "' class='tableActionButton'>delete</a>";
				 		data = '<button style="margin-right: 6px;" data-script="' + row.script + '" class="script_view fe-btn fe-btn--sm fe-btn--primary"> view <i class="fe-icon--right far fa-eye"></i></button>'
				 		data += '<button style="margin-right: 6px;" data-id="' + row.script_id + '" class="script_remove fe-btn fe-btn--sm fe-btn--primary"> remove <i class="fe-icon--right far fa-trash"></i></button>'
				 	}
				 	return data;
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [1, 2, 3, 4]}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

	});

</script>


{{ htModal.widgetHeader("Upload new script", modalId="scriptNewPopup") }}

	<label for="" class="fe-input-label caption">Script name</label>
    <input type="text" name="scriptname" id="scriptname" value="" class="fe-input" placeholder="enter a name" />
    <span class="fe-input-hint-text">Enter a name for your uploaded script</span>

    <br><br>

	<label for="" class="fe-input-label caption">Script file</label>
	<input class="fe-input" type='file' id='script' name='script'><br>
	<span class="fe-input-hint-text">An acquisition script is a file that controls what type of data should be returned by a bulk or normal acquisition</span>

{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="scriptCancel" aria-label="Cancel"><span> cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="scriptUploadButton" aria-label="Submit"><span> submit </span></button>
{{ htModal.widgetFooter() }}

{{ htModal.widgetHeader("View script", modalId="scriptViewPopup", modalSize="large") }}
	<textarea id='scriptViewTextarea' style='width: 100%; height: 500px;' class='fe-input'></textarea>
{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="scriptViewDismiss" aria-label="Dismiss"><span> dismiss </span></button>
{{ htModal.widgetFooter() }}

<button class="fe-btn fe-btn--md fe-btn--primary fe-btn--hxtool-main" id='scriptNew'> upload <i style='color: #59dc90;' class="fe-icon--right fas fa-upload"></i></button>

{{ htPanel.widgetHeader("Stored scripts", panelId="panelScriptTable", panelIcon="fa-database") }}
	<table id='scriptTable' class='hxtool_table' style='width: 100%;'></table>
{{ htPanel.widgetFooter() }}

{% endblock %}