{% extends "layout.html" %}
{% block title %}HXTool - Scriptbuilder{% endblock %}
{% block content %}

<script>


	function guid() {
	    function _p8(s) {
	        var p = (Math.random().toString(16)+"000000000").substr(2,8);
	        return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;
	    }
    	return _p8() + _p8(true) + _p8(true) + _p8();
	}

	function addFeDropdownItem(myElement, myId, myText, myIcon) {
				$("#" + myElement).next("div").find("ul").append("<li class='fe-dropdown__item'><a class='fe-dropdown__item-link'><span class='fe-dropdown__item-link-left-section'><i style='margin-top: 2px;' class='fas " + myIcon + " fa-lg'></i></span><span class='fe-dropdown__item-link-text' data-id='" + myId + "'>" + myText + "</span></a></li>");
	}

	function removeFeDropdownItems(myElement) {
		$("#" + myElement).next("div").find("ul").html("");
	}

	// Renders the audit dropdown menu
	function renderAuditSelector(auditspace, targetOS) {

		// First remove all options in case we are changing platform
		removeFeDropdownItems("add_audit");

		// Then add all supported audit modules
		$.each( auditspace, function( ikey, ivalue ) {
			if(jQuery.inArray(targetOS, auditspace[ikey]['platforms']) != -1) {
				addFeDropdownItem("add_audit", ikey, ikey, "fa-list");
			}
		});
	}

	function addAudit(auditname, auditspace) {
		var my_uuid = guid();
		$('#tabMenu').append($('<li>', {id: "tab_" + my_uuid, class: 'auditTabMenuLink', text:auditname}));
		$('.auditTabMenuLink').removeClass('auditTabMenuLinkSelected');
		$("#tab_" + my_uuid).addClass('auditTabMenuLinkSelected');
		$("#scriptItems").children().hide();
		$('#scriptItems').append($('<div>', {id: "audit_" + my_uuid, class: 'auditContent'}));
		buildAudit(auditspace[auditname], "audit_" + my_uuid, auditname, my_uuid);
	}

	function buildAudit(thisAuditspace, myaudit, auditname, my_uuid) {
		myObj = document.getElementById(myaudit);

		$(myObj).append($('<div>', {class: 'auditName', text: auditname}));
		$(myObj).append($('<div>', {class: 'fe-btn fe-btn--sm fe-btn--hxtool-main-remove auditRemove', html: "remove<i class='fas fa-trash fa-sm fa-fw' style='margin-right: 2px;' aria-hidden='true'></i>"}));
		$(myObj).append($('<div>', {class: 'auditClear'}));

		$(myObj).append($('<div>', {class: 'auditNameUUID', text: myaudit}));

		$(myObj).append($('<div>', {class: 'auditParameterTitle', text: "Description"}));
		$(myObj).append($('<div>', {class: 'auditDescription', text: thisAuditspace['description']}));

		$(myObj).append('<br>');

		// Check if this audit has parameters
		if (thisAuditspace['parameters'] == false) {
			$(myObj).append($('<div>', {class: 'auditDescription', text: "This audit modules does not offer any parameters."}));
		}
		else {
			// Parameters exist, we need to render them if the platform chosen supports the audit parameter
			for (var parameter in thisAuditspace['parameters']) {

				// Check if this is a required field
				req_state = "optional";
				if (thisAuditspace['parameters'][parameter]['required'] == true) {
					req_state = "required";
				}

				// Check if this is a repeatable field
				repeat = false;
				if (thisAuditspace['parameters'][parameter]['repeatable'] == true) {
					repeat = true;
				}

				if (thisAuditspace['parameters'][parameter]['type'] == "dropdown") {
					if(jQuery.inArray($("#platform").data("id"), thisAuditspace['parameters'][parameter]['platforms']) != -1) {
						renderAuditDropdown(thisAuditspace['parameters'][parameter], myObj, my_uuid, auditname, req_state, repeat);
					}
				}
				else if (thisAuditspace['parameters'][parameter]['type'] == "text") {
					if(jQuery.inArray($("#platform").data("id"), thisAuditspace['parameters'][parameter]['platforms']) != -1) {
						renderAuditText(thisAuditspace['parameters'][parameter], myObj, my_uuid, auditname, req_state, repeat);
					}
				}
				else if (thisAuditspace['parameters'][parameter]['type'] == "textarea") {
					if(jQuery.inArray($("#platform").data("id"), thisAuditspace['parameters'][parameter]['platforms']) != -1) {
						renderAuditTextArea(thisAuditspace['parameters'][parameter], myObj, my_uuid, auditname, req_state, repeat);
					}
				}
			}
		}
	}

	function renderAuditText(objData, myObj, my_uuid, auditname, req_state, repeat) {
		if (objData['name'] != false) {
			$(myObj).append('<div class="auditParameterPlaceholder">');
			newdiv = $(myObj).children(":last");
			if (req_state == "optional") {
				$(newdiv).append($('<div>', {class: 'auditParameterTitleOptional', html: objData['name'] + " " + "<i class='far fa-trash-alt fa-sm fa-fw auditParameterRemove' aria-hidden='true'></i>"}));
			}
			else {
				$(newdiv).append($('<div>', {class: 'auditParameterTitle', text: objData['name']}));
			}
			if (repeat) {myrepeat = "true";} else {myrepeat = "false";}
			$(newdiv).append($('<input>', {class: 'fe-input auditTextInput', type: 'text', id: auditname + "_" + my_uuid + "_" + objData['name'] + "_" + myrepeat}));
			if (repeat) {
				$(newdiv).append($('<div>', {class: 'fe-btn fe-btn--sm fe-btn--hxtool-main auditRepeat', html: "repeat<i class='fas fa-plus fa-sm fa-fw' style='margin-right: 2px;' aria-hidden='true'></i>"}));
			}
			$(newdiv).append($('<div>', {class: 'fe-input-hint-text', text: objData['usage']}));
		}
	}

	function renderAuditTextArea(objData, myObj, my_uuid, auditname, req_state, repeat) {
		if (objData['name'] != false) {
			$(myObj).append('<div class="auditParameterPlaceholder">');
			newdiv = $(myObj).children(":last");
			if (req_state == "optional") {
				$(newdiv).append($('<div>', {class: 'auditParameterTitleOptional', html: objData['name'] + " " + "<i class='far fa-trash-alt fa-sm fa-fw auditParameterRemove' aria-hidden='true'></i>"}));
			}
			else {
				$(newdiv).append($('<div>', {class: 'auditParameterTitle', text: objData['name']}));
			}
			$(newdiv).append($('<textarea>', {class: 'fe-input auditTextAreaInput', id: auditname + "_" + my_uuid + "_" + objData['name']}));
			if (repeat) {
				$(newdiv).append($('<div>', {class: 'fe-btn fe-btn--sm fe-btn--hxtool-main auditRepeat', html: "repeat<i class='fas fa-plus fa-sm fa-fw' style='margin-right: 2px;' aria-hidden='true'></i>"}));
			}
			$(newdiv).append($('<div>', {class: 'fe-input-hint-text', text: objData['usage']}));
		}
	}

	function renderAuditDropdown(objData, myObj, my_uuid, auditname, req_state, repeat) {
		if (objData['name'] != false) {
			$(myObj).append('<div class="auditParameterPlaceholder">');
			newdiv = $(myObj).children(":last");
			if (req_state == "optional") {
				$(newdiv).append($('<div>', {class: 'auditParameterTitleOptional', html: objData['name'] + " " + "<i class='far fa-trash-alt fa-sm fa-fw auditParameterRemove' aria-hidden='true'></i>"}));
			}
			else {
				$(newdiv).append($('<div>', {class: 'auditParameterTitle', text: objData['name']}));
			}
			$(newdiv).append($('<select>', {class: 'auditSelectInput', id: auditname + "_" + my_uuid + "_" + objData['name']}));
			for (option in objData['values']) {
				thiselement = document.getElementById(auditname + "_" + my_uuid + "_" + objData['name']);
				$(thiselement).append($('<option>', {value:objData['values'][option], text:objData['values'][option]}));
			}
			$(newdiv).append($('<span>', {class: 'hxtool_select_tail', html: '<i class="fe-icon--right fal fa-chevron-up"></i>'}));
			if (repeat) {
				$(newdiv).append($('<div>', {class: 'fe-btn fe-btn--sm fe-btn--hxtool-main auditRepeat', html: "repeat<i class='fas fa-plus fa-sm fa-fw' style='margin-right: 2px;' aria-hidden='true'></i>"}));
			}
			$(newdiv).append($('<div>', {class: 'fe-input-hint-text', text: objData['usage']}));
		}
	}

	// Scan script and build
	function generateScript() {

		myScript = {"commands": []}

		$('#tabMenu li').each(function(i, li) {
			myIdArr = $(li).attr('id').split("_");
			myId = myIdArr[1];

			myParams = []
			$('#audit_' + myId).children().each(function(ix, item) {
				
				if ($(item).attr('class') == "auditParameterPlaceholder") {
					$(item).children().each(function(mx, mitem) {
						if ($(mitem).attr('id')) {
							myParamArr = $(mitem).attr('id').split("_");
							myParamName = myParamArr[2];
							myRepeat = myParamArr[3];

							// Workaround for repeated fields and store them as lists
							if (myRepeat == "true") {

								matched = false;
								matched_index = 0;
								// Loop through parameters and find the key if it exists
								$.each(myParams, function( index, value ) {
									if (myParamName == value['name']) {
										matched = true;
										matched_index = index;
									}
								});

								// If matched then add the value to the array
								if (matched) {
									myParams[matched_index]['value'].push($(mitem).val());
								}
								else {
									// First occurance of repeated field
									myParams.push({"name": myParamName, "value": [$(mitem).val()]});
								}

							}
							else {
								myParams.push({"name": myParamName, "value": $(mitem).val()});
							}
						}
					});
				}
				
			});

			myAuditname = $(li).html();
			myScript['commands'].push({"name": myAuditname, "parameters": myParams});

		});
		return (myScript);
	}

	$(document).ready(function() {

		// Import audit data
		{% if auditspace %}
			var auditspace = JSON.parse({{auditspace|tojson|safe}});
			targetOS = $('#platform').data("id");
			renderAuditSelector(auditspace, targetOS);
		{% endif %}

		// The user changed platform
		$('.hxtool_platform_link').click(function() {
			targetOS = $(this).find(".fe-dropdown__item-link-text").data("id");
			renderAuditSelector(auditspace, targetOS);

			$('#tabMenu li').each(function(i, li) {
				myIdArr = $(li).attr('id').split("_");
				myId = myIdArr[1];

				$("#tab_" + myId).remove();
				$("#audit_" + myId).remove();
			});
		});

		// When the user requests another audit to be added
		$(".hxtool_dynamic-dropdown").on( "click", "a", function(e) {
			var myauditname = $(this).find("span").next().data("id");

			if (myauditname != "none") {
				addAudit(myauditname, auditspace);
			}

			$(this).closest("div").fadeTo( "fast", 0, function() {
				$(".fe-dropdown__list-container").hide();
			});


		});

		// User wants to view another tab, show and hide the relevant div
		$(document).on('click', '.auditTabMenuLink', function () {
			thisguidArr = $(this).attr('id').split("_");
			thisguid = thisguidArr[1];

			$('.auditTabMenuLink').removeClass('auditTabMenuLinkSelected');
			$("#tab_" + thisguid).addClass('auditTabMenuLinkSelected');

			$("#scriptItems").children().hide();
			$("#audit_" + thisguid).show();

		});

		// User clicked create script, generate the script and grab the name
		$('#generateScript').click(function() {
			generatedScript = generateScript();
			
			if ($('#scriptName').val() != "") {

				myData = {"scriptName": $('#scriptName').val(), "script": generatedScript};

				$.ajax
				({
					type: "POST",
					url: '/api/v1/scripts/builder',
					dataType: 'json',
					contentType: 'application/json',
					data: JSON.stringify(myData, null, 4),
					success: function () {
						window.location.href = "/scripts";
					},
					error: function (xhr, status) {
						$("#hxtoolMessageBody").html(JSON.stringify(xhr['responseText']));
						$("#hxtoolMessage").show();
					}
				});

			}
			else {
				$('#scriptName').fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
			}

		});

		// User requests the audit module to be removed
		$(document).on('click', '.auditRemove', function () {
			myDataArr = $(this).parent().attr('id').split("_");
			myUUID = myDataArr[1];
			$("#tab_" + myUUID).remove();
			$(this).parent().remove();

			// Highlight the first audit module again
			$("#tabMenu li:first").click();
		});

		// User wants to repeat a parameter
		$(document).on('click', '.auditRepeat', function () {
			$('<div style="margin-bottom: 5px;"></div>').insertAfter($(this));
			$(this).prev().clone().insertAfter($(this).next());
		});

		// User wants to remove an optional parameter
		$(document).on('click', '.auditParameterRemove', function () {
			$(this).parent().parent().remove();
		});

	});

</script>

{{ htPanel.widgetHeader("Script Builder", elementAdditionalBodyClass="hxtool_panel_scriptbuilder") }}
<div class='inputArea'>

	{{ htInput.widget("script name", elementTitle="Script name", elementHint="Enter a name", elementId="scriptName", elementWidth="400") }}

	<h3 class='hxtool_typography_h3'>Platform</h3>
	{{ htDropdown.widgetHeader("Microsoft Windows", "platform", "win") }}
	{{ htDropdown.widgetItem("Microsoft Windows", "win", elementIcon="fab fa-windows") }}
	{{ htDropdown.widgetItem("Apple MacOS", "osx", elementIcon="fab fa-apple") }}
	{{ htDropdown.widgetItem("Linux", "linux", elementIcon="fab fa-linux") }}
	{{ htDropdown.widgetFooter(elementLabel="Select the target platform") }}

	<h3 class='hxtool_typography_h3'>Audit modules</h3>
	{{ htDropdown.widgetHeader("Select audit module", "add_audit", "false", elementAdditionalClass="hxtool_dynamic-dropdown") }}
	{{ htDropdown.widgetFooter(elementLabel="Select an audit module to add it to the script") }}

	<div id='scriptArea' style='margin-top: 15px; margin-bottom: 15px;'>
		<ul id='tabMenu' class='tabMenu' style='float: left; width: 180px; list-style-type: none; margin: 0; padding: 0;'>
		</ul>
		<div id='scriptItems' style='float: left; width: 900px;'>
		</div>
		<div style='clear: both;'></div>
	</div>
	
	<button id='generateScript' class="fe-btn fe-btn--md fe-btn--hxtool-main-master" aria-label="Click"><span> Create script </span></button>
    
</div>
{{ htPanel.widgetFooter() }}


{% endblock %}