{% extends "layout.html" %}
{% block title %}HXTool - Stacking analysis{% endblock %}
{% block navlocation %}Stacking analysis{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {
		$('#svcmd5').DataTable( {
                        "info": false,
                        "pageLength": 20,
                        "lengthChange": false
		});
	});

</script>

<br>

<div class='tableTitle'>
        Service MD5 Hash Stacking results
</div>

{% if stacktable %} {{ stacktable|safe }} {% endif %}
{% endblock %}
