{% extends "layout.html" %}
{% block title %}HXTool - Enterprise Search{% endblock %}
{% block navlocation %}Enterprise Search - Drilldown{% endblock %}
{% block content %}

<script>
	$(document).ready(function() {

		$("#goBack").click(function(){
			location.href = "/search";
		});

		myid = getQueryParam('id');

		$.getJSON('/api/v1/datatable_es_result_types?id=' + myid, function(mytypes) {

			for (var currtype in mytypes) {
				var mycols = [];
				for (var i = 0; i < mytypes[currtype].length; i++) {
					mycols.push({ "title": mytypes[currtype][i].replace(/_/g," "), "data": mytypes[currtype][i] });
				}

				$("#tableContainer").append("<div style='margin-top: 12px;' id='ph_" + currtype.replace(/ /g,"_") + "'></div>");

				$("#ph_" + currtype.replace(/ /g,"_")).append("<div class='fe-panel'>");
				$("#ph_" + currtype.replace(/ /g,"_")).find(".fe-panel").append("<div class='fe-panel-header fe-panel-header--no-background'></div>");
				$("#ph_" + currtype.replace(/ /g,"_")).find(".fe-panel-header").append("<div class='fe-label fe-label--background'><i style='color: #11a962;' class='fe-icon--left fas fa-chart-bar'></i>" + currtype + "</div>");
				$("#ph_" + currtype.replace(/ /g,"_")).append("<div class='fe-panel__body'></div>");

				$("#ph_" + currtype.replace(/ /g,"_")).find(".fe-panel__body").append("<table class='hxtool_table' id='esTableResults_" + currtype.replace(/ /g,"_") + "' style='width: 100%;'></table>");

				$.fn.dataTable.ext.errMode = 'none';
				$('#esTableResults_' + currtype.replace(/ /g,"_")).DataTable( {
					"ajax": "/api/v1/datatable_es_result?id=" + myid + "&type=" + currtype,
					"columns": mycols,
					"paging":   true,
					"ordering": true,
					"info":     false,
					"scrollX": true,
					"searching": true,
					"pageLength": 25,
					"lengthChange": false,
					"processing": false,
					"dom": '<"hxtool_datatables_buttons"B>frtip',
					"buttons": [
						{ extend: "copy", className: "fe-btn" },
						{ extend: "csv", className: "fe-btn" },
						{ extend: "excel", className: "fe-btn" }
					],
					"colReorder": true,
					"columnDefs": [
						{
						 "targets": 0,
						 render: function ( data, type, row, meta ) {
						 	return(datatables_parseHostlink(data));
						 }
						}					
					]
				});
				$('div.dataTables_filter input').addClass("fe-input");


				/*
				$('#esTableResults_' + currtype.replace(/ /g,"_") + ' thead th').each(function () {
					myNewTitle = $(this).find('div').html().replace(/_/g," ");
					$(this).find('div').text(myNewTitle);
				});
				*/
			
			}

		});

	});

</script>

{{ htPanel.widgetHeader("Action", panelId="goBack", panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--primary active"> back <i style='color: #11a962;' class="fe-icon--right fas fa-search-plus"></i></button>
{{ htPanel.widgetFooter() }}


<div id='tableContainer'></div>


{% endblock %}
