{% extends "layout.html" %}
{% block title %}HXTool - Enterprise Search{% endblock %}
{% block navlocation %}Enterprise Search{% endblock %}
{% block content %}

<script>

	function enableStore() {
			$("#checkboxStore").prop('checked', true);
			$("#divStore").css("background", "rgb(225,225,225)");
			$("#divFile").css("background", "rgb(242,242,242)");
			$("#checkboxFile").prop('checked', false);
	}

	function enableFile() {
			$("#checkboxFile").prop('checked', true);
			$("#divFile").css("background", "rgb(225,225,225)");
			$("#divStore").css("background", "rgb(242,242,242)");		
			$("#checkboxStore").prop('checked', false);
	}

	$(document).ready(function() {
		var table = $('#searchTable').DataTable( {
			"info": false,
			"pageLength": 15,
			"lengthChange": false
		});

		$(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});

		$("div[id^='crate_']").each(function() {
			$(this).progress()
		});
		
		$("#checkboxStore").click(function() {
			enableStore();
		});

		$("#checkboxFile").click(function() {
			enableFile();
		});

		$("#divStore").click(function() {
			enableStore();
		});

		$("#divFile").click(function() {
			enableFile();
		});


		var es_datatable = $('#esTable').DataTable( {
			"ajax": "/api/v1/datatable_es",
			"paging":   false,
			"ordering": false,
			"info":     false,
			"searching": true,
			"processing": false,
			"columns": [
				{ "title": "state", "data": "state" },
				{ "title": "mode", "data": "mode" },
				{ "title": "created", "data": "create_time" },
				{ "title": "updated", "data": "update_time" },
				{ "title": "user", "data": "create_actor" },
				{ "title": "type", "data": "input_type" },
				{ "title": "hostset", "data": "host_set" },
				{ "title": "hosts", "data": "stat_hosts" },
				{ "title": "skipped", "data": "stat_skipped_hosts" },
				{ "title": "N", "data": "stat_new" },
				{ "title": "Q", "data": "stat_queued" },
				{ "title": "F", "data": "stat_failed" },
				{ "title": "C", "data": "stat_complete" },
				{ "title": "A", "data": "stat_aborted" },
				{ "title": "Ca", "data": "stat_cancelled" },
				{ "title": "pending", "data": "stat_searchstate_pending" },
				{ "title": "matched", "data": "stat_searchstate_matched" },
				{ "title": "nomatch", "data": "stat_searchstate_notmatched" },
				{ "title": "error", "data": "stat_searchstate_error" }

			],
			"createdRow": function( row, data, index ) {
				$('td', row).eq(9).css( 'background-color', '#eeeeee' );
				$('td', row).eq(10).css( 'background-color', '#eeeeee' );
				$('td', row).eq(11).css( 'background-color', '#eeeeee' );
				$('td', row).eq(12).css( 'background-color', '#eeeeee' );
				$('td', row).eq(13).css( 'background-color', '#eeeeee' );
				$('td', row).eq(14).css( 'background-color', '#eeeeee' );
				$('td', row).eq(15).css( 'background-color', '#dddddd' );
				$('td', row).eq(16).css( 'background-color', '#dddddd' );
				$('td', row).eq(17).css( 'background-color', '#dddddd' );
				$('td', row).eq(18).css( 'background-color', '#dddddd' );
			}
		});

	});
</script>

<form method='POST' action='/search' enctype="multipart/form-data">
	<div class='tableTitle'>
		<i class="fas fa-search fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
		Search based on OpenIOC
	</div>
	<div class='inputArea' style='width: 600px;'>

		<div id='divStore' style='width: 250px; float: left; padding: 10px; margin-right: 15px; vertical-align: top; border: 1px solid rgb(215,215,215); border-radius: 5px; background: rgb(225,225,225);'>
			<input type='checkbox' name='store' id='checkboxStore' checked>
			<b>From HXTool</b><br><br>
			{% if openiocs %} {{ openiocs|safe }} {% endif %}
		</div>
		<div id='divFile' style='width: 250px; float: left; padding: 10px; vertical-align: top; border: 1px solid rgb(215,215,215); border-radius: 5px;'>
			<input type='checkbox' name='file' id='checkboxFile'>
			<b>From file</b><br><br>
			<input type='file' id='newioc' name='newioc'>
		</div>
		<div style='clear: both;'></div>

		<br>
		<b>Hostset</b><br>
		<select name='sweephostset' id='sweephostset'>
			{% if hostsets %} {{ hostsets|safe }} {% endif %}
		</select>

		<div style='font-style: italic; margin-bottom: 15px; margin-top: 8px;'>Please note that the OpenIOC indicator must be in OpenIOC 1.1 format and use UTF-8 encoding without BOM.</div>
		<input class='tableActionButton' type='submit' value='Start Enterprise Search'>
	</div>
</form>

<br>

<div class='tableTitle'>
	<i class="fas fa-list-ul fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
	Searches on the controller
</div>

<table class='genericTable' id='esTable' style='width: 100%;'></table>

{% endblock %}
