<div class='tableTitle'>
	Triage Acquisition	
</div>

<form method='GET' action='/hosts'>

<span style='font-size: 14px; font-style: italic;'>Submit a triage acquisition. A triage acquisition is a small package containing static and event buffer data around the timestamp requested.</span>

<div style='margin: 20px; margin-top: 5px; padding: 10px;'>
	<div style='padding: 3px;'><input type='radio' name='type' value='standard' checked>Standard</div>
	<div style='padding: 3px;'><input type='radio' name='type' value='1'>Around one hour ago</div>
	<div style='padding: 3px;'><input type='radio' name='type' value='2'>Around two hours ago</div>
	<div style='padding: 3px;'><input type='radio' name='type' value='4'>Around four hours ago</div>
	<div style='padding: 3px;'><input type='radio' name='type' value='8'>Around eight hours ago</div>
	<div style='padding: 3px;'><input type='radio' name='type' value='timestamp'>Around timestamp<br>
	<input style='width: 300px; margin-left: 20px; margin-top: 5px;' type='text' name='timestampvalue' value='{% if now %}{{ now|safe }}{% endif %}'></div>
</div>

<div style='float: right;'>
<input type='hidden' id='triage' name='triage' value='{% if triageid %}{{ triageid|safe }}{% endif %}'>
<input type='hidden' id='url' name='url' value='{% if url %}{{ url|safe }}{% endif %}'>
<input type='button' class='tableActionButton' id='popupCancel' value='cancel'>
<input type='submit' class='tableActionButton' value='submit'>
</div>

</form>