{% extends "layout.html" %}
{% block title %}HXTool - OpenIOC{% endblock %}
{% block content %}

<script>

	function guid() {
		function _p8(s) {
			var p = (Math.random().toString(16)+"000000000").substr(2,8);
			return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;
		}
		return _p8() + _p8(true) + _p8(true) + _p8();
	}

	$(document).ready(function() {

		$(document).on('click', '.taskProfileRemove', function() {
			$(this).parent().parent().fadeTo(300,0.1, function(){
				$(this).remove();
			});
		});

		$('body').on('change','select',function() {

			if ($(this).attr('id') == "module") {

				var mymodule = $(this).val();

				myguid = guid();

				if(mymodule == 1) {
					$("#params").append("<div class='taskProfileItem' id='file_" + myguid + "'></div>");
					$("#file_" + myguid).html("<div style='float: left; font-size: 14px; font-weight: bold;'>File Writer</div>");
					$("#file_" + myguid).append("<div class='taskProfileRemovePH'><input class='taskProfileRemove' type='button' value='remove'></div>");
					$("#file_" + myguid).append("<div style='clear: both;'></div>");
					$("#file_" + myguid).append("<hr class='taskProfileBar'>");
					$("#file_" + myguid).append("<b>Local file</b><br><input style='width: 400px;' name='" + myguid + "_file_filepath' type='text'><br>");
					$("#file_" + myguid).append("<br>");
					$("#file_" + myguid).append("<b>Event mode</b><br>");
					$("#file_" + myguid).append("<select name='" + myguid + "_ip_eventmode'><option value='per-event'>per-event<option value='batch'>batch</select><br>");
					$("#file_" + myguid).append("<br>");
				}
				if(mymodule == 2) {
					$("#params").append("<div class='taskProfileItem' id='ip_" + myguid + "'></div>");
					$("#ip_" + myguid).html("<div style='float: left; font-size: 14px; font-weight: bold;'>IP Sender</div>");
					$("#ip_" + myguid).append("<div class='taskProfileRemovePH'><input class='taskProfileRemove' type='button' value='remove'></div>");
					$("#ip_" + myguid).append("<div style='clear: both;'></div>");
					$("#ip_" + myguid).append("<hr class='taskProfileBar'>");
					$("#ip_" + myguid).append("<b>Protocol</b><br>");
					$("#ip_" + myguid).append("<select name='" + myguid + "_ip_protocol'><option value='tcp'>TCP<option value='udp'>UDP</select><br>");
					$("#ip_" + myguid).append("<br>");
					$("#ip_" + myguid).append("<b>Target IP</b><br><input style='width: 400px;' name='" + myguid + "_ip_targetip' type='text'><br>");
					$("#ip_" + myguid).append("<br>");
					$("#ip_" + myguid).append("<b>Target port</b><br><input style='width: 100px;' name='" + myguid + "_ip_targetport' type='text'><br>");
					$("#ip_" + myguid).append("<br>");
					$("#ip_" + myguid).append("<b>Event mode</b><br>");
					$("#ip_" + myguid).append("<select name='" + myguid + "_ip_eventmode'><option value='per-event'>per-event<option value='batch'>batch</select><br>");
					$("#ip_" + myguid).append("<br>");
				}
				if(mymodule == 3) {
					$("#params").append("<div class='taskProfileItem' id='db_" + myguid + "'></div>");
					$("#db_" + myguid).html("<div style='float: left; font-size: 14px; font-weight: bold;'>Store in HXTool</div>");
					$("#db_" + myguid).append("<div class='taskProfileRemovePH'><input class='taskProfileRemove' type='button' value='remove'></div>");
					$("#db_" + myguid).append("<div style='clear: both;'></div>");
					$("#db_" + myguid).append("<hr class='taskProfileBar'>");
					$("#db_" + myguid).append("<b>Table name</b><br><input style='width: 400px' name='" + myguid + "_db_tablename' type='text'><br>");
				}

				// reset the drop-down
				$(this).prop("selectedIndex", 0);
			}
		});

		var taskprofileTable = $('#taskprofileTable').DataTable( {
			"ajax": {
				"url": "/api/v1/datatable_taskprofiles",
				"dataSrc": ""
			},
			"paging":   false,
			"info":     false,
			"columns": [
				{ "data": "name", title: "Profile name" },
				{ "data": "actor", title: "Created by" },
				{ "data": "create_timestamp", title: "Created" },
				{ "data": "update_timestamp", title: "Updated" },
				{ "data": "params", title: "Parameters" },
				{ "data": "taskprofile_id", title: "Action" }
			],
			"columnDefs": [	
				{
				 targets: 5,
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		data = "<a href='/taskprofile?action=delete&id=" + data + "' class='tableActionButton'>delete</a>"
				 	}
				 	return data;
				 }
				},
				{
				 targets: 4,
				 render: function ( data, type, row, meta ) {
				 	var myparams = "";

				 	if(type === 'display'){

				 		$.each(data, function(key, value) {
				 			myparams += "<div style='border: 1px solid #ddd; border-radius: 3px; padding: 5px; margin-bottom: 5px; margin-top: 5px; background: #eee;'>";
				 			myparams += "<div><b>module type:</b> " + value['module'] + "</div>"
				 			$.each(value, function(mykey, myvalue) {
				 				if (mykey != "module") {
				 					myparams += "<div style='margin-left: 20px;'><b>" + mykey + ":</b> " + myvalue + "</div>"
				 				}
				 			});
				 			myparams += "</div>"
				 		});

//				 		Object.keys(data).forEach(function(key) {

//				 			Object.keys(data[key]).forEach(function(kkey)) {
//				 				myparams += kkey + " = " + data[key][kkey] + "<br>";
//				 			}
//							myparams += JSON.stringify(data);

				 			// myparams += "<b>" + key + "</b> = " + data[key] + "<br>";
//				 		});
				 	}
				 	return myparams;
				 }
				}
			]
		});

	});

</script>

<form method='POST' action='/taskprofile' style='margin-bottom: 20px;'>
		<div class='tableTitle'>
			<i class="fas fa-database fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
			Create new task profile
		</div>
	<div class='inputArea' style='width: 600px;'>
		<b>Profile name</b><br>
		<input type='text' name='taskprofile_name' style='width: 400px;'><br>
		<br>

		<b>Core task profile module</b><br>
		<select name='module' id='module'>
			<option value='0'>-- select a module --
			<option value='1'>File writer
			<option value='2'>IP sender
			<!-- <option value='3'>Store in HXTool -->
		</select>

		<div style='margin-top: 10px;' id='params'></div>

		<br>

        <input class='tableActionButton' type='submit' value='Create new profile'>
	</div>
</form>

<div class='tableTitle'>
	<i class="fas fa-database fa-lg fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
	My task profiles
</div>

<table id='taskprofileTable' class='genericTable' style='width: 100%;'>
</table>

{% endblock %}