{% extends "layout.html" %}
{% block title %}HXTool - Task profiles{% endblock %}
{% block content %}

<script>

	function guid() {
		function _p8(s) {
			var p = (Math.random().toString(16)+"000000000").substr(2,8);
			return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;
		}
		return _p8() + _p8(true) + _p8(true) + _p8();
	}

	$(document).ready(function() {

		$(document).on('click', '.taskProfileRemove', function() {
			$(this).parent().parent().fadeTo(300,0.1, function(){
				$(this).remove();
			});
		});

		$("#tpNew").click(function(){
			$("#tpNewPopup").show();
		});

		$("#tpCancel").click(function(){
			$("#tpNewPopup").hide();
		});

		$("#taskprofileTable").on("click", ".tpAction", function(){
			mytype = $(this).data("type");
			myrow = $(this).closest("tr");
			hxtool_ajax_get_request("/api/v1/taskprofile/" + $(this).data("type"), "id=" + $(this).data("id"), function() {
				if (mytype == "remove") {
					myrow.fadeOut(200, function() {
						taskprofileTable.row(myrow).remove().draw();
					})
				}
				else {
					taskprofileTable.ajax.reload();	
				}
			});
		});

		$("#tpSubmit").click(function() {

			myTasks = {};
			myTasks['params'] = [];

			$(".taskProfileItem").each(function(index, value) {
				taskItemArr = $(this).attr("id").split("_");
				myTaskGuid = taskItemArr[1];
				myTaskType = taskItemArr[0];

				myTasks['name'] = $("#taskprofile_name").val();

				if (myTaskType == "file") {
					myTasks['params'].push({
						"module": myTaskType,
						"filepath": $("#" + myTaskGuid + "_file_filepath").val(),
						"eventmode": $("#" + myTaskGuid + "_file_eventmode").data("id")
					});
				}
				else if (myTaskType == "ip") {
					myTasks['params'].push({
						"module": myTaskType,
						"protocol": $("#" + myTaskGuid + "_ip_protocol").data("id"),
						"targetip": $("#" + myTaskGuid + "_ip_targetip").val(),
						"targetport": $("#" + myTaskGuid + "_ip_targetport").val(),
						"eventmode": $("#" + myTaskGuid + "_ip_eventmode").data("id")
					});
				}
				else if (myTaskType == "helix") {
					myTasks['params'].push({
						"module": myTaskType,
						"helix_url": $("#" + myTaskGuid + "_helix_url").val(),
						"helix_apikey": $("#" + myTaskGuid + "_helix_apikey").val(),
						"eventmode": $("#" + myTaskGuid + "_helix_eventmode").data("id")
					});
				}
				else if (myTaskType == "x15") {
					myTasks['params'].push({
						"module": myTaskType,
						"x15_host": $("#" + myTaskGuid + "_x15_host").val(),
						"x15_port": $("#" + myTaskGuid + "_x15_port").val(),
						"x15_database": $("#" + myTaskGuid + "_x15_database").val(),
						"x15_table": $("#" + myTaskGuid + "_x15_table").val(),
						"x15_user": $("#" + myTaskGuid + "_x15_user").val(),
						"x15_password": $("#" + myTaskGuid + "_x15_password").val()
					});
				}
			});

			$.ajax
			({
				type: "POST",
				url: '/api/v1/taskprofile/new',
				dataType: 'json',
				contentType: 'application/json',
				data: JSON.stringify(myTasks),
				success: function () {
					taskprofileTable.ajax.reload();
					$("#tpNewPopup").hide();
					$("#params").html("");
					$("#taskprofile_name").val("");

				},
				error: function (xhr, status) {
					$("#hxtoolMessageBody").html(JSON.stringify(xhr['responseText']));
					$("#hxtoolMessage").show();
				}
			});

		});

//		$("#tpNewPopup").on( "click", ".fe-dropdown__item-link", function(e) {
		//$(".hxtool_module-dropdown").on( "click", ".fe-dropdown__item-link", function(e) {
		$(".fe-dropdown__item-link").on("click", function() {

			var mymodule = $(this).find("span").next("span").data("id");

			myguid = guid();

			myEventModes = [
				{"elementId": "per-event", "elementText": "per-event", "elementIcon": "fa-check"},
				{"elementId": "batch", "elementText": "batch", "elementIcon": "fa-check"}
			];

			if(mymodule == 1) {
				$("#params").append("<div class='taskProfileItem' id='file_" + myguid + "'></div>");
				$("#file_" + myguid).html("<div class='taskProfileModule'>File Writer<button class='fe-btn fe-btn--sm fe-btn--hxtool-main-remove taskProfileRemove'>remove</button></div>");
				$("#file_" + myguid).append("<br>");
				$("#file_" + myguid).append("<b>Local file</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_file_filepath' type='text'><br>");
				$("#file_" + myguid).append("<b>Event mode</b><br>");
				$("#file_" + myguid).append(generateDropDown("per-event", myguid + "_file_eventmode", "per-event", entries=myEventModes, elementAdditionalClass=false, elementLabel=false));
				$("#file_" + myguid).append("<br>");
			}
			if(mymodule == 2) {
				$("#params").append("<div class='taskProfileItem' id='ip_" + myguid + "'></div>");
				$("#ip_" + myguid).html("<div class='taskProfileModule'>IP Sender<button class='fe-btn fe-btn--sm fe-btn--hxtool-main-remove taskProfileRemove'>remove</button></div>");
				$("#ip_" + myguid).append("<br>");
				$("#ip_" + myguid).append("<b>Protocol</b><br>");
				$("#ip_" + myguid).append(generateDropDown("TCP", myguid + "_ip_protocol", "tcp", entries=[{"elementId": "tcp", "elementText": "TCP", "elementIcon": "fa-check"},{"elementId": "udp", "elementText": "UDP", "elementIcon": "fa-check"}], elementAdditionalClass=false, elementLabel=false));
				$("#ip_" + myguid).append("<br>");
				$("#ip_" + myguid).append("<b>Target IP</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_ip_targetip' type='text'><br>");
				$("#ip_" + myguid).append("<b>Target port</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_ip_targetport' type='text'><br>");
				$("#ip_" + myguid).append("<b>Event mode</b><br>");
				$("#ip_" + myguid).append(generateDropDown("per-event", myguid + "_ip_eventmode", "per-event", entries=myEventModes, elementAdditionalClass=false, elementLabel=false));
				$("#ip_" + myguid).append("<br>");
			}
			if(mymodule == 3) {
				$("#params").append("<div class='taskProfileItem' id='db_" + myguid + "'></div>");
				$("#db_" + myguid).html("<div class='taskProfileModule'>Store in HXTool<button class='fe-btn fe-btn--sm fe-btn--hxtool-main-remove taskProfileRemove'>remove</button></div>");
				$("#db_" + myguid).append("<br>");
				$("#db_" + myguid).append("<b>Table name</b><br><input style='width: 100%;' id='" + myguid + "_db_tablename' type='text'><br>");
				$("#db_" + myguid).append("<br>");
			}
			if(mymodule == 4) {
				$("#params").append("<div class='taskProfileItem' id='helix_" + myguid + "'></div>");
				$("#helix_" + myguid).html("<div class='taskProfileModule'>Upload to Helix<button class='fe-btn fe-btn--sm fe-btn--hxtool-main-remove taskProfileRemove'>remove</button></div>");
				$("#helix_" + myguid).append("<br>");
				$("#helix_" + myguid).append("<b>API URL</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_helix_url' type='text'><br>");
				$("#helix_" + myguid).append("<b>API KEY</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_helix_apikey' type='text'><br>");
				$("#helix_" + myguid).append("<b>Event mode</b><br>");
				$("#helix_" + myguid).append(generateDropDown("per-event", myguid + "_helix_eventmode", "per-event", entries=myEventModes, elementAdditionalClass=false, elementLabel=false));
				$("#helix_" + myguid).append("<br>");
			}
			if(mymodule == 5) {
				$("#params").append("<div class='taskProfileItem' id='x15_" + myguid + "'></div>");
				$("#x15_" + myguid).html("<div class='taskProfileModule'>Store in X15<button class='fe-btn fe-btn--sm fe-btn--hxtool-main-remove taskProfileRemove'>remove</button></div>");
				$("#x15_" + myguid).append("<br>");
				$("#x15_" + myguid).append("<b>X15 Host</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_x15_host' type='text'><br>");
				$("#x15_" + myguid).append("<b>X15 Port</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_x15_port' type='text'><br>");
				$("#x15_" + myguid).append("<b>X15 Database</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_x15_database' type='text'><br>");
				$("#x15_" + myguid).append("<b>X15 Table</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_x15_table' type='text'><br>");
				$("#x15_" + myguid).append("<b>X15 User</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_x15_user' type='text'><br>");
				$("#x15_" + myguid).append("<b>X15 Password</b><br><input class='fe-input' style='width: 100%;' id='" + myguid + "_x15_password' type='password'><br>");
				$("#x15_" + myguid).append("<br>");
			}
		});

		var taskprofileTable = $('#taskprofileTable').DataTable( {
			"ajax": {
				"url": "/api/v1/datatable_taskprofiles",
				"dataSrc": ""
			},
			"paging":   false,
			"info":     false,
			"searching": true,
			"dom": '<"hxtool_datatables_buttons"B>frtip',
			"buttons": [
				{ extend: "copy", className: "fe-btn", "text": "copy<i class='fe-icon--right fas fa-copy'></i>" },
				{ extend: "csv", className: "fe-btn", "text": "csv<i class='fe-icon--right fas fa-file'></i>" },
				{ extend: "excel", className: "fe-btn", "text": "excel<i class='fe-icon--right fas fa-file-excel'></i>" }
			],
			"columns": [
				{ "data": "name", title: "Profile name" },
				{ "data": "actor", title: "Created by" },
				{ "data": "create_timestamp", title: "Created" },
				{ "data": "update_timestamp", title: "Updated" },
				{ "data": "params", title: "Parameters" },
				{ "data": "taskprofile_id", title: "Action" }
			],
			"columnDefs": [	
				{
				 targets: 5,
				 width: "120px",
				 render: function ( data, type, row, meta ) {
				 	if(type === 'display'){
				 		data = "<button data-type='remove' data-id='" + data + "' class='tpAction fe-btn fe-btn--sm fe-btn--primary fe-btn--hxtool-main-remove'> delete <i class='fe-icon--right fas fa-ban'></i></button>"
				 	}
				 	return data;
				 }
				},
				{
				 targets: 4,
				 render: function ( data, type, row, meta ) {
				 	var myparams = "";

				 	if(type === 'display'){

				 		$.each(data, function(key, value) {
				 			myparams += "<div style='padding: 5px; margin-bottom: 5px; margin-top: 5px;'>";
				 			myparams += "<div><b>module type:</b> " + value['module'] + "</div>"
				 			$.each(value, function(mykey, myvalue) {
				 				if (mykey != "module") {
									// TODO: Replace with API side filtering
									if (mykey.includes("password")) {
										myvalue = "********";
									}
				 					myparams += "<div style='margin-left: 20px;'><b>" + mykey + ":</b> " + myvalue + "</div>"
				 				}
				 			});
				 			myparams += "</div>"
				 		});

//				 		Object.keys(data).forEach(function(key) {

//				 			Object.keys(data[key]).forEach(function(kkey)) {
//				 				myparams += kkey + " = " + data[key][kkey] + "<br>";
//				 			}
//							myparams += JSON.stringify(data);

				 			// myparams += "<b>" + key + "</b> = " + data[key] + "<br>";
//				 		});
				 	}
				 	return myparams;
				 }
				},
				{"className": "hxtool_table_cell_center", "targets": [0, 1, 2, 3, 5]}
			]
		});
		$('div.dataTables_filter input').addClass("fe-input");

		$('.fe-modal__body').css("min-height", "300px");

	});

</script>


<!-- ACTIONS -->
{{ htPanelNoHeader.widgetHeader(panelId="tpNew", panelDisplay="inline-block") }}
	<button class="fe-btn fe-btn--md fe-btn--primary active"> new profile <i style='color: #11a962;' class="fe-icon--right fas fa-search-plus"></i></button>
{{ htPanelNoHeader.widgetFooter() }}

<!-- INPUT FIELD -->
{{ htModal.widgetHeader("New task profile", modalId="tpNewPopup") }}

	<h3 class='hxtool_typography_h3'>Name</h3>
	<input type="text" name="taskprofile_name" id="taskprofile_name" value="" class="fe-input" placeholder="my new task profile" />
	<span class="fe-input-hint-text">The name of the profile</span>
	<br>

	<h3 class='hxtool_typography_h3'>Select a task profile module</h3>
	{{ htDropdown.widgetHeader("Select module", "mymodule", "false", elementAdditionalClass="hxtool_module-dropdown") }}
		{{ htDropdown.widgetItem("File writer", "1") }}
		{{ htDropdown.widgetItem("IP Sender", "2") }}
		{{ htDropdown.widgetItem("Helix", "4") }}
		{{ htDropdown.widgetItem("X15", "5") }}
	{{ htDropdown.widgetFooter(elementLabel="Select module to add to profile") }}

	<!--
	<select name='module' id='module'>
		<option value='0'>-- select a module --
		<option value='1'>File writer
		<option value='2'>IP sender
		<option value='4'>Helix
	</select>
-->

	<div style='margin-top: 10px;' id='params'></div>

{{ htModal.widgetMiddle() }}
	<button class="fe-btn fe-btn--md fe-btn--secondary" id="tpCancel" aria-label="Cancel"><span> Cancel </span></button>
	<button class="fe-btn fe-btn--md fe-btn--primary" id="tpSubmit" aria-label="Click"><span> Submit </span></button>
{{ htModal.widgetFooter() }}

{{ htPanel.widgetHeader("Task profiles", panelIcon="fa-table") }}
	<table id='taskprofileTable' class='hxtool_table' style='width: 100%;'></table>
{{ htPanel.widgetFooter() }}

{% endblock %}