<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.colReorder.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.scroller.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.jqueryui.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/datatables_parser.js') }}"></script>
	<script defer src="{{ url_for('static', filename='fontawesome/on-server/js/fontawesome-all.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}" />
	<script type="text/javascript" src="/static/progress.js"></script>
	<script type="text/javascript" src="/static/jquery.multi-select.js"></script>
	<script type="text/javascript" src="/static/datetimepicker/moment.min.js"></script>
	<script type="text/javascript" src="/static/datetimepicker/daterangepicker.js"></script>
	<script src="/static/vega/vega.min.js"></script>
	<script src="/static/vega/vega-lite.min.js"></script>
	<script src="/static/vega/vega-embed.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/ht.css">
    <link rel="stylesheet" type="text/css" href="static/datetimepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="static/ht_layout.css">
	<link rel="stylesheet" type="text/css" href="static/multi-select.css">
	<link rel="stylesheet" href="static/fontawesome/on-server/css/fontawesome.min.css">
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
	<script>

		// Function to check if current HX version is equal or greater than a specific version
		function checkVersion(version) {
			myVersionArr = version.split(".");
			currversion = JSON.parse("{{session['hx_version']}}");

			if (currversion[0] >= myVersionArr[0] && currversion[1] >= myVersionArr[1] && currversion[2] >= myVersionArr[2]) {
				return true;
			}
			else {
				return false;
			}
		}

		function showPopup(height, width, url, elementToRestrict, includeWidthRestriction=false) {
			$('#shader').popupshow();
			$('#ht_popup_div').css({height : height });
			$('#ht_popup_div').css({width : width });
			$('#ht_popup_div').realcenter();
			$('#ht_popup_div').load(url, function( response, status, xhr ) {
				$('#ht_popup_div').show(200);
				// Force passed div to fit inside the popup
				if ('#' + elementToRestrict) {
					$('#' + elementToRestrict).css('height', height - 30);
					$('#' + elementToRestrict).css('overflowY', 'auto');
					if (includeWidthRestriction) {
						$('#' + elementToRestrict).css('width', width);
						$('#' + elementToRestrict).css('overflowX', 'auto');
					}
				}
				$('#popupCancel').click(function(e) {
					$('#ht_popup_div').hide();
					$('#ht_popup_div').empty();
					$('#shader').hide();
				});
			});
		}

		function showStatusBar(text, showTimer, hideTimer, duration) {
			$("#ht_statusbar_td").html(text);
			$("#ht_statusbar_tr").show(showTimer);
			setTimeout(function() { $("#ht_statusbar_tr").hide(hideTimer); }, duration);
		}
		
		function enableStatusBar(text, showTimer, myClass) {
			$("#ht_statusbar_div").html(text);
			$("#ht_statusbar_div").addClass(myClass);
			$("#ht_statusbar_div").slideDown(showTimer);
		}

		function enableStatusBarLive(text, showTimer, myClass) {
			$("#ht_statusbar_div").html(text);
			$("#ht_statusbar_div").addClass(myClass);
			$("#ht_statusbar_div").slideDown(showTimer, function() {
				setTimeout(function(){
					$("#ht_statusbar_div").slideUp(showTimer, function() {
						$("#ht_statusbar_div").html("");
					});
				}, 3000);
			});
		}
		
		function disableStatusBar(hideTimer) {
			$("#ht_statusbar_div").slideUp(hideTimer, function() {
					$("#ht_statusbar_div").html("");
			});
		}

		function getQueryParam(param) {
			var ret = '';
			location.search.substr(1)
				.split("&")
				.some(function(item) {
					parts = item.split('=');
					if (parts[0] == param) {
						ret = parts[1];
					}
				})
			return ret;
		}
		
		(function($){
			$.fn.extend({
				center: function () {
					return this.each(function() {
						var top = ($(window).height() - $(this).outerHeight()) / 2;
						var left = ($(window).width() - $(this).outerWidth()) / 2;
						$(this).css({position:'absolute', margin:0, top: (top > 0 ? top : 0)+'px', left: (left > 0 ? left : 0)+'px'});
					});
				}
			}); 
		})(jQuery);

		jQuery.fn.realcenter = function () {
 			this.css("position","absolute");
			this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
			this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
			return this;
		}

		jQuery.fn.popupshow = function () {
 			this.css("height", $(document).height());
 			this.show();
			return this;
		}

		$(document).on("keypress", "#findhost", function(e) {
			if (e.which == 13) {
				window.location.href = "/hosts?q=" + $("#findhost").val();
			}
		});
		
		$(document).ready(function() {

			/*
			alive = setInterval(function () {
				$.getJSON('/api/v1/getHealth', function(health) {
					if (health.status == "OK") {
						$("#ht_info").css("color", "#0f9b3b");
					}
					else {
						$("#ht_info").css("color", "#ba190b");
					}
				});
			}, 5000);
			*/

			$('[id^=navbutton]').click(function() {
				url = this.id.split("_");
				window.location.replace("/" + url[1]);
			});

			$('#ht_info').click(function(e) {
				$('#ht_info_content').show(150);
				e.stopPropagation();
			});
			
			$(document).click(function() {
				$("#dropdown-content-indicators").hide();
				$("#dropdown-content-admin").hide();
				$("#dropdown-content-acquisition").hide();
				$("#dropdown-content-es").hide();
				$('#ht_info_content').hide();
				$("#dropdown-content-dashboard").hide();
				$('#htLayoutTopBarMenuContainer').children('div').each(function () {
					$(this).css({"border": "1px solid transparent"});
				});
			});
			
			$('[id^=dropdown-content]').click(function(e) {
				 e.stopPropagation();
			});

			$("#navcategory_acquisition").click(function(e) {

				$('#htLayoutTopBarMenuContainer').children('div').each(function () {
					$(this).css({"border": "1px solid transparent"});
				});

				$("#dropdown-content-admin").hide();
				$("#dropdown-content-indicators").hide();
				$("#dropdown-content-es").hide();
				$("#dropdown-content-dashboard").hide();
				$('#ht_info_content').hide();

				$(this).css({"border-top": "1px solid #151515"});
				$(this).css({"border-left": "1px solid #151515"});
				$(this).css({"border-right": "1px solid #151515"});
				$(this).css({"border-bottom": "1px solid #eee"});

				$("#dropdown-content-acquisition").show(0);

				e.stopPropagation();
			});
			
			$("#navcategory_indicator").click(function(e) {

				$('#htLayoutTopBarMenuContainer').children('div').each(function () {
					$(this).css({"border": "1px solid transparent"});
				});

				$("#dropdown-content-admin").hide();
				$("#dropdown-content-acquisition").hide();
				$("#dropdown-content-es").hide();
				$("#dropdown-content-dashboard").hide();
				$('#ht_info_content').hide();

				$(this).css({"border-top": "1px solid #151515"});
				$(this).css({"border-left": "1px solid #151515"});
				$(this).css({"border-right": "1px solid #151515"});
				$(this).css({"border-bottom": "1px solid #eee"});

				$("#dropdown-content-indicators").show(0);
				e.stopPropagation();
			});

			$("#navcategory_admin").click(function(e) {

				$('#htLayoutTopBarMenuContainer').children('div').each(function () {
					$(this).css({"border": "1px solid transparent"});
				});

				$("#dropdown-content-indicators").hide();
				$("#dropdown-content-acquisition").hide();
				$("#dropdown-content-es").hide();
				$("#dropdown-content-dashboard").hide();
				$('#ht_info_content').hide();

				$(this).css({"border-top": "1px solid #151515"});
				$(this).css({"border-left": "1px solid #151515"});
				$(this).css({"border-right": "1px solid #151515"});
				$(this).css({"border-bottom": "1px solid #eee"});

				$("#dropdown-content-admin").show(0);
				e.stopPropagation();
			});

			$("#navcategory_es").click(function(e) {

				$('#htLayoutTopBarMenuContainer').children('div').each(function () {
					$(this).css({"border": "1px solid transparent"});
				});

				$("#dropdown-content-admin").hide();
				$("#dropdown-content-indicators").hide();
				$("#dropdown-content-acquisition").hide();
				$("#dropdown-content-dashboard").hide();
				$('#ht_info_content').hide();

				$(this).css({"border-top": "1px solid #151515"});
				$(this).css({"border-left": "1px solid #151515"});
				$(this).css({"border-right": "1px solid #151515"});
				$(this).css({"border-bottom": "1px solid #eee"});

				$("#dropdown-content-es").show(0);
				e.stopPropagation();
			});

			$("#navcategory_dashboard").click(function(e) {

				$('#htLayoutTopBarMenuContainer').children('div').each(function () {
					$(this).css({"border": "1px solid transparent"});
				});

				$("#dropdown-content-admin").hide();
				$("#dropdown-content-indicators").hide();
				$("#dropdown-content-acquisition").hide();
				$("#dropdown-content-es").hide();
				$('#ht_info_content').hide();

				$(this).css({"border-top": "1px solid #151515"});
				$(this).css({"border-left": "1px solid #151515"});
				$(this).css({"border-right": "1px solid #151515"});
				$(this).css({"border-bottom": "1px solid #eee"});

				$("#dropdown-content-dashboard").show(0);
				e.stopPropagation();
			});
			
		});
	</script>

	<div class='ht_statusbar_div' id='ht_statusbar_div'></div>
	<div class='ht_popup_div' id='ht_popup_div'></div>
	<div class='shader' id='shader' style='display: none;'>&nbsp;</div>

	<div class='htLayoutTopBarMenuContainer' id='htLayoutTopBarMenuContainer'>

		<div id='navcategory_dashboard' style='float: left; position: relative;' class='htLayoutMenuItem'>Dashboard <i class="fas fa-angle-down fa-1x" aria-hidden="true"></i>
			<div id='dropdown-content-dashboard' class='htLayoutDropdown-content'>
				<div id='navbutton_' class='htLayoutDropdown-item'>
					<i class="fas fa-chart-line fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Main Dashboard
				</div>
				<div id='navbutton_dashboard-av' class='htLayoutDropdown-item'>
					<i class="fas fa-bug fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Anti-virus Dashboard
				</div>
			</div>				
		</div>

		<!-- <div id='navbutton_' style='float: left;' class='htLayoutMenuItem'>Dashboard</div> -->
		<div id='navbutton_alert' style='float: left;' class='htLayoutMenuItem'>Alerts</div>

		<div id='navcategory_es' style='float: left; position: relative;' class='htLayoutMenuItem'>Enterprise Search <i class="fas fa-angle-down fa-1x" aria-hidden="true"></i>
			<div id='dropdown-content-es' class='htLayoutDropdown-content'>
				<div id='navbutton_search' class='htLayoutDropdown-item'>
					<i class="fas fa-search fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					OpenIOC search
				</div>
				<div id='navbutton_openioc' class='htLayoutDropdown-item'>
					<i class="fas fa-code-branch fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Manage OpenIOC 1.1
				</div>
			</div>				
		</div>

		<div id='navcategory_acquisition' style='float: left; position: relative;' class='htLayoutMenuItem'>Acquisition <i class="fas fa-angle-down fa-1x" aria-hidden="true"></i>
			<div id='dropdown-content-acquisition' class='htLayoutDropdown-content'>
				<div id='navbutton_scriptbuilder' class='htLayoutDropdown-item'>
					<i class="fas fa-keyboard fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Script builder
				</div>
				<div id='navbutton_scripts' class='htLayoutDropdown-item'>
					<i class="fas fa-code fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Manage Scripts
				</div>
				<div id='navbutton_acqs' class='htLayoutDropdown-item'>
					<i class="fas fa-list-ul fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Acquisitions
				</div>
				<div id='navbutton_bulkacq' class='htLayoutDropdown-item'>
					<i class="fas fa-th-list fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Bulk Acquisitions
				</div>
				<div id='navbutton_multifile' class='htLayoutDropdown-item'>
					<i class="fas fa-copy fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Multi-File Acquisitions
				</div>
				<div id='navbutton_stacking' class='htLayoutDropdown-item'>
					<i class="fas fa-object-group fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Data Stacking
				</div>
				<div id='navbutton_taskprofile' class='htLayoutDropdown-item'>
					<i class="fas fa-database fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Task profiles
				</div>
			</div>				
		</div>
		
		<div id='navcategory_indicator' style='float: left; position: relative;' class='htLayoutMenuItem'>Indicators <i class="fas fa-angle-down fa-1x" aria-hidden="true"></i>
			<div id='dropdown-content-indicators' class='htLayoutDropdown-content'>
				<div id='navbutton_rtioc' class='htLayoutDropdown-item'>
					<i class="fas fa-file-code fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Build Indicator
				</div>
				<div id='navbutton_indicators' class='htLayoutDropdown-item'>
					<i class="fas fa-list-ul fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Manage Indicators
				</div>
				<div id='navbutton_categories' class='htLayoutDropdown-item'>
					<i class="fas fa-list-ul fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Manage Categories
				</div>
			</div>				
		</div>

		<div id='navbutton_scheduler' style='float: left;' class='htLayoutMenuItem'>Scheduler</div>

		<div id='navcategory_admin' style='float: left; position: relative; border-right: none;' class='htLayoutMenuItem'>Admin <i class="fas fa-angle-down fa-1x" aria-hidden="true"></i>
			<div id='dropdown-content-admin' class='htLayoutDropdown-content'>
				<div id='navbutton_channels' class='htLayoutDropdown-item'>
					<i class="fas fa-lock fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					Custom Config Channels
				</div>
				<div id='navbutton_settings' class='htLayoutDropdown-item'>
					<i class="fas fa-wrench fa-1x fa-fw" style='margin-right: 2px;' aria-hidden="true"></i>
					HXTool Settings
				</div>
			</div>
		</div>
	</div>
	<div class='htLayoutTopBarMenuFindAHost'>
		<span class='htLayoutTopBarMenuTextSpan'>Find a host</span>
		<input type='text' id='findhost' style='width: 200px;'>
	</div>

	<div class='htLayoutTopBarMenuBox'></div>
	<div style='position: absolute; left: 0; top: 0; z-index: 30; width: 100%;'>
		<div class='htLayoutTopBarBox' style='float: left; border-right: none;'>
			<img src='/static/fireeye.svg' class='htLayoutTopBarLogo'>
			<div class='htLayoutTopBarLogoText'>HXTool</div>
			<i class="htLayoutTopBarLogoIcon fas fa-search fa-2x fa-fw" aria-hidden="true"></i>
		</div>
		<!-- <div class='htLayoutTriangle-topleft'>▼</div> -->
		<div class='htLayoutTriangle-topleft' style='float: left;'></div>
		<div class='htLayoutTopBarBox' style='float: right; border-left: none; right: 0;'>
			<div style='float: right; margin-top: 12px;'>
				<a class='htLayoutLinkIcon' href='#' id='ht_info'><i class="fas fa-info fa-2x htLayoutPadIcon" aria-hidden="true"></i></a>
				<div id='ht_info_content' class='htLayoutPopup'>
					<b>User:</b> {{ user }} <br>
					<b>Controller:</b> {{ controller }}<br>
					<b>HXTool version</b> 4.0<br>
					<b>Controller version:</b> {{ session['hx_version'] }}
				</div>
				<!-- <a href='#' id='ht_search'><i class="fas fa-search fa-2x htLayoutPadIcon" aria-hidden="true"></i></a> -->
				<a class='htLayoutLinkIcon' href='/settings'><i class="fas fa-cog fa-2x htLayoutPadIcon" aria-hidden="true"></i></a>
				<a class='htLayoutLinkIcon' href='/logout'><i class="fas fa-power-off fa-2x htLayoutPadIcon" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class='htLayoutTriangle-topright' style='float: right;'></div>
	</div>
	<div style='margin-top: 80px; width: 100%; max-width: inherit;'>{% block content %}{% endblock %}</div>
</body>
</html>