<html>
<head>
    <title>{% block title %}{% endblock %}</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.colReorder.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.scroller.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.jqueryui.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}" />
	
	
	<script type="text/javascript" src="/static/raphael-min.js"></script>
	<script type="text/javascript" src="/static/morris.min.js"></script>
	<script type="text/javascript" src="/static/progress.js"></script>
	<script type="text/javascript" src="/static/jquery.multi-select.js"></script>
    <link rel="stylesheet" type="text/css" href="static/ht.css">
	<link rel="stylesheet" type="text/css" href="static/multi-select.css">
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>

<script>

	function showPopup(height, width, url) {
		$('#shader').show();
		$('#ht_popup_div').css({height : height });
		$('#ht_popup_div').css({width : width });
		$('#ht_popup_div').center();
		$('#ht_popup_div').load(url, function( response, status, xhr ) {
			$('#ht_popup_div').show(200);
			$('#popupCancel').click(function(e) {
				$('#ht_popup_div').hide();
				$('#shader').hide();
			});
		});
	}

	function showStatusBar(text, showTimer, hideTimer, duration) {
		$("#ht_statusbar_td").html(text);
		$("#ht_statusbar_tr").show(showTimer);
		setTimeout(function() { $("#ht_statusbar_tr").hide(hideTimer); }, duration);
	}
	
	function enableStatusBar(text, showTimer, myClass) {
		$("#ht_statusbar_div").html(text);
		$("#ht_statusbar_div").addClass(myClass);
		$("#ht_statusbar_div").slideDown(showTimer);
	}
	
	function disableStatusBar(hideTimer) {
		$("#ht_statusbar_div").slideUp(hideTimer, function() {
				$("#ht_statusbar_div").html("");
		});
	}

	function getQueryParam(param) {
		location.search.substr(1)
			.split("&")
			.some(function(item) { // returns first occurence and stops
				return item.split("=")[0] == param && (param = item.split("=")[1])
			})
	return ''
	}
	
	(function($){
		$.fn.extend({
			center: function () {
				return this.each(function() {
					var top = ($(window).height() - $(this).outerHeight()) / 2;
					var left = ($(window).width() - $(this).outerWidth()) / 2;
					$(this).css({position:'absolute', margin:0, top: (top > 0 ? top : 0)+'px', left: (left > 0 ? left : 0)+'px'});
				});
			}
		}); 
	})(jQuery);

	$(document).on("keypress", "#findhost", function(e) {
		if (e.which == 13) {
			window.location.href = "/hosts?q=" + $("#findhost").val();
		}
	});
	
	$(document).ready(function() {
		$('[id^=navbutton]').click(function() {
			url = this.id.split("_");
			window.location.replace("/" + url[1]);
		});
		
		$("#navcategory_indicator").click(function() {
			$("#dropdown-content-indicators").show(200);
		});
		
	});
</script>

	<div class='ht_statusbar_div' id='ht_statusbar_div'></div>
	<div class='ht_popup_div' id='ht_popup_div'></div>
	<div class='shader' id='shader' style='display: none;'>&nbsp;</div>
	<table cellpadding=0 cellspacing=0 class='ht_main_table'> 
		<tr>
			<td class='ht_main_table_top_td'>
				<a href='/?time=week'><img style='height: 58px; margin-left: 25px; margin-right: 20px; float: left;' src='/static/fireeye.svg'></a>
				<div style='position: absolute; left: 120px; top: 45px; font-size: 12px; font-weight: bold;'>HXTool v3.0</div>
				
				<div id='navbutton_?time=week' style='float: left;' class='ht_nav_table_cell'>Dashboard</div>
				<div id='navbutton_alerts?acount=30' style='float: left;' class='ht_nav_table_cell'>Alerts</div>
				<div id='navbutton_search' style='float: left;' class='ht_nav_table_cell'>Enterprise Search</div>
				<div id='navbutton_bulk' style='float: left;' class='ht_nav_table_cell'>Bulk Acquisitions</div>
				<div id='navbutton_stacking' style='float: left;' class='ht_nav_table_cell'>Data Stacking</div>
				<div id='navbutton_channels' style='float: left;' class='ht_nav_table_cell'>Config Channels</div>
				<div id='navcategory_indicator' style='float: left; position: relative; border-right: none;' class='ht_nav_table_cell'>Indicators
					<div id='dropdown-content-indicators' class='dropdown-content'>
						<div id='navbutton_buildioc' style='' class='ht_nav_table_cell_sub'>Build</div>
						<div id='navbutton_indicators' style='' class='ht_nav_table_cell_sub'>Manage</div>
						<div id='navbutton_categories' style='' class='ht_nav_table_cell_sub'>Categories</div>
					</div>				
				</div>
								
				<div style='color: rgb(81, 87, 97); text-align: right; float: right;'>
				
				<span class='ht_nav_span'>Find a host</span>
				<input type='text' id='findhost' style='width: 200px;'>
				&nbsp;|&nbsp;
				<a class='ht_nav_a' href='/settings'>Settings</a>
				&nbsp;|&nbsp;
				<b>User:</b> {{ user }}
				&nbsp;&nbsp;
				<b>Controller:</b> {{ controller }}
				
				<a style='color: rgb(81, 87, 97);' href='/logout'><img alt='logout' class='logoutIcon' src='/static/ico/power.jpg'></a>
				
				</div>
				<div style='clear: both;'></div>
			</td>
		</tr>
		<!-- Main content -->
		<tr id='ht_main_table_main_tr'>
			<td class='ht_main_table_main_td' id='ht_main_table_main_td'>
				<div id='mainWrapper'>
				{% block content %}{% endblock %}
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
