{% import 'widget-radio.html' as htRadio %}
{% import 'widget-dropdown.html' as htDropdown %}
{% import 'widget-input.html' as htInput %}

{% macro widgetHeader() -%}
<script language="javascript">
$(document).ready(function() {
	jQuery('#run_at_value').daterangepicker({
			singleDatePicker: true,
			autoApply: true,
			timePicker: true,
			timePicker24Hour: true,
			buttonClasses: "fe-btn fe-btn--md",
			applyButtonClasses: "fe-btn--primary",
			cancelButtonClasses: "fe-btn--secondary",
			locale: {
				format: 'YYYY-MM-DD HH:mm:ss',
				firstDay: 1
			}
	});
	
	jQuery('#interval_start_value').daterangepicker({
			singleDatePicker: true,
			autoApply: true,
			timePicker: true,
			timePicker24Hour: true,
			buttonClasses: "fe-btn fe-btn--md",
			applyButtonClasses: "fe-btn--primary",
			cancelButtonClasses: "fe-btn--secondary",
			locale: {
				format: 'YYYY-MM-DD HH:mm:ss',
				firstDay: 1
			}
	});
});
</script>
<h3 class='hxtool_typography_h3 hxtool_typography_underline'>Schedule</h3>
<div class='hxtool_panel_wrapper'>
	{{ htRadio.widgetHeader("Run now", "run_now", "schedule", "schedule", elementChecked="true") }}	
	<div style='float: left; width: 35%; margin-top: 1%;'>
		{{ htRadio.widgetHeader("Run at a specific date/time", "run_at", "schedule", "schedule", elementChecked="false") }}
	</div>
	<div style='margin-left: 35%; width: 25%;'>
		{{ htInput.widget("", elementId="run_at_value") }}
	</div>
	{{ htRadio.widgetHeader("Run on an interval", "run_interval", "schedule", "schedule", elementChecked="false") }}
	<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>				
				<div style='float: left; width: 15%;'>
					{{ htInput.widget("Every", elementId="interval_value") }}
				</div>
				<div style='margin-left: 16%; padding-top: 1%;'>
					{{ htDropdown.widgetHeader("Select an interval unit", "interval_unit", "false") }}
						{{ htDropdown.widgetItem("Second(s)", "second") }}
						{{ htDropdown.widgetItem("Minute(s)", "minute") }}
						{{ htDropdown.widgetItem("Hour(s)", "hour") }}
						{{ htDropdown.widgetItem("Week(s)", "week") }}
						{{ htDropdown.widgetItem("Month(s)", "month") }}
					{{ htDropdown.widgetFooter(elementLabel="") }}
				</div>
				<br />
			Starting 
			<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>		
				{{ htRadio.widgetHeader("Now", "interval_start_now", "interval_start", "interval_start", elementChecked="true") }}
				<div style='float: left; width: 33%; margin-top: 1%;'>
					{{ htRadio.widgetHeader("At a specific date/time", "interval_start_at", "interval_start", "interval_start", elementChecked="false") }}
				</div>
				<div style='margin-left: 33%; width: 25%;'>
					{{ htInput.widget("", elementId="interval_start_value") }}
				</div>
			</div>
	</div>
</div>
{% endmacro %}