{% import 'widget-radio.html' as htRadio %}

{% macro widgetHeader() -%}
<script language="javascript">
$(document).ready(function() {
	jQuery('#run_at_value').daterangepicker({
			singleDatePicker: true,
			autoApply: true,
			timePicker: true,
			timePicker24Hour: true,
			buttonClasses: "fe-btn fe-btn--md",
			applyButtonClasses: "fe-btn--primary",
			cancelButtonClasses: "fe-btn--secondary",
			locale: {
				format: 'YYYY-MM-DD HH:mm:ss',
				firstDay: 1
			}
	});
	
	jQuery('#interval_start_value').daterangepicker({
			singleDatePicker: true,
			autoApply: true,
			timePicker: true,
			timePicker24Hour: true,
			buttonClasses: "fe-btn fe-btn--md",
			applyButtonClasses: "fe-btn--primary",
			cancelButtonClasses: "fe-btn--secondary",
			locale: {
				format: 'YYYY-MM-DD HH:mm:ss',
				firstDay: 1
			}
	});
});
</script>
<h3 class='hxtool_typography_h3 hxtool_typography_underline'>Schedule</h3>
<div class='hxtool_panel_wrapper'>
	{{ htRadio.widgetHeader("Run now", "run_now", "schedule", "schedule", elementChecked="true") }}
	{{ htRadio.widgetHeader("Run at a specific date/time", "run_at", "schedule", "schedule", elementChecked="false") }}
	<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px; width: 150px;'>
		<input type='text' class="fe-input" id='run_at_value' name='run_at_value'>
	</div>

	{{ htRadio.widgetHeader("Run on an interval", "run_interval", "schedule", "schedule", elementChecked="false") }}
	<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px;'>				
		<span>
			Every
			<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px; width: 75px;'>
				<input type='text' class="fe-input" id='interval_value' name='interval_value'>
			</div>
			<select class="hxtool_input_select fe-input" name='interval_unit' id='interval_unit' style='width: 150px; display: inline-block;'>
				<option value='second'>Second(s)
				<option value='minute'>Minute(s)
				<option value='hour'>Hour(s)
				<option value='week'>Week(s)
				<option value='month'>Month(s)
			</select>
		<br />
		Starting: {{ htRadio.widgetHeader("Now", "interval_start_now", "interval_start", "interval_start", elementChecked="true") }}
		{{ htRadio.widgetHeader("At a specific date/time", "interval_start_at", "interval_start", "interval_start", elementChecked="false") }}
			<div style='margin-left: 24px; margin-bottom: 12px; margin-top: 6px; width: 150px;'>
				<input type='text' class="fe-input" id='interval_start_value' name='interval_start_value'>
			</div>
		</span>		
	</div>
</div>
{% endmacro %}