{% macro widgetHeader(modalTitle, modalId="") -%}
	<div id="{{modalId}}" class="fe-modal" role="dialog" aria-modal="true">
		<div class="fe-modal__dialog fe-modal__dialog--medium">
			<div class="fe-modal__content">
				<div>
					<div class="fe-modal__header">
						<h4 class="fe-modal__title">{{modalTitle}}</h4>
						<button class="fe-modal-close" name="button" type="button">
							<i class="fe-icon--center fal fa-times"></i>
						</button>
					</div>
				</div>
				<div class="fe-modal__body">
{% endmacro %}

{% macro widgetMiddle() -%}
				</div>
				<div class="fe-modal__footer clearfix">
{% endmacro %}

{% macro widgetFooter() -%}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}