//Icon
$fe-icon--margin: 0px 0px 0px 0px;
$fe-icon--padding: 0px;
$fe-icon--font-size: inherit;
$fe-icon--height: auto;
$fe-icon--width: auto;

$fe-icon--left-margin: 0px 4px 0px 0px;
$fe-icon--right-margin: 0px 0px 0px 4px;
