$fe-pill-box--margin: 0px;
$fe-pill-box--padding: 0px 8px;
$fe-pill-box--font-size: 12px;
$fe-pill-box--height: 24px;
$fe-pill-box--width: auto;
$fe-pill-box--border-radius: 12px;

$fe-pill-box--with-icon--padding: 0px 0px 0px 8px;
$fe-pill-box--icon--padding: 0px 4px;
